extends /_templates/layout.pug
include /_templates/mixins.pug

block content

    if self.data.programmes
        main.grid_articles
            each val in self.data.programmes
                if val.name
                    a(href= `/${lang_path}${val.path}`).card_article
                        .container_frame_16_9
                            //- Kuvame esimest pilti kui on
                            if val.images && val.images[0]
                                img.container_contents_16_9(src=`https://assets.poff.ee/img/${val.images[0].hash}${val.images[0].ext}`)
                            else
                                img.container_contents_16_9(src='/assets/img/static/placeholder_hd_1.jpg')

                        if val.name && typeof val.name !== 'object'
                            .card_article_title
                                //- p.keywords_left=val.tagKeyword
                                h3.article_title_locale= val.name
                                //- h1= 'TÜÜBID: ' + artTypes + ' PUBLISH: ' + val.publish + ' TITLE: ' + val.title + ' - Type slug: ' + artTypeForPath + 'titlelen: ' + val.title.length

                        .card_article_lead
                            if val.description && typeof val.description !== 'object'
                                .article_lead=val.description
                            //- else
                            //-     if val.contents
                            //-         .article_lead=val.contents




