extends /_templates/layout.pug
include /_templates/mixins.pug

block content

    //- Milliseid screening type kuvada, kõikide kuvamiseks []
    //- Ühe, nt first screening kuvamiseks:
    //- - const whichScreeningTypesToDisplay = ['first screening']
    //- Mitme kuvamiseks:
    - const whichScreeningTypesToDisplay = ['first screening', 'regular', 'online kino']
    //- - const whichScreeningTypesToDisplay = ['first screening', 'online kino']
    //- - const whichScreeningTypesToDisplay = []

    if self.data.screenings
        main.grid_films
            -
                var sortFunction = function(a, b) {
                    if (a.dateTime) {
                        var aSortSource = a.dateTime
                    }
                    if (b.dateTime) {
                        var bSortSource = b.dateTime
                    }
                    return (aSortSource > bSortSource) ? 1 : ((bSortSource > aSortSource) ? -1 : 0)
                }

            each screening in self.data.screenings.sort(sortFunction)
                -
                    var screeningNames = function(item) {
                        let itemNames = item.name
                        return itemNames
                    }
                if ( screening.screening_types && screening.screening_types.map(screeningNames).some(ai => whichScreeningTypesToDisplay.includes(ai.toLowerCase())) ) || whichScreeningTypesToDisplay.length === 0

                    - var allFestivalEditions = []
                    if screening.cassette
                        - var cassette = screening.cassette
                    if cassette.festival_editions
                        each edition in cassette.festival_editions
                            - allFestivalEditions.push(edition.name)
                    a.card_film(id= cassette.id href= `/${lang_path}film/${cassette.slug}`)
                        .container_frame_16_9


                            //- PILDID
                            if cassette.films && cassette.films.length > 1
                                if screening.cassetteCarouselPicsCassette && screening.cassetteCarouselPicsCassette[0]
                                    img.container_contents_16_9(src= screening.cassetteCarouselPicsCassette[0] alt= cassette.title)
                                else if screening.cassetteCarouselPicsFilms && screening.cassetteCarouselPicsFilms[0]
                                    img.container_contents_16_9(src= screening.cassetteCarouselPicsFilms[0] alt= cassette.title)
                                else
                                    img.container_contents_16_9(src='/assets/img/static/placeholder_hd_1.jpg' alt= cassette.title)
                            else if cassette.films && cassette.films.length === 1 && screening.cassetteCarouselPicsFilms
                                img.container_contents_16_9(src= screening.cassetteCarouselPicsFilms[0] alt= cassette.title)
                            else
                                img.container_contents_16_9(src='/assets/img/static/placeholder_hd_1.jpg' alt= cassette.title)
                        .card_film_title

                            //- Eeldame, et screeningul on datetime
                            if screening.dateTime

                                //- h3.film_title_locale.dark_1= `${screening.id} - ${screening.dateTime}`

                                //- Kuvame kassetipealkirja
                                h3.film_title_locale.dark_1= cassette.title
                                    p(id= cassette.id+'nupp' style={color: 'red', display:'none'})

                                //- Kuvame screeningtypes
                                if screening.screening_types
                                    span= screening.screening_types.map(screeningNames).join(', ')
                                    br
                                //- Aeg
                                span
                                    +screeningDateEET(screening.dateTime)
                                span
                                    +screeningTimeEET(screening.dateTime)
                                br

                                //- Koht
                                if screening.location && screening.location.hall && screening.location.hall.name
                                    if screening.location.hall && screening.location.hall.name
                                        span.film_title_locale.dark_1= screening.location.hall.name
                                        if screening.location.hall.cinema && screening.location.hall.cinema.name
                                            span.film_title_locale.dark_1= ` ${screening.location.hall.cinema.name}`
                                            if screening.location.hall.cinema.town && screening.location.hall.cinema.town.name && screening.location.hall.cinema.town.country && screening.location.hall.cinema.town.country.name
                                                span.film_title_locale.dark_1= ` ${screening.location.hall.cinema.town.name}, ${screening.location.hall.cinema.town.country.name}`

                                //- Kui ühefilmikassett
                                if screening.cassette && screening.cassette.films && screening.cassette.films.length === 1
                                    - var film = screening.cassette.films[0]
                                    if screening.cassette.films[0].tags
                                        - var tags = screening.cassette.films[0].tags
                                        if tags.keywords && tags.keywords[0]
                                            //- Kuvame filmi tag keyworde
                                            .str_info_meta_label.dark_1= self.label.film.genre
                                            .str_info_meta_festival.dark_1= tags.keywords.join(', ')

                                    //- Riigid algus
                                    if film.orderedCountries
                                        -
                                            var countriesNames = function(item) {
                                                if(item.country && item.country.name) {
                                                    var itemNames = item.country.name
                                                    return itemNames
                                                }
                                            }

                                        //- Riigid
                                        .str_info_grid_3
                                            - var sortCountries = film.orderedCountries.sort(function(a, b){ return (a.order > b.order) ? 1 : ((b.order > a.order) ? -1 : 0); })
                                            .str_info_label.dark_semi= self.label.film.countries
                                            - var mapCountries = sortCountries.map(countriesNames)
                                            .str_info_value.dark_1.thin_300= mapCountries.join(', ')

                                    //- Directorid
                                    if film && film.credentials && film.credentials.rolePersonsByRole
                                        if film.credentials.rolePersonsByRole.director && film.credentials.rolePersonsByRole.director[0]
                                            .str_info_grid_3
                                                .str_info_label.dark_semi= self.label.film.director
                                                .str_info_value.dark_1.thin_300= film.credentials.rolePersonsByRole.director.join(', ')

                        //- Programmid
                        .card_film_info
                            .str_info_grid_3
                                if cassette.films && cassette.films.length
                                    - var filmsProgrammes = []
                                    each film in cassette.films
                                        if film.tags && film.tags.programmes && film.tags.programmes.length
                                            each programme in film.tags.programmes
                                                if programme.name
                                                    - filmsProgrammes.push(programme.name)
                                    if filmsProgrammes.length
                                        - var uniqueProgrammes = [...new Set(filmsProgrammes)];
                                        .str_info_label.dark_semi= self.label.film.programme
                                        .str_info_value.dark_1.thin_300= uniqueProgrammes.join(', ')
