extends /_templates/layout.pug
include /_templates/mixins.pug

block content

    //- SIIA ALLA KÕIK ARTIKLITÜÜBID (STRAPI "NAME" lahtri järgi) MIDA KUVADA
    //- AINULT VÄIKETÄHTEDES!!!
    - var whichTypesToDisplay = ['sponsor_story'];

    if self.data.articles
        main.grid_sponsor_stories
            - var sortFunction = function(a, b) {
            -   if(a.publishFrom) {
            -       var aSortSource = a.publishFrom
            -   } else {
            -       var aSortSource = a.created_at
            -   }
            -   if (b.publishFrom) {
            -       var bSortSource = b.publishFrom
            -   } else {
            -       var bSortSource = b.created_at
            -   }
            -   return (aSortSource > bSortSource) ? -1 : ((bSortSource > aSortSource) ? 1 : 0);
            - }
            each val in self.data.articles.sort(sortFunction)
                - var artTypes = []
                - var artTypeForPath = '';
                if val.article_types && val.article_types[0]

                    each artType in val.article_types
                        - artTypes.push(artType.name.toLowerCase())
                        if artType.name.toLowerCase() === whichTypesToDisplay[0]
                            - artTypeForPath = artType.slug.toLowerCase()
                        else if whichTypesToDisplay.includes(artType.name.toLowerCase())
                            - artTypeForPath = artType.slug.toLowerCase()

                if val.publish && artTypes.some(ai => whichTypesToDisplay.includes(ai))
                    - var currentTime = new Date()
                        if typeof(val.publishFrom) === 'undefined'
                            - var publishFrom= new Date(val.created_at)
                        else
                            - var publishFrom= new Date(val.publishFrom)

                        if val.publishUntil
                            - var publishUntil = new Date(val.publishUntil)

                        if (currentTime > publishFrom)
                            if (!publishUntil || (publishUntil && (publishUntil > currentTime)))


                            if val.title && val.title.length > 1
                                - var article_slug = val.slug
                                a(href= `/${lang_path}${artTypeForPath}/${val.slug}`).card_sponsor
                                    .container_frame_square
                                        if val.primaryImage
                                            img.container_contents_square(src=`https://assets.poff.ee/img/${val.primaryImage}`)
                                        else
                                            img.container_contents_square(src='/assets/img/static/placeholder_hd_1.jpg')

                                    if val.title
                                        .card_article_title
                                            h3.article_title_locale.text_right= val.title
                                            //- h1= 'TÜÜBID: ' + artTypes + ' PUBLISH: ' + val.publish + ' TITLE: ' + val.title + ' - Type slug: ' + artTypeForPath + 'titlelen: ' + val.title.length

                                    .card_article_lead
                                        if val.lead
                                            .article_lead=val.lead
                                        //- else
                                        //-     if val.contents
                                        //-         .article_lead=val.contents





