extends /_templates/layout.pug
include /_templates/mixins.pug

block content

    section.login_head
        div#serverSideErrors
            div#errorNotificationBar(style={display:'none'})= self.label.userprofile.strapiError
            div#failedToFetch(style={display:'none'})= self.label.userprofile.failedToFetch
            div#authorizeRequestFailed(style={display:'none'})= self.label.userprofile.authorizeRequestFailed


        h4#fromUserProfile(style={display:'none'})= self.label.userprofile.redirectFromUserprofileMessage
        h4#fromMyPoff(style={display:'none'})= self.label.userprofile.redirectFromMyPoffMessage
        h4#fromFavo(style={display:'none'})= self.label.userprofile.redirectFromFavouritesMessage

    section.grid_login
        if process.env['DOMAIN'] !== 'industry.poff.ee'

            .login_password

                h4.dark_1.login_headline#loginMessage= self.label.userprofile.loginPw

                p#forceResetPswd(style={display:'none'})= self.label.userprofile.forceResetPswd

                div#userName
                    label.login_label(for='loginUsername')= self.label.userprofile.email
                    input.login_input#loginUsername(type='text', oninput='validateEmail(this.id)')
                    div#emailHelp(class='valid')= self.label.userprofile.eMailHelp


                div#password
                    label.login_label(for='loginPassword')= self.label.userprofile.password
                    input.login_input#loginPassword(type='password')

                div#passwordRep(style={display: 'none'})
                    label.login_label( for='loginPasswordRep')= self.label.userprofile.passwordRepeat
                    input.login_input#loginPasswordRep(type='password')

                button.login_btn_primary#loginBtn(onclick='loginViaProvider("local")')= self.label.userprofile.signIn

                button.login_btn_secondary#forgotPasswordBtn(onclick='doResetPassword("user")')= self.label.userprofile.resetPassword

                button.login_btn_secondary#sendPswdResetCodeBtn(style={display: 'none'} onclick='doSendResetCode()')= self.label.userprofile.sendResetCodeButton

                button.login_btn_secondary#resetPasswordBtn(style={display: 'none'} onclick='doSaveNewPswd()')= self.label.userprofile.resetPswdButton

                button.btn.btn_primary.p_1#backToLoginBtn(style={display: 'none'} onclick='refresh()')= self.label.userprofile.signinBtn

                p#signUpPassword2
                p#emailUsed(style={display:'none'})
                p#unfilledErrorMsg(style={display:'none'})= self.label.userprofile.unfilledPasswordOfEmailHelp
                p#pswdResetMessage(style={display:'none'})= self.label.userprofile.pswdResetHelp
                p#adminPswdResetMessage(style={display:'none'})= self.label.userprofile.adminPswdResetMessage
                p#pswdResetCodeSent(style={display:'none'})= self.label.userprofile.pswdResetCodeSent

                p#pswdResetCompletedMessage(style={display:'none'})= self.label.userprofile.pswdResetCompleteHelp
                p#currentUsername(style={display:'none'})
                p#noUserOrWrongPwd(style={display:'none'})= self.label.userprofile.noUserOrWrongPwd
                p#unConfirmed(style={display:'none'})= self.label.userprofile.unconfirmedEmail
        else
            //- br
            //- br
            //- br
            //- br
            //- br
            //- br
            //- br

        .login_some#login_some
            if process.env['DOMAIN'] !== 'industry.poff.ee'
                h4.dark_1.login_headline#loginMessage= self.label.userprofile.loginSome
            else
                h4.dark_1.login_headline#loginMessage Login via Eventival

            if process.env['DOMAIN'] !== 'industry.poff.ee'
                a#loginFB(onclick='loginViaProvider(this.textContent)')
                    .button.login_btn_social
                        | Facebook

                a#loginG(onclick='loginViaProvider(this.textContent)')
                    .button.login_btn_social
                        | Google

                //- a#loginE(onclick='loginViaProvider(this.textContent)')
                //-     .button.login_btn_social
                //-         | Eventival

            a#loginE(href=`https://api.poff.ee/auth/eventival`)
                img.eventival_logo_img(alt='PÖFF' data-src='/assets/img/static/eventival_logo.svg' src='/assets/img/static/eventival_logo.svg')
            p#mergeProvidersFailed(style={display:'none'})= self.label.userprofile.mergeProvidersFailed


        if process.env['DOMAIN'] !== 'industry.poff.ee'
            .login_register#login_register

                h4.dark_1.login_headline#loginMessage= self.label.userprofile.loginRegister

                button.login_btn_secondary#signUpBtn(onclick='directToSignup()')= self.label.userprofile.register



    style.
        .invalid {background-color: #f5e4e9; display: block; color: black}
        .valid {background-color: #e6f7e6; display: none}
        #serverSideErrors {color: red; text-align: center}








