extends /_templates/layout.pug
include /_templates/mixins.pug

block content
    section.userprofile
            if self.label.userprofile

                div.form
                    .sub_section_headline.text_left.p_l_0#registerTitle= self.label.userprofile.registerTitle
                    .sub_section_headline.text_left.p_l_0#profileSent(style= {display: 'none'})= self.label.userprofile.confirmMessage
                        p.dark_1#profileDetails
                    .sub_section_headline.text_left.p_l_0#profileInSystem(style= {display: 'none'})= self.label.userprofile.accountAlreadyCreatedHelp
                    div#authButtons
                        a#fb(href=`https://api.poff.ee/auth/facebook`)
                            button.btn.btn_primary.p_1(onclick='https://api.poff.ee/auth/facebook') Facebook
                        a#go(href=`https://api.poff.ee/auth/google`)
                            button.btn.btn_primary.p_1(onclick='https://api.poff.ee/auth/google') Google
                        a#ev(href=`https://api.poff.ee/auth/eventival`)
                            button.btn.btn_primary.p_1(onclick='https://api.poff.ee/auth/eventival') Eventival
                    a#loginButton(style={display: 'none'} href=`/${lang_path}login`)
                        button.btn.btn_primary.p_1= self.label.userprofile.signinBtn

                div.form#signupForm
                    //- img#imgPreview(alt="user profile pic", src="/assets/img/static/Hunt_Kriimsilm_2708d753de.jpg")
                    //- div.form-group
                    //-     label.login_label(for='profileImg')= self.label.userprofile.pictureTitle
                    //-     div#imgError
                    //-     input.input_file#profileImg(type='file' name='filename' onchange ='validateaAndPreview(this.files[0])')
                    div.form-group
                        label.login_label(for='email')= self.label.userprofile.email
                        input.login_input#email.form-control(type='email', placeholder=`${self.label.userprofile.email}` name='email' autocomplete="off" oninput="validateEmail(this.id)")
                        div#emailHelp(class='valid')= self.label.userprofile.eMailHelp
                    div#pswds
                        div.form-group
                            label.login_label(for='psw')= self.label.userprofile.password
                            input.login_input#psw.form-control(type='password', placeholder=`${self.label.userprofile.password}` name='psw' autocomplete="off" oninput="validatePsw('psw'); validatePswRep('psw', 'psw2')" )
                            div#pswHelp(class='valid')= self.label.userprofile.passwordHelp
                        div.form-group
                            label.login_label(for='psw2')= self.label.userprofile.passwordRepeat
                            input.login_input#psw2.form-control(type='password', placeholder=`${self.label.userprofile.passwordRepeat}`  name='psw2' autocomplete="off" oninput="validatePswRep('psw', 'psw2')")
                            div#psw2Help(class='valid')= self.label.userprofile.password2Help
                    //- div.form-group
                    //-     label.login_label(for='firstName')= self.label.userprofile.firstName
                    //-     input.login_input#firstName.form-control(type='text', placeholder=`${self.label.userprofile.firstName}` name='firstName' autocomplete="off" oninput="validateFirstName(this.id)")
                    //-     div#firstNameHelp(class='valid')= self.label.userprofile.firstNameHelp
                    //- div.form-group
                    //-     label.login_label(for='lastName')= self.label.userprofile.lastName
                    //-     input.login_input#lastName.form-control(type='text', placeholder=`${self.label.userprofile.lastName}` name='lastName' autocomplete="off" oninput='validateLastName(this.id)')
                    //-     div#lastNameHelp(class='valid')= self.label.userprofile.lastNameHelp
                    //- div.form-group
                    //-     label.login_label(for='gender')= self.label.userprofile.gender
                    //-     select.login_input#gender(name='gender' oninput='validateGender(this.id)' onclick='styleGenderList()')
                    //-         option.login_input(value='male' )= self.label.userprofile.genderM
                    //-         option.login_input(value='female' )= self.label.userprofile.genderF
                    //-         option.login_input(value='other' )= self.label.userprofile.genderO
                    //-         option.login_input(class='invalid' value="" selected="")= self.label.userprofile.select
                    //-     div#genderHelp(class='valid')= self.label.userprofile.genderHelp
                    //- div.form-group
                    //-     label.login_label(for='dob')= self.label.userprofile.birthday
                    //-     input.login_input#dob.form-control(type='date' name='dob', placeholder ="yyyy-mm-dd" max="2007-01-01", min="1905-01-01", oninput="validateBDay(this.id), validateDate(this.id)")
                    //-     div#dobHelp(class='valid')= self.label.userprofile.ageHelp
                    //-     div#dateHelp(class='valid')= self.label.userprofile.dateHelp
                    //- div.form-group
                    //-     label.login_label(for='phoneNr')= self.label.userprofile.phone
                    //-     input.login_input#phoneNr.form-control(type='tel', placeholder=`${self.label.userprofile.phone}` name='phoneNr' oninput='validatePhoneNr(this.id)' autocomplete="off")
                    //-     div#phoneNrHelp(class='valid')= self.label.userprofile.phoneNumHelp
                    //- div.form-group
                    //-     label.login_label= self.label.userprofile.address
                    //-     br
                    //-     label.control-label.login_label(for='country')= self.label.userprofile.country
                    //-     select.login_input#countrySelection.form-control.gds-cr(class='c_valid' country-data-region-id='citySelection' country-data-default-value='EE' data-language=self.locale required='' oninput= 'validateCountry(this.id)')
                    //- div.form-group
                    //-     label.control-label.login_label(for='citySelection')= self.label.userprofile.city
                    //-     select.login_input#citySelection.form-control(required='' oninput= 'validateCity(this.id)' value="")
                    button.btn.btn_primary(onclick='signUp()')= self.label.userprofile.register


    style.
        .invalid {background-color: #f5e4e9; display: block}
        .valid {background-color: #e6f7e6; display: none}
        .c_invalid {background-color: #f5e4e9}
        .c_valid {background-color: #e6f7e6}
        h4, h1 {color: #464646}
        label {color: black}
        #imgError {color: red}
        .form-group{color: black}




