//- KUI MITU KASSETTI NÄIDATA MÄÄRA SIIN:
- var maxAmountToShow = 7

- var counter = 0

if self.data.frontPageCourses && self.data.frontPageCourses.course_events && self.data.frontPageCourses.course_events.length > 0
    if self.data.frontPageCourses.title
        .section_headline.dark_semi.thin_300= self.data.frontPageCourses.title
    section.kuuekas
        //- if self.data.frontPageCourses.title
        //-     h1.dark_1= self.data.frontPageCourses.title

        each course in self.data.frontPageCourses.course_events
            if counter >= maxAmountToShow
                - break
            - counter++

            .kuueka_item
                a(href= `/${lang_path}courses/${course.slug}`)
                    .container_frame_poster
                        - var img = ''

                        if course.posters && course.posters[0] && course.posters.length
                            - img = `https://assets.poff.ee/img/${course.posters[0]}`
                        else
                            - img = '/assets/img/static/placeholder_hd_1.jpg'

                        img.container_contents_poster(src= img).trio_image
                    .kuueka_body
                        if course.title
                            h3.article_title_locale= course.title
                        //- if course.lead
                        //-     .article_lead= course.lead

