if self.data.heroArticle
    - let articleHeroFromYAML = self.data.articles.filter( (a) => { return self.data.heroArticle.id === a.id })
    - let articleHero = articleHeroFromYAML[0]

    if articleHero && articleHero.article_types && articleHero.article_types[0] && articleHero.publish && articleHero.title && articleHero.slug


        - let artHeroTypeForPath = articleHero.article_types[0].slug.toLowerCase();
        each artHeroType in articleHero.article_types
            if artHeroType.name.toLowerCase() === 'about'
                - artHeroTypeForPath = artHeroType.slug.toLowerCase()

        section.hero_head
            //- a(href= `#`)
            a(href= `/${lang_path}${artHeroTypeForPath}/${ self.data.heroArticle.slug}`)
                if self.data.heroArticle
                    if self.data.heroArticle.clipUrlDefault
                        +videoAp(self.data.heroArticle.clipUrlDefault)
                    else if self.data.heroArticle.primaryImage
                        img(src=`https://assets.poff.ee/img/${self.data.heroArticle.primaryImage}`).home_hero_image
                    else
                        img(src='/assets/img/static/placeholder_hd_1.jpg').home_hero_image


                //- senine just hero
                //- if self.data.heroArticle.primaryImage
                //-     img(src=`https://assets.poff.ee/img/${self.data.heroArticle.primaryImage}`).home_hero_image
                //- else
                //-     img(src='/assets/img/static/placeholder_hd_1.jpg').home_hero_image

                //- if self.data.heroArticle.title && self.data.heroArticle.title.length > 1
                //-     .hero_headline_box
                //-         .hero_headline_box_1
                //-             .hero_headline
                //-                 | !{self.data.heroArticle.title}
                //-         .hero_headline_box_2
                //-             .hero_p
                //-                 | !{self.data.heroArticle.lead}

            - heroPlusTrioNews.push(self.data.heroArticle.id)


            //- if self.data.heroArticle.media.image[0]
            //-     img(src=`https://assets.poff.ee/img/${self.data.heroArticle.media.image[0].hash}${self.data.heroArticle.media.image[0].ext}` style='width:30%; height:30%;')
            //- else if self.data.heroArticle.media.imageDefault[0]
            //-     img(src=`https://assets.poff.ee/img/${self.data.heroArticle.media.imageDefault[0].hash}${self.data.heroArticle.media.imageDefault[0].ext}` style='width:30%; height:30%;')
            //- else
            //-     img(src='/assets/img/static/placeholder_hd_1.jpg' style='width:30%; height:30%;')
                //- HERO ARTICLE EXAMPLE END

            //- if self.data.heroArticle.media.image[0]
            //-     img.container_contents_16_9(src=`https://assets.poff.ee/img/${self.data.heroArticle.media.image[0].hash}${self.data.heroArticle.media.image[0].ext}` style='width:30%; height:30%;')
            //- else if self.data.heroArticle.media.imageDefault[0]
            //-     img.container_contents_16_9(src=`https://assets.poff.ee/img/${self.data.heroArticle.media.imageDefault[0].hash}${self.data.heroArticle.media.imageDefault[0].ext}` style='width:30%; height:30%;')
            //- else
            //-     img.container_contents_16_9(src='/assets/img/static/placeholder_hd_1.jpg' style='width:30%; height:30%;')
            //- a(href= `/${lang_path}${artHeroTypeForPath}/${ self.data.heroArticle.slug}`)
