extends /_templates/layout.pug
include /_templates/mixins.pug

block content

    //- SIIA ALLA KÕIK ARTIKLITÜÜBID (STRAPI "NAME" lahtri järgi) MIDA KUVADA
    //- AINULT VÄIKETÄHTEDES!!!
    - var whichTypesToDisplay = ['virtual_booth'];

    if self.data.articles
        main.grid_articles
            - var sortFunction = function(a, b) {
            -   if(a.publishFrom) {
            -       var aSortSource = a.publishFrom
            -   } else {
            -       var aSortSource = a.created_at
            -   }
            -   if (b.publishFrom) {
            -       var bSortSource = b.publishFrom
            -   } else {
            -       var bSortSource = b.created_at
            -   }
            -   return (aSortSource > bSortSource) ? -1 : ((bSortSource > aSortSource) ? 1 : 0);
            - }
            each val in self.data.articles.sort(sortFunction)
                - var artTypes = []
                - var artTypeForPath = '';
                if val.article_types && val.article_types[0]

                    each artType in val.article_types
                        - artTypes.push(artType.name.toLowerCase())
                        if artType.name.toLowerCase() === whichTypesToDisplay[0]
                            - artTypeForPath = artType.slug.toLowerCase()
                        else if whichTypesToDisplay.includes(artType.name.toLowerCase())
                            - artTypeForPath = artType.slug.toLowerCase()

                if val.publish && artTypes.some(ai => whichTypesToDisplay.includes(ai))
                    - var currentTime = new Date()
                        if typeof(val.publishFrom) === 'undefined'
                            - var publishFrom= new Date(val.created_at)
                            //- h1= typeof(created_at)
                        else
                            - var publishFrom= new Date(val.publishFrom)

                        if val.publishUntil
                            - var publishUntil = new Date(val.publishUntil)

                        //- h1= 'from: ' + publishFrom + ' to: ' + publishUntil + ' TÜÜBID: ' + artTypes + ' PUBLISH: ' + val.publish + ' TITLE: ' + val.title + ' - Type slug: ' + artTypeForPath + ' title len: ' + val.title.length

                        if (currentTime > publishFrom)
                            if (!publishUntil || (publishUntil && (publishUntil > currentTime)))

                                if val.title && val.title.length > 1
                                    - var article_slug = val.slug
                                    a(href= `/${lang_path}${artTypeForPath}/${val.slug}`).card_article
                                        .container_frame_16_9
                                            if val.media
                                                if val.media.image && val.media.image[0]
                                                    img.container_contents_16_9(src=`https://assets.poff.ee/img/${val.media.image[0].hash}${val.media.image[0].formats && val.media.image[0].formats._small ? '_small' : ''}${val.media.image[0].ext}`)
                                                else if val.media.imageDefault && val.media.imageDefault[0]
                                                    img.container_contents_16_9(src=`https://assets.poff.ee/img/${val.media.imageDefault[0].hash}${val.media.imageDefault[0].formats && val.media.imageDefault[0].formats._small ? '_small' : ''}${val.media.imageDefault[0].ext}`)
                                                else
                                                    img.container_contents_16_9(src='/assets/img/static/placeholder_hd_1.jpg')

                                        if val.title
                                            .card_article_title
                                                p.keywords_left=val.tagKeyword
                                                h3.article_title_locale= val.title
                                                //- h1= 'TÜÜBID: ' + artTypes + ' PUBLISH: ' + val.publish + ' TITLE: ' + val.title + ' - Type slug: ' + artTypeForPath + 'titlelen: ' + val.title.length

                                        .card_article_lead
                                            if val.lead
                                                .article_lead=val.lead
                                            //- else
                                            //-     if val.contents
                                            //-         .article_lead=val.contents

                                        .card_article_footer
                                            //- if val.web_authors
                                            //-     - var authors = []
                                            //-     each author in val.web_authors
                                            //-         - authors.push(author.name)
                                            //-     .article_author= authors.join(', ')
                                            //- else
                                            //-     .article_author= `${val.created_by.firstname} ${val.created_by.lastname}`
                                            span
                                                .article_publish_start
                                                    if val.publishFrom
                                                        +localdate(val.publishFrom)
                                                    else
                                                        +localdate(val.created_at)
