extends /_templates/layout.pug

block content



    if self.data.cassettes
        main.grid_films
            each cassette in self.data.cassettes
                a.card_film(id= cassette.id + '_cassette_id'  style= {display:'none'} href= `/${lang_path}film/${cassette.slug}`)



                    .container_frame_16_9
                        //- each media in cassette.media
                            //- - console.log(cassette.media)
                            if cassette.media['posters']
                                //- -console.log(cassette.media['posters'][0]['name'])
                            //-     if self.data.pictures.filmslugs[cassette.path].posters
                            //-         img.container_contents_16_9(src=`/assets/img/img_films/${cassette.path}/${self.data.pictures.filmslugs[cassette.path].poster}` alt = film[`filmTitle_${self.locale}`])
                            //-     else
                            //-         img.container_contents_16_9(src='/assets/img/global/placeholder_hd_1.jpg' alt = film[`filmTitle_${self.locale}`])
                            //- else
                            //-     img.container_contents_16_9(src='/assets/img/global/placeholder_hd_1.jpg' alt = film[`filmTitle_${self.locale}`])


                        if cassette.films && cassette.films.length > 1 && cassette.media && cassette.media.stills && cassette.media.stills[0]
                            img.container_contents_16_9(src=`https://assets.poff.ee/img/${cassette.media.stills[0].hash}${cassette.media.stills[0].ext}` alt = cassette.title)
                        else if cassette.films && cassette.films.length === 1 && cassette.cassetteCarouselPicsFilms
                            img.container_contents_16_9(src= cassette.cassetteCarouselPicsFilms[0] alt = cassette.title)
                        else
                            img.container_contents_16_9(src='/assets/img/static/placeholder_hd_1.jpg' alt = cassette.title)

                    .card_film_title
                        h3.film_title_locale.dark_1= cassette.title
                        .nupp
                            p.btn.btn_secondary.isshortlisted(id=cassette.id+'_is_shortlisted', onclick=`removeFilm(${cassette.id});return false`)= self.label.film.removeShortlist
                            //- a.btn.btn_secondary#removeFavBtn(style= {display: 'none'} onclick=`removeFilm(${self.id})` role='button' target='_BLANK')= self.label.film.removeShortlist
                    .card_film_info
                        each p, locale in self.otherLocalePaths
                            if cassette[`title_${locale}`]
                                .str_info_grid_3
                                    .str_info_label.dark_1= self.label.film[`title_${locale}`]
                                    .str_info_value.dark_1= cassette[`title_${locale}`]
                        //- if cassette.credentials.director
                        //-     .str_info_grid_3
                        //-         .str_info_label= self.label.cassette.director
                        //-         .str_info_value= cassette.credentials.director.join(', ')
                        //- if cassette.credentials.cast
                        //-     .str_info_grid_3
                        //-         .str_info_label= self.label.cassette.cast
                        //-         .str_info_value= cassette.credentials.cast.join(', ')

    p#noFavouritesMessage(style={color: 'red', display: 'none'}) Lemmikfilme pole!

