extends /_templates/layout.pug
include /_templates/mixins.pug

block content
    if self.data.persons && process.env['DOMAIN'] === 'industry.poff.ee'
        h3#loading.sub_section_headline(style='display: grid; padding-top: 155px;')= self.label.filters.loading

        .grid_search#filters(style='display: none;')

            input#search(type='text', placeholder= self.label.filters.search)

            select#genders_select(name='Genders')
                option(value='')= self.label.filters.gender
                if self.data.filters.genders
                    each index, key in self.data.filters.genders
                        option(value=key)= index

            select#roleatfilms_select(name='Roleatfilms')
                option(value='')= self.label.filters.roleAtFilms
                if self.data.filters.roleatfilms
                    each index, key in self.data.filters.roleatfilms
                        option(value=key)= index

            select#nativelangs_select(name='NativeLangs')
                option(value='')= self.label.filters.nativeLanguage
                if self.data.filters.nativelangs
                    each index, key in self.data.filters.nativelangs
                        option(value=key)= index

            button.clear(onclick='unselect_all()')= self.label.filters.empty

            h3#nonetoshow.sub_section_headline(style='display: none;')


        if self.data.persons && self.data.persons.length
            section.team
                .sub_team
                    each person in self.data.persons
                        if person.slug

                            if person && person.firstNameLastName
                                .person(id=person.id)
                                    a(href=`/${lang_path}${person.slug}`)
                                        .person_head
                                            - var assetsDir = 'https://assets.poff.ee/img/'
                                            if person.picture
                                                //- - var personPic = assetsDir + person.picture
                                                - var personPic = `${assetsDir}${person.picture.hash}${person.picture.ext}`
                                            else
                                                - var personPic ='/assets/img/static/Hunt_Kriimsilm_2708d753de.jpg'

                                            img.person_img(src=personPic alt=`${person.firstName ? person.firstName : ''} ${person.lastName ? person.lastName : ''}`)


                                            .person_body.text_center
                                                h4.text_center= `${person.firstName ? person.firstName : ''} ${person.lastName ? person.lastName : ''}`

                                                if person.role_at_films
                                                    p= person.role_at_films.map(roleName => roleName.roleName).join(', ')

                                                if person.industry_person_types
                                                    p= person.industry_person_types.map(type => type.type).join(', ')
                                                //- p
                                                    //- span= (person.profession)
                                                //- p= person.industry_person_types.map(industry_person_types => industry_person_types.type).join(', ')
                                                    //- span= (person.profession)
                                                    //- br
                                                    //- if person.emailAtTeam
                                                    //-     span= (person.emailAtTeam)
                                                    //- else
                                                    //-     span= (person.eMail)
                                                    //- br
                                                    //- if person.phoneAtInd
                                                    //-     span= (person.phoneAtInd)
                                                    //- else
                                                    //-     span= (person.phoneNr)
                                                    //- br
                                                    //- span= (person.website)
                                                    //- br
                    script.
                        var searcharray = !{JSON.stringify(self.data.search)}

                        var filters = !{JSON.stringify(self.data.filters)}
