extends /_templates/layout.pug
include /_templates/mixins.pug

block content

    if self.data.industrypersons

        section.team
            //- h1.section_headline INDUSTRY PERSONS
            //- h1.sub_section_headline PERSONS
            .sub_team
                each person in self.data.industrypersons
                    if person.slug

                        if person.person && `${person.person.firstName ? person.person.firstName : ''} ${person.person.lastName ? person.person.lastName : ''}`.length > 5
                            .person
                                a(href=`/${lang_path}${person.slug}`)
                                    .person_head
                                        - var assetsDir = 'https://assets.poff.ee/img/'
                                        if person.profilePicAtInd
                                            - var personPic = assetsDir + person.profilePicAtInd.hash + person.profilePicAtInd.ext
                                        else if person.person.picture
                                            - var personPic = assetsDir + person.person.picture.hash + person.person.picture.ext
                                        else
                                            - var personPic ='/assets/img/static/Hunt_Kriimsilm_2708d753de.jpg'
                                        img.person_img(src=personPic alt=`${person.person.firstName ? person.person.firstName : ''} ${person.person.lastName ? person.person.lastName : ''}`)


                                        .person_body.text_center
                                            h4.text_center= `${person.person.firstName ? person.person.firstName : ''} ${person.person.lastName ? person.person.lastName : ''}`
                                            p
                                                span= (person.roleAtJury)
                                                br
                                                span= (person.person.profession)
                                                br
                                                if person.emailAtTeam
                                                    span= (person.emailAtTeam)
                                                else
                                                    span= (person.person.eMail)
                                                br
                                                if person.phoneAtInd
                                                    span= (person.phoneAtInd)
                                                else
                                                    span= (person.person.phoneNr)
                                                br
                                                span= (person.website)
                                                br
                                                span= (person.aboutText)
                                                br
                                                br
                                                if person.filmography
                                                    each filmography in person.filmography
                                                        if filmography
                                                            if filmography.text
                                                                span
                                                                    +format(filmography.text)
                                                                span.dark_1 FILMS
                                                                br
                                                                each film in filmography.film
                                                                    if film.film.title
                                                                        span
                                                                            a(href=film.foreignUrl)= `${film.film.title} (${film.film.year}) - `
                                                                            a(href=film.trailerUrl) Trailer
                                                br

                                                if person.clipUrlCode
                                                    span
                                                        +video(person.clipUrlCode)
