extends /_templates/layout.pug
include /_templates/mixins.pug

block content
    if  process.env['DOMAIN'] === 'industry.poff.ee'
        h3#loading.sub_section_headline(style='padding-top: 155px;')= self.label.filters.loading

        .grid_search#filters(style='display: none;')

            input#search(type='text', placeholder= self.label.filters.search)

            select#companies_select(name='Companies')
                option(value='')= self.label.filters.company
                each index, key in self.data.eventivalpersons.filters.companies
                    option(value=key)= index

            select#countries_select(name='Countries')
                option(value='')= self.label.filters.country
                each index, key in self.data.eventivalpersons.filters.countries
                    option(value=key)= index

            select#roles_select(name='Roles')
                option(value='')= self.label.filters.roleAtFilms
                each index, key in self.data.eventivalpersons.filters.roles
                    option(value=key)= index

            select#attendances_select(name='Attendance')
                option(value='')=  'Attendance'
                each index, key in self.data.eventivalpersons.filters.attendances
                    option(value=key)= index

            button.clear(onclick='unselect_all()')= self.label.filters.empty

            h3#nonetoshow.sub_section_headline(style='display: none;')


        if self.data.eventivalpersons

            section.team
                h1.section_headline Who's here
                //- h1.sub_section_headline PERSONS
                .sub_team
                    each person of self.data.eventivalpersons.persons.sort((p1, p2) => (p1.FullName) < (p2.FullName) ? -1 : 0)
                        .person(id=person.EV_ID)
                            .person_head
                                - var person_name = `${person.FullName}`
                                if person.ProfilePic
                                    img.person_img(src=person.ProfilePic alt=person_name)
                                    .person_body.text_center
                                        h4= person_name
                                    .person_body
                                        if person.Company
                                            p.text_center= person.Company
                                        if person.Role
                                            p.text_center= person.Role
                                        if person.Country
                                            p.text_center= person.Country
                                        if person.AttendanceMode
                                            p.text_center= person.AttendanceMode
                                else
                                    img.person_img(src='/assets/img/static/ind_persn_placeholder_21.jpg' alt=person_name)
                                    .person_body.text_center
                                        h4= person_name
                                    .person_body
                                        if person.Company
                                            p.text_center= person.Company
                                        if person.Role
                                            p.text_center= person.Role
                                        if person.Country
                                            p.text_center= person.Country
                                        if person.AttendanceMode
                                            p.text_center= person.AttendanceMode

                    script.
                        var searcharray = !{JSON.stringify(self.data.eventivalpersons.search)}

                        var filters = !{JSON.stringify(self.data.eventivalpersons.filters)}
