- var articleMenuItemDomain = 'just_filmi_article'
- var lang_path = self.locale === self.defaultLocale ? '' : `${self.locale}/`

each mainMenuItem in self.data.menu.sort(function(a, b){ return (a.order > b.order) ? 1 : ((b.order > a.order) ? -1 : 0); })

    //- Kui on peamenüü itemil artikkel:
    if mainMenuItem[articleMenuItemDomain] && mainMenuItem.name && typeof mainMenuItem.name !== 'object' && mainMenuItem.publish
        if mainMenuItem[articleMenuItemDomain]
            - let mainArticle = mainMenuItem[articleMenuItemDomain]

            if mainArticle.article_types && mainArticle.article_types[0] && mainArticle.publish && mainArticle.title
                - var mainArticleTypePath = ''
                li
                    each artType in mainArticle.article_types
                        if artType.name.toLowerCase() === 'about'
                            - mainArticleTypePath = artType.slug
                        else if artType.name.toLowerCase() === 'interview'
                            - mainArticleTypePath = artType.slug
                        else if artType.name.toLowerCase() === 'sponsor_story'
                            - mainArticleTypePath = artType.slug
                        else if artType.name.toLowerCase() === 'news'
                            - mainArticleTypePath = artType.slug
                        else
                            - mainArticleTypePath = mainArticle.article_types[0].slug

                    a(href= `/${lang_path}${mainArticleTypePath}/${mainMenuItem[articleMenuItemDomain].slug}`)= mainMenuItem.name

    //- Kui peamenüü itemil pole artiklit ja on vähemalt mõni alammenüü
    else if mainMenuItem.subMenuItem && mainMenuItem.name && typeof mainMenuItem.name !== 'object' && mainMenuItem.publish
        li.dropdown
            a= mainMenuItem.name
            ul.ul_kaks
                each subMenuItem in mainMenuItem.subMenuItem.sort(function(a, b){ return (a.order > b.order) ? 1 : ((b.order > a.order) ? -1 : 0); })
                    if subMenuItem[articleMenuItemDomain] && subMenuItem.publish
                        - let article = subMenuItem[articleMenuItemDomain]

                        if article.article_types && article.article_types[0] && article.publish && article.title
                            - var articleTypePath = ''
                            li
                                each artType in article.article_types
                                    if artType.name.toLowerCase() === 'about'
                                        - articleTypePath = artType.slug
                                    else if artType.name.toLowerCase() === 'interview'
                                        - articleTypePath = artType.slug
                                    else if artType.name.toLowerCase() === 'sponsor_story'
                                        - articleTypePath = artType.slug
                                    else if artType.name.toLowerCase() === 'news'
                                        - articleTypePath = artType.slug
                                    else
                                        - articleTypePath = article.article_types[0].slug

                                a(href= `/${lang_path}${articleTypePath}/${subMenuItem[articleMenuItemDomain].slug}`)= subMenuItem.name

                    else
                        if subMenuItem.customUrl && subMenuItem.customUrl.length && subMenuItem.name && typeof subMenuItem.name !== 'object' && subMenuItem.publish
                            li
                                if subMenuItem.customUrl.substring(0, 4) === 'http'
                                    a(href= `${subMenuItem.customUrl}`)= `${subMenuItem.name}`
                                else
                                    a(href= `/${lang_path}${subMenuItem.customUrl}/`)= `${subMenuItem.name}`

    //- Kui peamenüü itemil pole artiklit, pole alammenüüsid ja on customUrl
    else
        if mainMenuItem.customUrl && mainMenuItem.customUrl.length && mainMenuItem.name && typeof mainMenuItem.name !== 'object' && mainMenuItem.publish
            li
                if mainMenuItem.customUrl.substring(0, 4) === 'http'
                    a(href= `${mainMenuItem.customUrl}`)= `${mainMenuItem.name}`
                else
                    a(href= `/${lang_path}${mainMenuItem.customUrl}/`)= `${mainMenuItem.name}`
