extends /_templates/layout.pug
include /_templates/mixins.pug


block content
    - var shopDir = 'https://poff.ee/'
    script.
        const courseEventId = !{self.id}
        const eventAccess = "#{self.event_access}"
    script(src='/assets/poffOmatic.js')
    //- script.
    //-     document.addEventListener('userProfileLoaded', function (e) {
    //-         //- console.log({userProfile})

    //-         if (userProfile.industry_profile && userProfile.industry_profile.accreditation) {
    //-             var videoFrameElement
    //-             try {
    //-                 document.getElementById('videolevels_video').style.display = 'block'
    //-                 var videoFrameElement = document.getElementById('videoframe')
    //-                 videoFrameElement.src = videoFrameElement.getAttribute('target_src')
    //-             } catch (error) { null }

    //-             if (!videoFrameElement) {
    //-                 try {
    //-                     document.getElementById('event_image').style.display = ''
    //-                 } catch (error) { null }
    //-             }
    //-         } else {
    //-             document.getElementById('videolevels_video').remove()
    //-         }
    //-     })


    - var assetsDir = 'https://assets.poff.ee/img/'

    //- main.grid_ind_event.restrictedcontent
    main.grid_courseevent.restrictedcontent
        if !self.public
            script.
                var cType = "course-event"
                var cId = #{self.id}
                var cSubType = "events"
                var cLang = langpath
                var cDomain = "#{process.env['DOMAIN']}"

            section.restricted_login.login_ind_ev#login_cond
                            h4.login_headline#loginMessage= self.label.all.restrictedMessageIndustry1
                            a(href=`/login` onclick = 'savePreLoginUrl()')
                                h4.login_headline.bold_600#loginMessage= self.label.all.restrictedMessageIndustry2
                            a(href=`/login` onclick = 'savePreLoginUrl()')
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="login_user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                            //- a(href=`/login` onclick = 'savePreLoginUrl()')
                                //- img.eventival_logo_img(alt='PÖFF' data-src='/assets/img/static/eventival_logo.svg' src='/assets/img/static/eventival_logo.svg')

            //- +format('Palun logi sisse').font_weight_600.dark_1

        else

            if self.title && self.title.length > 1
                //- KARUSELL piltidega
                //- section#carouselExampleIndicators.f_img_slider_box.carousel.slide(data-bs-ride='carousel' data-bs-interval='6000')
                //-     ol.carousel-indicators
                //-         if self.images && self.images[0]
                //-             each val, index in self.images
                //-                 li(data-bs-target='#carouselExampleIndicators' href='#carouselExampleIndicators' data-bs-slide-to=index class=`${index === 0 ? 'active' : ''}`)
                //-     .carousel-inner.container_frame_16_9
                //-         if self.images && self.images[0]
                //-             each val, index in self.images
                //-                 if index == 0
                //-                     .carousel-item.active.container_contents_16_9
                //-                         img.d-block.container_contents_16_9(src=`${assetsDir}${val.hash}${val.ext}` alt = self.title)
                //-                 else
                //-                     .carousel-item.container_contents_16_9
                //-                         img.d-block.container_contents_16_9(src=`${assetsDir}${val.hash}${val.ext}` alt = self.title)
                //-             else
                //-                 .carousel-item.active.container_contents_16_9
                //-                     img.d-block.container_contents_16_9(src='/assets/img/static/placeholder_hd_1.jpg' alt = self.title)
                //-         else
                //-             .carousel-item.active.container_contents_16_9
                //-                 img.d-block.container_contents_16_9(src='/assets/img/static/placeholder_hd_1.jpg' alt = self.title)

                //-     a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-bs-slide='prev')
                //-         // <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                //-         svg.svg_icon_prev_next(viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
                //-             polyline(points='15 18 9 12 15 6')
                //-         span.sr-only Previous
                //-     a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-bs-slide='next')
                //-         // <span class="carousel-control-next-icon" aria-hidden="true"></span>
                //-         svg.svg_icon_prev_next(viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
                //-             polyline(points='9 18 15 12 9 6')
                //-         span.sr-only Next
                //- LÕPP! KARUSELL piltidega LÕPP

                section.f_title_box

                    .premiere_type
                        if self.industry_categories
                            p.premiere_type= self.industry_categories.map(cat => cat.name).join(', ')

                    h1.film_title_detailed= self.title

                    if self.start_time && typeof self.start_time === 'string'

                        .str_info_blokk_1

                            .str_info_grid_3
                                .str_info_label= self.label.industry.courseStartDate
                                .str_info_value
                                    +screeningDate(self.start_time)

                            //- .str_info_grid_3
                            //-     .str_info_label= self.label.industry.courseEndDate
                            //-     .str_info_value
                            //-         +screeningDate(self.end_time)

                            if process.env['DOMAIN'] === 'industry.poff.ee'
                                .str_info_grid_3
                                    .str_info_label= self.label.industry.eventTimeEet
                                    .str_info_value
                                        +screeningTimeEET(self.start_time)

                            if process.env['DOMAIN'] === 'industry.poff.ee'
                                .str_info_grid_3
                                    .str_info_label= self.label.industry.eventTimeUser
                                    .str_info_value
                                        +screeningTime(self.start_time)

                            .str_info_grid_3
                                .str_info_label= self.label.industry.duration
                                .str_info_value
                                    +indEvDur(self.duration_time)

                            if self.location
                                .str_info_grid_3
                                    .str_info_label= self.label.filters.location
                                    .str_info_value= self.location.name

                section#trailer.f_trailer_box
                    //- .section_headline= self.label.film.trailer
                    //- .ratio.ratio-16x9.m-0.p-0
                    .videolevels_embed_container
                        if self.video_url
                            .videolevels_embed_contents#videolevels_video(style="display:none;")
                                +videoVl(self.video_url)
                        else if self.images
                            .default_16_9_container
                                img#event_image(alt=self.title style='width: 100%; height: 100%; ' src=`https://assets.poff.ee/img/${self.images[0].hash}${self.images[0].ext}`)

                        script.
                            console.log(eventAccess, eventAccess === "Free (without accreditation)", courseEventId)
                            if (eventAccess === "Free (without accreditation)") {
                                var videoFrameElement
                                    try {
                                        document.getElementById('videolevels_video').style.display = 'block'
                                        var videoFrameElement = document.getElementById('videoframe')
                                        videoFrameElement.src = videoFrameElement.getAttribute('target_src')
                                    } catch (error) { null }

                                    if (!videoFrameElement) {
                                        try {
                                            document.getElementById('event_image').style.display = ''
                                        } catch (error) { null }
                                    }
                            } else if (userProfileHasBeenLoaded) {
                                grantVideoAccess()
                            } else {
                                document.addEventListener('userProfileLoaded', function (e) {
                                    console.log('checking for video', courseEventId)
                                    grantVideoAccess()
                                })
                            }

                            const grantVideoAccess = async () => {
                                const videoUrl = await getCourseEventVideoUrl(courseEventId)
                                console.log(`got videoUrl: ${videoUrl}`)
                                if (videoUrl) {
                                    const videoFrameElement = document.getElementById('videoframe')
                                    try {
                                        videoFrameElement.src = videoUrl
                                    } catch (error) { null }
                                } else {
                                    document.getElementById('videolevels_video').remove()
                                }
                            }

                        if process.env['DOMAIN'] === 'industry.poff.ee' && self.event_access != "Free (without accreditation)"
                            .login_16_9_container.login_ind_ev#login_cond
                                h4.login_headline#loginMessage.white_96 Log in via Eventival
                                a(href=`/login` onclick = 'savePreLoginUrl()')
                                    img.eventival_logo_img(alt='PÖFF' data-src='/assets/img/static/eventival_logo.svg' src='/assets/img/static/eventival_logo.svg')
                    if process.env['DOMAIN'] === 'industry.poff.ee'
                        .elisa_stage
                            img.elisa_powered(src='https://assets.poff.ee/img/powered_by_elisa_stage.svg')

                section.ce_box_1
                    if self.credentials && self.credentials.rolePerson
                        //- h1.section_headline= 'SIIA NÄITEKS LABEL PERSOONIDE KOHTA'
                        //- h1.sub_section_headline= 'Või veel midagi'
                        .sub_team
                            each indPerson in self.credentials.rolePerson
                                if indPerson.person.slug
                                    .person
                                        .person_head
                                            a(href=`/${indPerson.person.slug}`)
                                                if indPerson.person.picture
                                                    - var personPic = assetsDir + indPerson.person.picture.hash + indPerson.person.picture.ext
                                                else
                                                    - var personPic ='/assets/img/static/hunt_square_placeholder.jpg'
                                                img.person_img(src=personPic alt=`${indPerson.person.firstName ? indPerson.person.firstName : ''} ${indPerson.person.lastName ? indPerson.person.lastName : ''}`)

                                                .person_body.text_center
                                                    h4.text_center= `${indPerson.person.firstName ? indPerson.person.firstName : ''} ${indPerson.person.lastName ? indPerson.person.lastName : ''}`
                                                    p
                                                        if indPerson.role_at_film
                                                            span= indPerson.role_at_film.roleName
                                else
                                    .person
                                        .person_head
                                            if indPerson.person.picture
                                                - var personPic = assetsDir + indPerson.person.picture.hash + indPerson.person.picture.ext
                                            else
                                                - var personPic ='/assets/img/static/hunt_square_placeholder.jpg'
                                            img.person_img(src=personPic alt=`${indPerson.person.firstName ? indPerson.person.firstName : ''} ${indPerson.person.lastName ? indPerson.person.lastName : ''}`)

                                            .person_body.text_center
                                                h4.text_center= `${indPerson.person.firstName ? indPerson.person.firstName : ''} ${indPerson.person.lastName ? indPerson.person.lastName : ''}`
                                                p
                                                    if indPerson.role_at_film
                                                        span= indPerson.role_at_film.roleName

                section.ce_box_2
                    if self.description && typeof self.description === 'string'
                        .synopsis_gi
                            +format(self.description)


                section.ce_box_3
                    if self.product_categories
                        .course_price= self.label.userprofile.coursePrice + ': '
                            +euro(self.product_categories[0].priceAtPeriod[0].price)
                        a(href=`${shopDir}${self.product_categories[0].slug}`)
                            button.btn_course= self.label.userprofile.buyCourseRegister
                    else if self.button
                        a(href= self.button.url target='_BLANK')
                            button.btn_course= self.button.text
                        //- p.font_h= self.label.industry.coursePrice + ': ' + self.product_categories[0].priceAtPeriod[0].price

                    //- if self.product_categories
                        //- P.font_h= self.label.userprofile.coursePrice
                        //-     +euro(self.product_categories[0].priceAtPeriod[0].price)
                        .course_price= self.label.userprofile.coursePrice + ': '
                            +euro(self.product_categories[0].priceAtPeriod[0].price)

                //- section.f_synopsis_box
                //-     .str_info_meta_gi
                //-     .synopsis_gi
                //-         if self.short_descr && typeof self.short_descr === 'string'
                //-             p.dark_1
                //-                 +format(self.short_descr)

                //-         if self.description && typeof self.description === 'string'
                //-             p.dark_1
                //-                 +format(self.description)

                //- section.f_cred_box.bg_white
                //-     if self.product_categories
                //-         p.dark_1
                //-             | Product leitud

                //- section.f_cred_box
                //-     if self.isLiveEvent === true
                //-         +chat(self.title, false)
                //-         p.dark_5
                //-     if self.isLiveEvent === true
                //-         +chat(self.title, true)
                //-         p.dark_5
                //-             | Moderated questions and comments

    //- section.f_interactive_box

    //-     //- NB! Credentials võetakse strapis oleva roleNamePrivate järgi väiketähtedes ja tühikuteta
    //-     //-     Näiteks: "Composer" all olevad isikud saab kätte self.credentials.rolePersonsByRole.composer.join(', ')
    //-     //-     Näiteks: Director Of Photography self.credentials.rolePersonsByRole.directorofphotography

    //-     if self.credentials && self.credentials.rolePersonsByRole
    //-         if self.credentials.rolePersonsByRole.moderator && self.credentials.rolePersonsByRole.moderator[0]
    //-             .str_info_grid_3
    //-                 .str_info_label= self.label.film.moderator
    //-                 .str_info_value= self.credentials.rolePersonsByRole.moderator.join(', ')

    //-         if self.credentials.rolePersonsByRole.speaker && self.credentials.rolePersonsByRole.speaker[0]
    //-             .str_info_grid_3
    //-                 .str_info_label= self.label.film.speaker
    //-                 .str_info_value= self.credentials.rolePersonsByRole.speaker.join(', ')

    //- section.f_interactive_box
    //-     if self.credentials && self.credentials.rolePerson
    //-         //- h1.section_headline= 'SIIA NÄITEKS LABEL PERSOONIDE KOHTA'
    //-         //- h1.sub_section_headline= 'Või veel midagi'
    //-         .sub_team
    //-             each indPerson in self.credentials.rolePerson
    //-                 if indPerson.person && indPerson.person.slug
    //-                     .person
    //-                         .person_head
    //-                             a(href=`/${indPerson.person.slug}`)
    //-                                 if indPerson.person.picture
    //-                                     - var personPic = assetsDir + indPerson.person.picture.hash + indPerson.person.picture.ext
    //-                                 else
    //-                                     - var personPic ='/assets/img/static/hunt_square_placeholder.jpg'
    //-                                 img.person_img(src=personPic alt=`${indPerson.person.firstName ? indPerson.person.firstName : ''} ${indPerson.person.lastName ? indPerson.person.lastName : ''}`)

    //-                                 .person_body.text_center
    //-                                     h4.text_center= `${indPerson.person.firstName ? indPerson.person.firstName : ''} ${indPerson.person.lastName ? indPerson.person.lastName : ''}`
    //-                                     p
    //-                                         if indPerson.role_at_film
    //-                                             span= indPerson.role_at_film.roleName
    //-                 else
    //-                     .person
    //-                         .person_head
    //-                             if indPerson.person.picture
    //-                                 - var personPic = assetsDir + indPerson.person.picture.hash + indPerson.person.picture.ext
    //-                             else
    //-                                 - var personPic ='/assets/img/static/hunt_square_placeholder.jpg'
    //-                             img.person_img(src=personPic alt=`${indPerson.person.firstName ? indPerson.person.firstName : ''} ${indPerson.person.lastName ? indPerson.person.lastName : ''}`)

    //-                             .person_body.text_center
    //-                                 h4.text_center= `${indPerson.person.firstName ? indPerson.person.firstName : ''} ${indPerson.person.lastName ? indPerson.person.lastName : ''}`
    //-                                 p
    //-                                     if indPerson.role_at_film
    //-                                         span= indPerson.role_at_film.roleName

    //- section.f_interactive_box
    //-     if self.credentials && self.credentials.rolePersonsByRole
    //-         each roleGroup, key in self.credentials.rolePersonsByRole
    //-             //- Kui tahta teistsugust nö labelit kui role_at_film.roleName, siis saab kasutada loogikat nagu filmide all:
    //-             //- ehk self.label.film.speaker nt ja kätte saab järgmise koodijupiga: self.label.film[key]
    //-             if roleGroup.persons && roleGroup.persons.length
    //-                 p.ce_info= `${roleGroup.roleName}: ${roleGroup.persons.join(', ')}`


    //- section.event_card_footer
    //-     .grid_container_screening_time_2
    //-         .text_right
    //-             p.screening_date.small_1.add_to_calendar_button(id = self.id + '_notInMyCalendar' onclick=`addToMyCal('${self.id}');return false` style='display: none')= 'Add to calendar'
    //-             p.screening_date.small_1.remove_from_calendar_button(id = self.id + '_inMyCalendar' onclick = `removeEvent('${self.id}');return false` onmouseover='changeToRemove(this.id);return false' onmouseout='revertRemove(this.id);return false' style='display: none')= 'In my calendar'

    //-             p(id=`cal_${self.id}` style='display: none') #{self.calendar_data}
