if self.locale == "et"
    - var chatPlaceholder = 'Ask me about events @ Tallinn'
else
    - var chatPlaceholder = 'Ask me about events @ Tallinn'

deep-chat(
    id="chat-element"
    connect=`{"url": "${process.env['ChatApi']}","method": "POST","headers": {"domainName": "industry.poff.ee"}}`
    requestBodyLimits='{"maxMessages": 10}'
    chatStyle='{"width": "410px", "height": "600px"}'
    style="position: fixed; right: 1%; bottom: 60px; max-height: calc(100vh - 180px); background-color: #fafafa;"
    messageStyles='{"default": {"shared": {"bubble": {"maxWidth": "80%"}}}}'
    textInput=`{"placeholder": {"text": "${chatPlaceholder}"}}`
    )

script.
    if ('#{self.locale}' == 'et') {
        var chatTitle = 'I am Susi, your virtual assistant and event recommender. Talk to me and together we can find interesting events in our programme!';
        var chatText = `
          <span>Here are some questions you could ask from me:</span>
          <br>
          <span>I am a producer. What kind of events would you recommend me to attend?</span>
          <br>
          <span>What events in the programme are related to this year's focus county?</span>
          <br>
          <span>I would like to listen to someone inspiring - is there anything like that happening?</span>
          <br>
          <a href="https://industry.poff.ee/about/meet-susi-your-virtual-assistant/">Learn more</a>
          <br>
          <span></span>
          <br>
          `;
    } else {
        var chatTitle = 'I am Susi, your virtual assistant and event recommender. Talk to me and together we can find interesting events in our programme!';
        var chatText = `
          <span>Here are some questions you could ask from me:</span>
          <br>
          <span>I am a producer. What kind of events would you recommend me to attend?</span>
          <br>
          <span>What events in the programme are related to this year's focus county?</span>
          <br>
          <span>I would like to listen to someone inspiring - is there anything like that happening?</span>
          <br>
          <a href="https://industry.poff.ee/about/meet-susi-your-virtual-assistant/">Learn more</a>
          <br>
          <span></span>
          <br>
          `;
    }

    const chatElementRef = document.getElementById('chat-element');
    chatElementRef.setAttribute(
      'topPanel',
      JSON.stringify({
        panelTitle: chatTitle,
        panelText: chatText
      })
    );

deep-chat-toggle(toggleStyle='{"bottom": "15px"}')
