header
    .logo
        //- Defining locale path for multilingual support
        - var lang_path = self.locale === self.defaultLocale ? '' : `${self.locale}/`
        a(href=`/${lang_path}`)
            img.logo_img(alt='PÖFF' data-src='/assets/img/static/industry_logo_2021_dates_es.svg' src='/assets/img/static/industry_logo_2021_dates_es.svg')
    input#main_menu_toggle.main_menu_toggle(type='checkbox')

    nav.main_menu
        ul.ul_yx
            //- li
            //-     nav.lang_menu
            //-         a(href= 'https://industry.poff.ee/news/how-to-get-the-most-out-of-industry-tallinn/')= 'GET HELP'

            li
                nav.org_menu
                    span.org_item
                        a(href='https://poff.ee')
                            | PÖFF
                    span.org_item
                        a(href='https://justfilm.ee')
                            | Just Film
                    span.org_item
                        a(href='https://shorts.poff.ee')
                            | PÖFF Shorts
                    //- span.org_item
                    //-     a(href='https://hoff.ee')
                    //-         | HÕFF
                    span.org_item
                        a(href='https://kinoff.ee')
                            | Kinoff
                    span.org_item
                        a(href='https://poff.elisastage.ee')
                            | PÖFF Online Cinema
                    //- span.org_item
                    //-     a(href='https://industrymeet.poff.ee')
                    //-         | Industrymeet
                    //- span.org_item
                    //-     a(href='https://spatial.chat/s/ITBESocialclub')
                    //-         | SpatialChat
                    //- span.org_item
                    //-     a(href='https://proscreen.poff.ee')
                    //-         | See films on PROSCREEN

            - var menu_path_lang = self.locale === self.defaultLocale ? '/' : `/${self.locale}/`
            div(class='main_menu_includer' include-html-menu=`${menu_path_lang}menu/index.html`)

        user_menu_hidden(id='user_menu_hidden' style='display: none')
            li.user_menu.dropdown
                a.user_menu My industry
                    ul.ul_kaks.padding_bottom_5
                        li#logIn(style={cursor: 'pointer', display: 'none'})
                            a(onclick = 'saveUrl()' href=`/${lang_path}login`)= self.label.menu.mainLogin
                        li#logInName.dark_1(style={display: 'none'})
                            a#tervitus= self.label.menu.mainGreeting
                        li#myCalendar(style={cursor: 'pointer'})
                            a(href=`/${lang_path}mycalendar`) My calendar
                        //- li#userProfile(style={cursor: 'pointer', display: 'none'})
                        //-     a(onclick = 'saveUrl()', href=`/${lang_path}userprofile`)= self.label.menu.mainProfile
                        li#logOut(style={cursor: 'pointer', display: 'none'} )
                            a(onclick='logOut()')= self.label.menu.mainLogout

    label.main_menu_toggle_label(for='main_menu_toggle')
        span

//- include ../_templates/tracker_mixin.pug
//- +trackMe()
