header
    .logo
        //- Defining locale path for multilingual support
        - var lang_path = self.locale === self.defaultLocale ? '' : `${self.locale}/`
        a(href=`/${lang_path}`)
            img.logo_img(alt='PÖFF' data-src='/assets/img/static/industry_logo_cyan_dark4_pe.svg' src='/assets/img/static/industry_logo_cyan_dark4_pe.svg')
    input#main_menu_toggle.main_menu_toggle(type='checkbox')

    - var articleMenuItemDomain = 'industry_article'

    nav.main_menu
        ul.ul_yx
            li
                nav.lang_menu
                    a(href= 'https://industry.poff.ee/news/how-to-get-the-most-out-of-industry-tallinn/')= 'GET HELP'

            li
                nav.org_menu
                    span.org_item
                        a(href='https://poff.ee')
                            | PÖFF
                    span.org_item
                        a(href='https://justfilm.ee')
                            | Just Film
                    span.org_item
                        a(href='https://shorts.poff.ee')
                            | PÖFF Shorts
                    span.org_item
                        a(href='https://hoff.ee')
                            | HÕFF
                    span.org_item
                        a(href='https://kinoff.ee')
                            | Kinoff
                    //- span.org_item
                    //-     a(href='https://industrymeet.poff.ee')
                    //-         | Industrymeet
                    //- span.org_item
                    //-     a(href='https://spatial.chat/s/ITBESocialclub')
                    //-         | SpatialChat
                    //- span.org_item
                    //-     a(href='https://proscreen.poff.ee')
                    //-         | See films on PROSCREEN



            each mainMenuItem in self.menu.sort(function(a, b){ return (a.order > b.order) ? 1 : ((b.order > a.order) ? -1 : 0); })

                //- Kui on peamenüü itemil artikkel:
                if mainMenuItem[articleMenuItemDomain] && mainMenuItem.name && typeof mainMenuItem.name !== 'object'
                    if self.data.articles
                        - let mainMenuArticleFromYAML = self.data.articles.filter( (a) => { return mainMenuItem[articleMenuItemDomain].id === a.id })
                        - let mainArticle = mainMenuArticleFromYAML[0]
                        if mainArticle.article_types && mainArticle.article_types[0] && mainArticle.publish === true && mainArticle.title
                            - var mainArticleTypePath = ''
                            li
                                each artType in mainArticle.article_types
                                    if artType.name.toLowerCase() === 'about'
                                        - mainArticleTypePath = artType.slug
                                    else if artType.name.toLowerCase() === 'interview'
                                        - mainArticleTypePath = artType.slug
                                    else if artType.name.toLowerCase() === 'sponsor_story'
                                        - mainArticleTypePath = artType.slug
                                    else if artType.name.toLowerCase() === 'news'
                                        - mainArticleTypePath = artType.slug
                                    else
                                        - mainArticleTypePath = mainArticle.article_types[0].slug

                                a(href= `/${lang_path}${mainArticleTypePath}/${mainMenuItem[articleMenuItemDomain].slug}`)= mainMenuItem.name

                //- Kui peamenüü itemil pole artiklit ja on vähemalt mõni alammenüü
                else if mainMenuItem.subMenuItem && mainMenuItem.name && typeof mainMenuItem.name !== 'object'
                    li.dropdown
                        a= mainMenuItem.name
                        ul.ul_kaks
                            each subMenuItem in mainMenuItem.subMenuItem.sort(function(a, b){ return (a.order > b.order) ? 1 : ((b.order > a.order) ? -1 : 0); })
                                if subMenuItem[articleMenuItemDomain]
                                    if self.data.articles
                                        - let mainMenuArticleFromYAML = self.data.articles.filter( (a) => { return subMenuItem[articleMenuItemDomain].id === a.id })
                                        - let article = mainMenuArticleFromYAML[0]

                                        if article.article_types && article.article_types[0] && article.publish === true && article.title
                                            - var articleTypePath = ''
                                            li
                                                each artType in article.article_types
                                                    if artType.name.toLowerCase() === 'about'
                                                        - articleTypePath = artType.slug
                                                    else if artType.name.toLowerCase() === 'interview'
                                                        - articleTypePath = artType.slug
                                                    else if artType.name.toLowerCase() === 'sponsor_story'
                                                        - articleTypePath = artType.slug
                                                    else if artType.name.toLowerCase() === 'news'
                                                        - articleTypePath = artType.slug
                                                    else
                                                        - articleTypePath = article.article_types[0].slug

                                                a(href= `/${lang_path}${articleTypePath}/${subMenuItem[articleMenuItemDomain].slug}`)= subMenuItem.name

                                else
                                    if subMenuItem.customUrl && subMenuItem.customUrl.length && subMenuItem.name && typeof subMenuItem.name !== 'object'
                                        li
                                            if subMenuItem.customUrl.substring(0, 4) === 'http'
                                                a(href= `${subMenuItem.customUrl}`)= `${subMenuItem.name}`
                                            else
                                                a(href= `/${lang_path}${subMenuItem.customUrl}/`)= `${subMenuItem.name}`

                //- Kui peamenüü itemil pole artiklit, pole alammenüüsid ja on customUrl
                else
                    if mainMenuItem.customUrl && mainMenuItem.customUrl.length && mainMenuItem.name && typeof mainMenuItem.name !== 'object'
                        li
                            if mainMenuItem.customUrl.substring(0, 4) === 'http'
                                a(href= `${mainMenuItem.customUrl}`)= `${mainMenuItem.name}`
                            else
                                a(href= `/${lang_path}${mainMenuItem.customUrl}/`)= `${mainMenuItem.name}`

            li.user_menu.dropdown
                a.user_menu My industry
                    ul.ul_kaks.padding_bottom_5
                        li#logIn(style={cursor: 'pointer', display: 'none'})
                            a(onclick = 'saveUrl()' href=`/${lang_path}login`)= self.label.menu.mainLogin
                        li#logInName.dark_1(style={display: 'none'})
                            a#tervitus= self.label.menu.mainGreeting
                        li#myCalendar(style={cursor: 'pointer'})
                            a(href=`/${lang_path}mycalendar`) My calendar
                        //- li#userProfile(style={cursor: 'pointer', display: 'none'})
                        //-     a(onclick = 'saveUrl()', href=`/${lang_path}userprofile`)= self.label.menu.mainProfile
                        li#logOut(style={cursor: 'pointer', display: 'none'} )
                            a(onclick='logOut()')= self.label.menu.mainLogout

    label.main_menu_toggle_label(for='main_menu_toggle')
        span

//- include ../_templates/tracker_mixin.pug
//- +trackMe()
