header
    .logo
        //- Defining locale path for multilingual support
        - var lang_path = self.locale === self.defaultLocale ? '' : `${self.locale}/`
        a(href=`/${lang_path}`)
            img.logo_img(alt='PÖFF' data-src='/assets/img/static/poff_27_logo_dark4_o_sp_ukr_2.svg' src='/assets/img/static/poff_27_logo_dark4_o_sp_ukr_2.svg')
    input#main_menu_toggle.main_menu_toggle(type='checkbox')

    script.
        var test1StrapiProtocol = `!{process.env['StrapiProtocol']}`
        var test2StrapiProtocol = process.env['StrapiProtocol']
        var test1HuntProtocol = `!{process.env['HuntProtocol']}`
        var test2HuntProtocol = process.env['HuntProtocol']

        var strapiDomain = `!{process.env['StrapiProtocol']}://!{process.env['StrapiHost']}`
        if (process.env['StrapiProtocol'] === 'http') {
            strapiDomain += `:!{process.env['StrapiPort']}`
        }
        var huntAuthDomain = `!{process.env['StrapiProtocol']}://!{process.env['HuntAuth']}`
        if (process.env['HuntProtocol'] === 'http') {
            huntAuthDomain += `:!{process.env['HuntAuthPort']}`
        }

    nav.main_menu
        ul.ul_yx

            li
                nav.lang_menu
                    each p, locale in self.otherLocalePaths
                        a(href=(p !== '/' ? p + '/' : '/'))= locale

            li
                nav.org_menu
                    span.org_item
                        a(href='https://industry.poff.ee')
                            | !{`Industry@Tallinn & Baltic Event`}
                    span.org_item
                        a(href='https://justfilm.ee')
                            | Just Film
                    span.org_item
                        a(href='https://shorts.poff.ee')
                            | PÖFF Shorts
                    //- span.org_item
                    //-     a(href='https://kinoff.ee')
                    //-         | Kinoff
                    //- span.org_item
                    //-     a(href='https://hoff.ee')
                            | HÕFF
                    span.org_item
                        a(href='https://kumu.poff.ee')
                            | KUMU Dokumentaal
                    //- span.org_item
                    //-     a(href='https://hoff.ee')
                    //-         | HÕFF
                    span.org_item
                        a(href='https://tartuff.ee')
                            | Tartuff
                    span.org_item
                        a(href='https://filmikool.poff.ee')
                            | Filmikool
                    span.org_item
                        a(href='https://oyafond.ee')
                            | Bruno O'Ya Fond
                    //- span.org_item
                    //-     a(href='https://kinoff.ee')
                    //-         | Kinoff
                    //- span.org_item
                    //-     a(href='https://elisastage.poff.ee')
                    //-         | Veebikino

            - var menu_path_lang = self.locale === self.defaultLocale ? '/' : `/${self.locale}/`
            div(class='main_menu_includer' include-html-menu=`${menu_path_lang}menu/index.html`)

        user_menu_hidden(id='user_menu_hidden' style='display: none')
            li.user_menu.dropdown
                a.user_menu= self.label.menu.mainUserMenu
                    ul.ul_kaks
                        li#logIn(style={cursor: 'pointer', display: 'none'})
                            a#oauthLink(href="[huntAuthDomain}/[returnUrl]")= self.label.menu.mainLogin
                            script.
                                var oauthLink = document.getElementById('oauthLink')
                                oauthLink.href = oauthLink.href.replace('[huntAuthDomain]', huntAuthDomain)
                                oauthLink.href = oauthLink.href.replace('[returnUrl]', window.location.href)
                        //- li#signUp(style={cursor: 'pointer', display: 'none'})
                        //-     a(onclick = 'savePreLoginUrl()' href=`/${lang_path}signup`)= self.label.menu.mainSignup
                        li#logInName.dark_1(style={display: 'none'})
                            a#tervitus= self.label.menu.mainGreeting
                        li#userProfile(style={cursor: 'pointer', display: 'none'})
                            a(onclick = 'savePreLoginUrl()', href=`/${lang_path}userprofile`)= self.label.menu.mainProfile
                        li#myFavouriteFilms(style={cursor: 'pointer'})
                            a(href=`/${lang_path}favourite`)= self.label.menu.mainShortlist
                        li#myScreenings(style={cursor: 'pointer'} )
                            if lang_path === ''
                                a(href=`/${lang_path}minu_seansid`)= self.label.menu.mainMyScreenings
                            if lang_path === 'en/'
                                a(href=`/${lang_path}my_screenings`)= self.label.menu.mainMyScreenings
                            if lang_path === 'ru/'
                                a(href=`/${lang_path}moi_seanss`)= self.label.menu.mainMyScreenings
                        li#myPasses(style={cursor: 'pointer'} )
                            if lang_path === ''
                                a(href=`/${lang_path}minupoff`)= self.label.menu.mainPass
                            if lang_path === 'en/'
                                a(href=`/${lang_path}mypoff`)= self.label.menu.mainPass
                            if lang_path === 'ru/'
                                a(href=`/${lang_path}moipoff`)= self.label.menu.mainPass
                        li#logOut(style={cursor: 'pointer', display: 'none'} )
                            a(onclick='logOut()')= self.label.menu.mainLogout


    label.main_menu_toggle_label(for='main_menu_toggle')
        span

    - var strapiServerPort = process.env['StrapiProtocol'] !== 'https' ? process.env['StrapiPort'] : ''
    - var huntAuthPort = process.env['StrapiProtocol'] !== 'https' ? process.env['HuntAuthPort'] : ''

    script.
        var langpath = "!{(lang_path)}"
        //- Below boolean needed for login
        var industryPage = false

    - var widget_id = "20457"


//- include ../_templates/tracker_mixin.pug
//- +trackMe()

