header
    .logo
        //- Defining locale path for multilingual support
        - var lang_path = self.locale === self.defaultLocale ? '' : `${self.locale}/`
        a(href=`/${lang_path}`)
            img.logo_img(alt='PÖFF' data-src='/assets/img/static/kumu_doc_logo_g.svg' src='/assets/img/static/kumu_doc_logo_g.svg')
    input#main_menu_toggle.main_menu_toggle(type='checkbox')

    nav.main_menu
        ul.ul_yx
            - var menu_path_lang = self.locale === self.defaultLocale ? '/' : `/${self.locale}/`
            div(class='main_menu_includer' include-html-menu=`${menu_path_lang}menu/index.html`)
            div#header-popup
                nav.org_menu
                    ul
                        li.org_item
                            a(href='https://poff.ee') PÖFF
                        li.org_item
                            a(href='https://industry.poff.ee') !{`Industry@Tallinn & Baltic Event`}
                        li.org_item
                            a(href='https://justfilm.ee/') JUST FILM
                        li.org_item
                            a(href='https://shorts.poff.ee') PÖFF Shorts
                        li.org_item
                            a(href='https://hoff.ee') HÕFF
                        li.org_item
                            a(href='https://tartuff.ee') TARTUFF
                        li.org_item.arrow ➔
                        li.org_item.small
                            a(href='https://kumu.poff.ee') KUMU Doc
                        li.org_item.small
                            a(href='https://filmikool.poff.ee') PÖFFi Filmikool
                        li.org_item.small
                            a(href='https://oyafond.ee') BRUNO O'YA Fond
                        li.org_item.small
                            a(href='https://poff.elisastage.ee') PÖFFi veebikino
            li
                nav.lang_menu
                    each p, locale in self.otherLocalePaths
                        a(href=(p !== '/' ? p + '/' : '/'))= locale

    label.main_menu_toggle_label(for='main_menu_toggle')
        span

    script.
        var langpath = "!{(lang_path)}"

    if process.env['ChatApi'] && self.deepchatActiveInWeb
    include ../_templates/deep_chat_kumu.pug

//- include ../_templates/tracker_mixin.pug
//- +trackMe()

