header
    .logo
        //- Defining locale path for multilingual support
        - var lang_path = self.locale === self.defaultLocale ? '' : `${self.locale}/`
        a(href=`/${lang_path}`)
            img.logo_img(alt='PÖFF' data-src='/assets/img/static/poff_28_logo_web.svg' src='/assets/img/static/poff_28_logo_web.svg')
    input#main_menu_toggle.main_menu_toggle(type='checkbox')

    nav.main_menu
        ul.ul_yx

            li
                nav.lang_menu
                    each p, locale in self.otherLocalePaths
                        a(href=(p !== '/' ? p + '/' : '/'))= locale


            li
                nav.org_menu
                    span.org_item
                        a(href='https://industry.poff.ee')
                            | !{`Industry@Tallinn & Baltic Event`}
                    span.org_item
                        a(href='https://justfilm.ee')
                            | Just Film
                    span.org_item
                        a(href='https://shorts.poff.ee')
                            | PÖFF Shorts
                    //- span.org_item
                    //-     a(href='https://kinoff.ee')
                    //-         | Kinoff
                    //- span.org_item
                    //-     a(href='https://kinoff.ee')
                    //-         | Kinoff
                    span.org_item
                        a(href='https://hoff.ee')
                            | HÕFF
                    //- span.org_item
                    //-     a(href='https://kumu.poff.ee')
                    //-         | KUMU Dokumentaal
                    //- span.org_item
                    //-     a(href='https://hoff.ee')
                    //-         | HÕFF
                    //- span.org_item
                    //-     a(href='https://tartuff.ee')
                    //-         | Tartuff
                    span.org_item
                        a(href='https://filmikool.poff.ee')
                            | Filmikool
                    //- span.org_item
                    //-     a(href='https://proscreen.poff.ee')
                    //-         | ProScreen
                    //- span.org_item
                    //-     a(href='https://oyafond.ee')
                    //-         | Bruno O'Ya Fond
                    span.org_item
                        a(href='https://elisastage.poff.ee')
                            | PÖFF TV

            - var menu_path_lang = self.locale === self.defaultLocale ? '/' : `/${self.locale}/`
            div(class='main_menu_includer' include-html-menu=`${menu_path_lang}menu/index.html`)

        user_menu_hidden(id='user_menu_hidden' style='display: none')
            li.user_menu.dropdown
                a.user_menu= self.label.menu.mainUserMenu
                    ul.ul_kaks
                        li#logIn(style={cursor: 'pointer', display: 'none'})
                            a#oauthLink= self.label.menu.mainLogin
                            script.
                                document.getElementById('oauthLink').href = huntAuthDomain + '/?redirect_uri=' + window.location.href + '?jwt='
                        //- li#signUp(style={cursor: 'pointer', display: 'none'})
                        //-     a(onclick = 'savePreLoginUrl()' href=`/${lang_path}signup`)= self.label.menu.mainSignup
                        //- li#logInName.dark_1(style={display: 'none'})
                        //-     a#tervitus= self.label.menu.mainGreeting
                        li#userProfile(style={cursor: 'pointer', display: 'none'})
                            a(onclick = 'savePreLoginUrl()', href=`/${lang_path}userprofile`)= self.label.menu.mainProfile
                        //- li#myFavouriteFilms(style={cursor: 'pointer'})
                        //-     a(href=`/${lang_path}favourite`)= self.label.menu.mainShortlist
                        li#myScreenings(style={cursor: 'pointer'} )
                            if lang_path === ''
                                a(href=`/${lang_path}minu_seansid`)= self.label.menu.mainMyScreenings
                            if lang_path === 'en/'
                                a(href=`/${lang_path}my_screenings`)= self.label.menu.mainMyScreenings
                            if lang_path === 'ru/'
                                a(href=`/${lang_path}moi_seanss`)= self.label.menu.mainMyScreenings
                        li#myPasses(style={cursor: 'pointer'} )
                            if lang_path === ''
                                a(href=`/${lang_path}minupoff`)= self.label.menu.mainPass
                            if lang_path === 'en/'
                                a(href=`/${lang_path}mypoff`)= self.label.menu.mainPass
                            if lang_path === 'ru/'
                                a(href=`/${lang_path}moipoff`)= self.label.menu.mainPass
                        li#logOut(style={cursor: 'pointer', display: 'none'} )
                            a(onclick='logOut()')= self.label.menu.mainLogout


    label.main_menu_toggle_label(for='main_menu_toggle')
        span


    script.
        var langpath = "!{(lang_path)}"
        //- Below boolean needed for login
        var industryPage = false

    - var widget_id = "20457"


//- include ../_templates/tracker_mixin.pug
//- +trackMe()

