script(src="https://browser.sentry-cdn.com/5.27.4/bundle.tracing.min.js" integrity="sha384-C4FnDB434rh858hdUT1O7fV7zJMZAUKKtHMBPeJjZZrlnf0lmZkWDMV+rAHEq+6b" crossorigin="anonymous")
script(src='https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js')

if self.title
    //- Facebook
    meta(property='og:title' content= self.title)
else if self.name
    meta(property='og:title' content= self.name)

//- Film
if self.cassetteCarouselPicsFilms
    - var featuredImg = self.cassetteCarouselPicsFilms[0]
//- Cassette
if self.cassetteCarouselPicsCassette
    - var featuredImg = self.cassetteCarouselPicsCassette[0]
//- Article
if self.primaryImage
    - var featuredImg = `https://assets.poff.ee/img/${self.primaryImage}`
//- Industry person
if self.picture
    - var featuredImg = `https://assets.poff.ee/img/${self.picture}`
//- Programme, Industry project / event
if self.images
    - var featuredImg = `https://assets.poff.ee/img/${self.images[0].hash}${self.images[0].ext}`
//- Placeholder
else
    - var featuredImg = `https://poff.ee/assets/img/static/placeholder_hd_1.jpg`


meta(property='og:image' content= featuredImg)

    //- Twitter
if self.title
    meta(name="twitter:text:title" content=self.title)
    meta(name="twitter:image:alt" content=self.title)
    meta(name="twitter:title" content=self.title)
else if self.name
    meta(name="twitter:text:title" content=self.name)
    meta(name="twitter:image:alt" content=self.name)
    meta(name="twitter:title" content=self.name)
meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:site" content="@TallinnBNFF")
meta(name="twitter:image" content=featuredImg)

if self.lead
    meta(name="twitter:description" content=self.lead)
else if self.synopsis
    meta(name="twitter:description" content=self.synopsis)
