header.menu
    //- Defining locale path for multilingual support
    - var lang_path = self.locale === self.defaultLocale ? '' : `${self.locale}/`
    a(href=`/${lang_path}`).logo
        img.logo_img(alt='PÖFF' data-src='/assets/img/static/industry_logo_2023_dates_es_ukr_eas.svg' src='/assets/img/static/industry_logo_2023_dates_es_ukr_eas.svg')

    //- nav.org_menu
    //-     span.org_item
    //-         a(href='https://poff.ee')
    //-             | PÖFF
    //-     span.org_item
    //-         a(href='https://justfilm.ee')
    //-             | Just Film
    //-     span.org_item
    //-         a(href='https://shorts.poff.ee')
    //-             | PÖFF Shorts
    //-     span.org_item
    //-         a(href='https://discoverycampus.poff.ee')
    //-             | Discovery Campus
        //- span.org_item
        //-     a(href='https://hoff.ee')
        //-         | HÕFF
        //- span.org_item
        //-     a(href='https://kumu.poff.ee')
        //-         | KUMU Doc
        //- span.org_item
        //-     a(href='https://kinoff.ee')
        //-         | Kinoff
        //- span.org_item
        //-     a(href='https://poff.elisastage.ee')
        //-         | PÖFF Online Cinema
        //- span.org_item
        //-     a(href='https://industrymeet.poff.ee')
        //-         | IndustryMeet
        //- span.org_item
        //-     a(href='https://spatial.chat/s/ITBESocialclub')
        //-         | SpatialChat
        //- span.org_item
        //-     a(href='https://proscreen.poff.ee')
        //-         | ProSscreen
    button#hamburger.show
        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="50" height="50" fill="white"/>
            <path d="M13 16.5H37" stroke="#0E1417" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M13 25H37" stroke="#0E1417" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M13 33.5H37" stroke="#0E1417" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>

    button#close_menu
        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="50" height="50" fill="white"/>
            <path d="M35 15L15 35" stroke="#0E1417" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M15 15L35 35" stroke="#0E1417" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>

    nav.lang_menu
        a(href='#')
            | ET
        a(href='#')
            | RU

    nav.megamenu 
        ul
            - var menu_path_lang = self.locale === self.defaultLocale ? '/' : `/${self.locale}/`
            div(class='main_menu_includer' include-html-menu=`${menu_path_lang}menu2/index.html`)

    - var strapiServerPort = process.env['StrapiProtocol'] !== 'https' ? process.env['StrapiPort'] : ''

    script.
        var langpath = "!{(lang_path)}"
        var strapiDomain = `!{process.env['StrapiProtocol']}://!{process.env['StrapiHost']}:!{strapiServerPort}`
        //- Below boolean needed for login
        var industryPage = true

//- include ../_templates/tracker_mixin.pug
//- +trackMe()
