header
    .logo
        //- Defining locale path for multilingual support
        - var lang_path = self.locale === self.defaultLocale ? '' : `${self.locale}/`
        a(href=`/${lang_path}`)
            img.logo_img(alt='KINOFF' data-src='/assets/img/static/kinoff_logo_2023_dark.svg' src='/assets/img/static/kinoff_logo_2023_dark.svg')
    input#main_menu_toggle.main_menu_toggle(type='checkbox')


    nav.main_menu
        ul.ul_yx
            li
                nav.org_menu
                    span.org_item
                        a(href='https://poff.ee')
                            | PÖFF
                    span.org_item
                        a(href='https://justfilm.ee')
                            | Just Film
                    span.org_item
                        a(href='https://shorts.poff.ee')
                            | PÖFF Shorts
                    span.org_item
                        a(href='https://kumu.poff.ee')
                            | KUMU Doc
                    span.org_item
                        a(href='https://industry.poff.ee')
                            | !{`Industry@Tallinn & Baltic Event`}
                    span.org_item
                        a(href='https://poff.elisastage.ee')
                            | PÖFFi veebikino

            - var menu_path_lang = self.locale === self.defaultLocale ? '/' : `/${self.locale}/`
            div(class='main_menu_includer' include-html-menu=`${menu_path_lang}menu/index.html`)

            li
                nav.lang_menu
                    each p, locale in self.otherLocalePaths
                        a(href=(p !== '/' ? p + '/' : '/'))= locale

    label.main_menu_toggle_label(for='main_menu_toggle')
        span

//- include ../_templates/tracker_mixin.pug
//- +trackMe()
