extends /_templates/layout.pug
include /_templates/mixins.pug



block content

    script.
        document.addEventListener('userProfileLoaded', function (e) {
            //- console.log({userProfile})

            if (userProfile.industryAccessLevel) {
                document.getElementById('videolevels_video').style.display = 'block'
                var videoFrameElement = document.getElementById('videoframe')
                videoFrameElement.src = videoFrameElement.getAttribute('target_src')
            } else {
                document.getElementById('videolevels_video').remove()
            }
        })

    main.grid_film
        if self.title

            //- KARUSELL Industry projekti piltidega
            section#carouselExampleIndicators.f_img_slider_box.carousel.slide(data-bs-ride='carousel' data-bs-interval='6000')
                ol.carousel-indicators
                    if self.images && self.images.length >1
                        each val, index in self.images
                            li(data-bs-target='#carouselExampleIndicators' href='#carouselExampleIndicators' data-bs-slide-to=index class=`${index === 0 ? 'active' : ''}`)
                .carousel-inner.container_frame_16_9
                    if self.images && self.images[0]
                        each val, index in self.images
                            if val
                                if index == 0
                                    .carousel-item.active.container_contents_16_9
                                        img.d-block.container_contents_16_9(src=`https://assets.poff.ee/img/${val.hash}${val.ext}` alt = self.title)
                                else
                                    .carousel-item.container_contents_16_9
                                        img.d-block.container_contents_16_9(src=`https://assets.poff.ee/img/${val.hash}${val.ext}` alt = self.title)
                    else
                        .carousel-item.active.container_contents_16_9
                            img.d-block.container_contents_16_9(src='/assets/img/static/industry_placeholder_circle.jpg' alt = self.title)

                if self.images && self.images.length >1
                    a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-bs-slide='prev')
                        // <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        svg.svg_icon_prev_next(viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
                            polyline(points='15 18 9 12 15 6')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-bs-slide='next')
                        // <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        svg.svg_icon_prev_next(viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
                            polyline(points='9 18 15 12 9 6')
                        span.sr-only Next
                        //- LÕPP! KARUSELL Industry projekti piltidega LÕPP
                if self.clipUrl
                    a.play_link(href='#trailer')
                        svg.svg_icon_play(viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='2' fill='#4fc4bf' stroke-linecap='round' stroke-linejoin='round')
                            polygon(points='5 3 19 12 5 21 5 3')


            section.f_title_box
                .premiere_type
                    if self.project_types && self.project_types[0]
                        //- Kui on mitu, eraldatakse komadega, kui vaid esimest ühte vaja, siis film.tags.premiere_types[0]
                        -var types = []
                        each p_type in self.project_types
                            - types.push(p_type.type)
                        p.premiere_type= types.join(', ')


                h1.film_title_detailed= self.title

                .str_info_blokk_1

                    if self.countries && self.countries[0]
                        .str_info_grid_3
                            .str_info_label= self.label.film.countries
                            -var countries = []
                            each country in self.countries
                                - countries.push(country.name)
                            .str_info_value= countries.join(', ')

                    if self.languages && self.languages[0]
                        .str_info_grid_3
                            .str_info_label= self.label.film.languages
                            - var languages = []
                            each language in self.languages
                                -languages.push(language.name)
                            .str_info_value= languages.join(', ')


                    if self.tag_genres && self.tag_genres[0]
                        .str_info_grid_3
                            .str_info_label= self.label.film.genre
                            .str_info_value= self.tag_genres.join(', ')

                    if self.project_statuses && self.project_statuses[0]
                        .str_info_grid_3
                            .str_info_label= self.label.industry.projectStatus
                            - var project_statuses = []
                            each p_status in self.project_statuses
                                -project_statuses.push(p_status.status)
                            .str_info_value= project_statuses.join(', ')


            section.f_synopsis_box
                if self.logline
                    .str_info_meta_gi
                        .str_info_meta_item
                            .str_info_meta_label.dark_semi= self.label.industry.logline

                    if typeof self.logline !== 'undefined'
                        - var logline_md = self.logline
                        .synopsis_gi
                            if self.logline
                                if typeof logline_md === 'string'
                                    +format(logline_md)

                if self.synopsis
                    .str_info_meta_gi
                        .str_info_meta_item

                            .str_info_meta_label.dark_semi= self.label.film.synopsis

                    if typeof self.synopsis !== 'undefined'
                        - var synopsis_md = self.synopsis
                        .synopsis_gi
                            if self.synopsis
                                if typeof synopsis_md === 'string'
                                    +format(synopsis_md)

                if self.directorsNote
                    .str_info_meta_gi
                        .str_info_meta_item

                            .str_info_meta_label.dark_semi= self.label.industry.directorsNote

                    if typeof self.directorsNote !== 'undefined'
                        - var directors_note_md = self.directorsNote
                        .synopsis_gi
                            if self.directorsNote
                                if typeof directors_note_md === 'string'
                                    +format(directors_note_md)

            section.project_cred_box
                .str_info_blokk_cred

                    if self.titleOriginal
                        .str_info_grid_3
                            .str_info_label= self.label.film.titleOriginal
                            .str_info_value= self.titleOriginal

                    if self.completionDate
                        .str_info_grid_3
                            .str_info_label= self.label.industry.completionDate
                            .str_info_value
                                +completionDateEET(self.completionDate)

                    if self.plannedPremiere
                        .str_info_grid_3
                            .str_info_label= self.label.industry.plannedPremiere
                            .str_info_value= self.plannedPremiere

                    if self.budget
                        .str_info_grid_3
                            .str_info_label= self.label.industry.projectBudget
                            .str_info_value
                                +bigMoney(self.budget)

                    if self.financed
                        .str_info_grid_3
                            .str_info_label= self.label.industry.projectFinanced
                            .str_info_value
                                +bigMoney(self.financed)

                    if self.lookingFor
                        .str_info_grid_3
                            .str_info_label= self.label.industry.lookingFor
                            .str_info_value= self.lookingFor

                    if self.country_focus && self.country_focus[0]
                        .str_info_grid_3
                            .str_info_label= self.label.industry.countryFocus
                            -var country_focus_names = []
                            each country in self.country_focus
                                - country_focus_names.push(country.name)
                            .str_info_value= country_focus_names.join(', ')

                    if self.numOfSeasons
                        .str_info_grid_3
                            .str_info_label= self.label.industry.numOfSeasons
                            .str_info_value= self.numOfSeasons

                    if self.numOfEpisodes
                        .str_info_grid_3
                            .str_info_label= self.label.industry.numOfEpisodes
                            .str_info_value= self.numOfEpisodes

                    if self.episodeDuration
                        .str_info_grid_3
                            .str_info_label= self.label.industry.episodeDuration
                            .str_info_value= self.episodeDuration

                    if self.attached_partners
                        .str_info_grid_3
                            .str_info_label= self.label.industry.partners
                            -var partner_name = []
                            each partner in self.attached_partners
                                - partner_name.push(partner.name)
                            .str_info_value= partner_name.join(', ')

                    if self.broadcasters
                        .str_info_grid_3
                            .str_info_label= self.label.industry.broadcaster
                            -var broadcaster_name = []
                            each broadcaster in self.broadcasters
                                - broadcaster_name.push(broadcaster.name)
                            .str_info_value= broadcaster_name.join(', ')

                    // RolePerson
                    if self.roles_in_project
                        each role in self.roles_in_project
                            .str_info_grid_3
                                .str_info_label= role.label
                                .str_info_value= role.names.map(r => r.name).join(', ')

                    // RoleCompany
                    if self.comp_roles_in_project
                        each role in self.comp_roles_in_project
                            .str_info_grid_3
                                .str_info_label= role.label
                                .str_info_value= role.names.map(r => r.name).join(', ')

            section.project_runtime_box

                if self.contactName
                    .str_info_grid_3
                        .str_info_label= self.label.industry.contactName
                        .str_info_value= self.contactName

                if self.contactEmail
                    .str_info_grid_3
                        .str_info_label= self.label.industry.contactEmail
                        .str_info_value= self.contactEmail

                if self.contactWeb
                    .str_info_grid_3
                        .str_info_label= self.label.industry.contactWeb
                        .str_info_value= self.contactWeb

                if self.contactAddress
                    .str_info_grid_3
                        .str_info_label= self.label.industry.contactAddress
                        .str_info_value= self.contactAddress

                if self.contactCompany && self.contactCompany.name
                    .str_info_grid_3
                        .str_info_label= self.label.industry.contactCompany
                        .str_info_value= self.contactCompany.name

            section.f_dir_box
                if self.persons
                    each person in self.persons
                        if person.rolesAtFilm && person.person && person.person.biography
                            .f_dir_bio_box
                                .dir_img
                                    if person.person.picture
                                        img.img_dir(src=`https://assets.poff.ee/img/${person.person.picture.hash}${person.person.picture.ext}` alt = person.person.firstNameLastName)
                                    if person.person.firstName || person.person.lastName

                                    .str_info_meta_gi
                                        .str_info_meta_item
                                            .str_info_meta_label.dark_semi= person.rolesAtFilm.join(', ')
                                            .str_info_value.text_right.dark_1= `${person.person.firstName ? person.person.firstName : ''} ${person.person.lastName ? person.person.lastName : ''}`

                                    //- .str_info_grid_3
                                    //-     .str_info_label.text_left.dark_semi= person.rolesAtFilm.join(', ')
                                    //-     .str_info_value.text_right.dark_1= `${person.person.firstName ? person.person.firstName : ''} ${person.person.lastName ? person.person.lastName : ''}`

                                .dir_bio.dark_1
                                    if person.person.biography
                                        p.dark_1= person.person.biography
                                    if person.person.filmography
                                        p.dark_1= person.person.filmography
                                    else if person.person.filmography
                                        p.dark_1= person.person.filmography

                if self.organisations
                    each company in self.organisations
                        if company.rolesAtFilm && company.organisations.namePrivate && company.organisations.description
                            .f_dir_bio_box
                                .dir_img
                                    if company.organisations.logoColour
                                        img.img_comp(src=`https://assets.poff.ee/img/${company.organisations.logoColour.hash}${company.organisations.logoColour.ext}` alt = company.organisations.namePrivate)

                                    .str_info_meta_gi
                                        .str_info_meta_item
                                            .str_info_meta_label.dark_semi= company.rolesAtFilm.join(', ')
                                            .str_info_value.text_right.dark_1= company.organisations.namePrivate

                                    //- .str_info_grid_3
                                    //-     .str_info_label.text_left.dark_semi= company.rolesAtFilm.join(', ')
                                    //-     .str_info_value.text_right.dark_1= company.organisations.namePrivate

                                .dir_bio.dark_1
                                    if company.organisations.description
                                        p.dark_1= company.organisations.description


            if self.clipUrl
                section#trailer.f_trailer_box
                    .section_headline.white_96= self.label.industry.pitch
                    //- .ratio.ratio-16x9.m-0.p-0
                    .videolevels_embed_container
                        if self.clipUrl
                            .videolevels_embed_contents#videolevels_video(style="display:none;")
                                +videoVl(self.clipUrl)
                        .default_16_9_container
                        .login_16_9_container.login_ind_ev#login_cond
                            h4.login_headline#loginMessage Login via Eventival
                            a(href=`/login` onclick = 'saveUrl()')
                                img.eventival_logo_img(alt='PÖFF' data-src='/assets/img/static/eventival_logo.svg' src='/assets/img/static/eventival_logo.svg')
                    .elisa_stage
                        img.elisa_powered(src='https://assets.poff.ee/img/poff24_elisa_stage.svg')






