extends /_templates/layout.pug
include /_templates/mixins.pug


block content
    script(src='/assets/poffOmatic.js')
    script.
        document.addEventListener('DOMContentLoaded', function (e) {
            document.getElementById('videolevels_video').style.display = 'block'
            var videoFrameElement = document.getElementById('videoframe')
            videoFrameElement.src = videoFrameElement.getAttribute('target_src')
        })

        //- document.addEventListener('userProfileLoaded', function (e) {
        //-     //- console.log({userProfile})

        //-     if (userProfile.industryAccessLevel) {
        //-         document.getElementById('videolevels_video').style.display = 'block'
        //-         var videoFrameElement = document.getElementById('videoframe')
        //-         videoFrameElement.src = videoFrameElement.getAttribute('target_src')
        //-     } else {
        //-         document.getElementById('videolevels_video').remove()
        //-     }
        //- })


    - var assetsDir = 'https://assets.poff.ee/img/'

    main.grid_ind_event
        if self.title && self.title.length > 1
            //- KARUSELL piltidega
            //- section#carouselExampleIndicators.f_img_slider_box.carousel.slide(data-ride='carousel' data-interval='6000')
            //-     ol.carousel-indicators
            //-         if self.images && self.images[0]
            //-             each val, index in self.images
            //-                 li(data-target='#carouselExampleIndicators' data-slide-to = index)
            //-     .carousel-inner.container_frame_16_9
            //-         if self.images && self.images[0]
            //-             each val, index in self.images
            //-                 if index == 0
            //-                     .carousel-item.active.container_contents_16_9
            //-                         img.d-block.container_contents_16_9(src=`${assetsDir}${val.hash}${val.ext}` alt = self.title)
            //-                 else
            //-                     .carousel-item.container_contents_16_9
            //-                         img.d-block.container_contents_16_9(src=`${assetsDir}${val.hash}${val.ext}` alt = self.title)
            //-             else
            //-                 .carousel-item.active.container_contents_16_9
            //-                     img.d-block.container_contents_16_9(src='/assets/img/static/placeholder_hd_1.jpg' alt = self.title)
            //-         else
            //-             .carousel-item.active.container_contents_16_9
            //-                 img.d-block.container_contents_16_9(src='/assets/img/static/placeholder_hd_1.jpg' alt = self.title)

            //-     a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
            //-         // <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            //-         svg.svg_icon_prev_next(viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
            //-             polyline(points='15 18 9 12 15 6')
            //-         span.sr-only Previous
            //-     a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
            //-         // <span class="carousel-control-next-icon" aria-hidden="true"></span>
            //-         svg.svg_icon_prev_next(viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
            //-             polyline(points='9 18 15 12 9 6')
            //-         span.sr-only Next
            //- LÕPP! KARUSELL piltidega LÕPP

            section.f_title_box

                .premiere_type
                    if self.industry_categories
                        p.premiere_type= self.industry_categories.map(cat => cat.name).join(', ')

                h1.film_title_detailed= self.title

                if self.startTime && typeof self.startTime === 'string'

                    .str_info_blokk_1

                        .str_info_grid_3
                            .str_info_label= self.label.industry.eventDate
                            .str_info_value
                                +screeningDate(self.startTime)

                        .str_info_grid_3
                            .str_info_label= self.label.industry.eventTimeEet
                            .str_info_value
                                +screeningTimeEET(self.startTime)

                        .str_info_grid_3
                            .str_info_label= self.label.industry.eventTimeUser
                            .str_info_value
                                +screeningTime(self.startTime)

                        .str_info_grid_3
                            .str_info_label= self.label.industry.duration
                            .str_info_value
                                +indEvDur(self.durationTime)

            section#trailer.f_trailer_box
                //- .section_headline= self.label.film.trailer
                //- .embed-responsive.embed-responsive-16by9.m-0.p-0
                .videolevels_embed_container
                    if self.videoUrl
                        .videolevels_embed_contents#videolevels_video(style="display:none;")
                            +videoVl(self.videoUrl)
                    .default_16_9_container
                    //- .login_16_9_container.login_ind_ev#login_cond
                    //-     h4.login_headline#loginMessage Login via Eventival
                    //-     a(href=`/login` onclick = 'saveUrl()')
                    //-         img.eventival_logo_img(alt='PÖFF' data-src='/assets/img/static/eventival_logo.svg' src='/assets/img/static/eventival_logo.svg')
                .elisa_stage
                    img.elisa_powered(src='https://assets.poff.ee/img/poff24_elisa_stage.svg')

            section.f_synopsis_box
                .str_info_meta_gi
                .synopsis_gi
                    if self.lead && typeof self.lead === 'string'
                        p.dark_1
                            +format(self.lead)

                    if self.description && typeof self.description === 'string'
                        p.dark_1
                            +format(self.description)

            section.f_cred_box
                if self.isLiveEvent === true
                    +chat(self.title, false)
                    p.dark_5
                        | Leave your questions and comments here
            section.f_runtime_box
                if self.isLiveEvent === true
                    +chat(self.title, true)
                    p.dark_5
                        | Moderated questions and comments


    section.f_interactive_box
        if self.industry_people
            //- h1.section_headline= 'SIIA NÄITEKS LABEL PERSOONIDE KOHTA'
            //- h1.sub_section_headline= 'Või veel midagi'
            .sub_team
                each indPerson in self.industry_people
                    if indPerson.slug
                        .person
                            .person_head
                                a(href=`/${indPerson.slug}`)
                                    if indPerson.profilePicAtInd
                                        - var personPic = assetsDir + indPerson.profilePicAtInd.hash + indPerson.profilePicAtInd.ext
                                    else if indPerson.person.picture
                                        - var personPic = assetsDir + indPerson.person.picture.hash + indPerson.person.picture.ext
                                    else
                                        - var personPic ='/assets/img/static/Hunt_Kriimsilm_2708d753de.jpg'
                                    img.person_img(src=personPic alt=`${indPerson.person.firstName ? indPerson.person.firstName : ''} ${indPerson.person.lastName ? indPerson.person.lastName : ''}`)

                                    .person_body.text_center
                                        h4.text_center= `${indPerson.person.firstName ? indPerson.person.firstName : ''} ${indPerson.person.lastName ? indPerson.person.lastName : ''}`
                                        p
                                            if indPerson.role_at_films
                                                span= indPerson.role_at_films.map(role => role.roleName).join(', ')
                                                br
                                            if indPerson.industry_person_types
                                                span= indPerson.industry_person_types.map(type => type.type).join(', ')
    //- section.event_card_footer
    //-     .grid_container_screening_time_2
    //-         .text-right
    //-             p.screening_date.small_1.add_to_calendar_button(id = self.id + '_notInMyCalendar' onclick=`addToMyCal('${self.id}');return false` style='display: none')= 'Add to calendar'
    //-             p.screening_date.small_1.remove_from_calendar_button(id = self.id + '_inMyCalendar' onclick = `removeEvent('${self.id}');return false` onmouseover='changeToRemove(this.id);return false' onmouseout='revertRemove(this.id);return false' style='display: none')= 'In my calendar'

    //-             p(id=`cal_${self.id}` style='display: none') #{self.calendar_data}
