block content
    if self.data.industryevents.allDates

        .calendar_headline= 'Events Schedule'

        section.days_box
            .day_box
                .day_date#date_bf_2= ''
            .day_box
                .day_date#date_bf_1= ''
            .day_box.sel_date
                .day_date#selected_date= ''
            .day_box
                .day_date#date_af_1= ''
            .day_box
                .day_date#date_af_2= ''

                .hidden
                    h3.sub_section_headline
                        button(onclick='toggleDate(`-`, 1)')= `<`
                        button(onclick='toggleDate(`+`, 1)')= `>`
                    h3.sub_section_headline
                        button(onclick='toggleDate()' style='display: none')#show_all_button= `SHOW ALL DATES`


        each date of self.data.industryevents.allDates
            //- Siit algab iga kuup채ev
            .day_result(id=date element-type='event')
                //- H3.dark_1.text_center= (date)
                .channels_box
                    if self.data.industryevents.eventsByDate && self.data.industryevents.eventsByDate[date]
                        - var eventDate = self.data.industryevents.eventsByDate[date]
                        each channel of self.data.channels
                            //- Siit algavad 체he kuup채eva kanalid ja kuvatakse kanali nimi
                            .channel_box
                                .channel_name= channel.name
                                if eventDate[`Channel_${channel.id}`]
                                    each event of eventDate[`Channel_${channel.id}`]
                                        //- Siit eraldi selle kuup채eva selle kanali eventid
                                        if event.title && event.title.length > 1
                                            a.card_schedule(href=`/${lang_path}events/${event.slug}`)
                                                //- .date#event_date= event.startTime
                                                //- .container_frame_16_9
                                                //-     if event.images && event.images[0]
                                                //-         img.container_contents_16_9(src=`https://assets.poff.ee/img/${event.images[0].hash}${event.images[0].ext}` alt = event.title)
                                                //-     else
                                                //-         img.container_contents_16_9(src='/assets/img/static/placeholder_hd_1.jpg')
                                                .card_film_title
                                                    h3.film_title_locale.dark_1.padding_bottom_2= event.title
                                                        p(id= event.id+'nupp' style={color: 'red', display:'none'})

                                                .event_card_footer
                                                    .grid_container_screening_time
                                                        div
                                                            svg.svg_icon_small(viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
                                                                circle(cx='12' cy='12' r='10')
                                                                polyline(points='12 6 12 12 16 14')
                                                            span.screening_time.small_1
                                                                +screeningTimeEET(event.startTime)
                                                            span.screening_time.small_1 &nbsp;EET

                                                        .text-right
                                                            svg.svg_icon_small(viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
                                                                rect(x='3' y='4' width='18' height='18' rx='2' ry='2')
                                                                line(x1='16' y1='2' x2='16' y2='6')
                                                                line(x1='8' y1='2' x2='8' y2='6')
                                                                line(x1='3' y1='10' x2='21' y2='10')
                                                            span.screening_date.small_1
                                                                if event.startTime
                                                                    +screeningDate(event.startTime)

                                                .event_card_footer
                                                    .grid_container_screening_time_2
                                                        div
                                                            svg.svg_icon_small(viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
                                                                circle(cx='12' cy='12' r='10')
                                                                polyline(points='12 6 12 12 16 14')
                                                            span.screening_time.small_1
                                                                +screeningTime(event.startTime)
                                                            span.screening_time.small_1 &nbsp;User

                                                        .text-right
                                                            svg.svg_icon_small_primary(viewBox='0 0 24 24' width='24' height='24' stroke='#4fc4bf' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
                                                                rect(x='3' y='4' width='18' height='18' rx='2' ry='2')
                                                                line(x1='16' y1='2' x2='16' y2='6')
                                                                line(x1='8' y1='2' x2='8' y2='6')
                                                                line(x1='3' y1='10' x2='21' y2='10')
                                                            span.screening_date.small_1.add_to_calendar_button(id = event.id + '_notInMyCalendar' onclick=`addToMyCal('${event.id}');return false` style='display: none')= 'Add to calendar'
                                                            span.screening_date.small_1.remove_from_calendar_button(id = event.id + '_inMyCalendar' onclick = `removeEvent('${event.id}');return false` onmouseover='changeToRemove(this.id);return false' onmouseout='revertRemove(this.id);return false' style='display: none')= 'In my calendar'
                                                            //- Selle peidetud inputi sees on data
                                                            span(id=`cal_${event.id}` style='display: none') #{event.calendar_data}

                                                //- .card_film_info
                                                //-     .str_info_grid_3
                                                //-         if event.project_type && event.project_type.type
                                                //-             .str_info_value.dark_1.thin_300= event.project_type.type

                                                //-         if event.startTime && typeof event.startTime === 'string'
                                                //-             .str_info_value.dark_1.thin_300
                                                //-                 +localdate(event.startTime)

                                                        //- if event.location && event.location.hall && event.location.hall.name
                                                        //-     if event.location.hall && event.location.hall.name
                                                        //-         span.dark_1.screening_hall= event.location.hall.name
                                                        //-         if event.location.hall.cinema && event.location.hall.cinema.name
                                                        //-             span.dark_1.screening_venue= ` ${event.location.hall.cinema.name}`
                                                        //-             if event.location.hall.cinema.town && event.location.hall.cinema.town.name && event.location.hall.cinema.town.country && event.location.hall.cinema.town.country.name
                                                        //-                 span.dark_1.city= ` ${event.location.hall.cinema.town.name}`
                                                        //- if event.videoUrl
                                                        //-     h1.film_title_locale.dark_1= event.videoUrl

    script.
        const selectedDate = document.getElementById('selected_date');

        const date_bf_2 = document.getElementById('date_bf_2');
        const date_bf_1 = document.getElementById('date_bf_1');
        const date_af_1 = document.getElementById('date_af_1');
        const date_af_2 = document.getElementById('date_af_2');

        const event_start_date = new Date('2020-11-16')
        const event_end_date = new Date('2020-11-27')

        const event_start_day = event_start_date.getDate()
        const event_end_day = event_end_date.getDate()

        let today = new Date()

        if (today.getTime() <= event_start_date.getTime()) {
            today = new Date(event_start_date.getTime())
        } else if (today.getTime() >= event_end_date.getTime()) {
            today = new Date(event_end_date.getTime())
        }

        const calendarDate = function(datestring)
        {

            moment.updateLocale('en', {});

            //- return datestring
            return moment(datestring).format('dddd, D MMMM');
        }

        function toggleDate (updown, days) {

            //- let before_click_today = new Date(today.getTime())
            if (updown === '+') {
                if (today.getDate() === event_end_day) {
                    return false
                }
                today.setDate(today.getDate()+days)
            } else if (updown === '-') {
                if (today.getDate() === event_start_day) {
                    return false
                }
                today.setDate(today.getDate()-days)
            }

            let yesterday = new Date(today)
            yesterday.setDate(today.getDate() - 1)
            let yesterday2 = new Date(today)
            yesterday2.setDate(today.getDate() - 2)
            let tomorrow = new Date(today)
            tomorrow.setDate(today.getDate() + 1)
            let tomorrow2 = new Date(today)
            tomorrow2.setDate(today.getDate() + 2)

            if (today.getDate() === event_start_day) {
                date_bf_2.innerHTML =  '&nbsp;'
                date_bf_2.onclick = function() { return false };
                date_bf_1.innerHTML =  '&nbsp;'
                date_bf_2.onclick = function() { return false };
            } else {
                if (yesterday.getDate() === event_start_day) {
                    date_bf_2.innerHTML = '&nbsp;'
                    date_bf_2.onclick = function() { return false };
                } else {
                    date_bf_2.innerHTML = calendarDate(yesterday2)
                    date_bf_2.onclick = function() { toggleDate('-', 2) };
                }
                date_bf_1.innerHTML = calendarDate(yesterday)
                date_bf_1.onclick = function() { toggleDate('-', 1) };
            }

            selectedDate.innerHTML = calendarDate(today)

            if (today.getDate() === event_end_day) {
                date_af_1.innerHTML = '&nbsp;'
                date_af_1.onclick = function() { return false };
                date_af_2.innerHTML = '&nbsp;'
                date_af_2.onclick = function() { return false };
            } else {
                if (tomorrow.getDate() === event_end_day) {
                    date_af_2.innerHTML = '&nbsp;'
                    date_af_2.onclick = function() { return false };
                } else {
                    date_af_2.innerHTML = calendarDate(tomorrow2)
                    date_af_2.onclick = function() { toggleDate('+', 2) };
                }
                date_af_1.innerHTML = calendarDate(tomorrow)
                date_af_1.onclick = function() { toggleDate('+', 1) };
            }

            if (updown) {
                toggleCards()
            } else {
                toggleCards(true)
            }
        }

        let cards = document.querySelectorAll('[element-type="event"]')

        // If called with parameter show === true, then always displayed
        function toggleCards(show) {
            let display = ''
            let show_all_button = document.getElementById('show_all_button')
            if (show) {
                display = 'grid'
                show_all_button.style.display = 'none'
            } else {
                display = 'none'
                show_all_button.style.display = 'grid'
            }
            cards.forEach(card => {

                let eventStart = new Date(card.id)
                let eventDate = calendarDate(eventStart.getFullYear()+'-'+(eventStart.getMonth()+1)+'-'+eventStart.getDate());
                if (eventDate === selectedDate.innerHTML) {
                    card.style.display = "grid"
                } else {
                    card.style.display = display
                }

            })
        }

        //- date_bf_2.addEventListener('click', e => { toggleDate('-', 2) } )
        //- date_bf_1.addEventListener('click', e => { toggleDate('-', 1) } )
        //- date_af_1.addEventListener('click', e => { toggleDate('+', 1) } )
        //- date_af_2.addEventListener('click', e => { toggleDate('+', 2) } )

        toggleDate()
        toggleCards()
