extends /_templates/layout.pug
include /_templates/mixins.pug

block content
    - var assetsDir = 'https://assets.poff.ee/img/'

    //- Siia saab siis panna ala self.addr... jne, st õiged lat lng, muutujatest
    if self.addr_coll
        - var thisLat = self.addr_coll.l_est_x
        - var thisLng = self.addr_coll.l_est_y

    script.
        function initMap(thisLat, thisLng) {
            var cordinates = {
                lat: #{thisLat},
                lng: #{thisLng}
            }
            console.log({cordinates})
            const map = new google.maps.Map(document.getElementById("map"), {
                center: cordinates,
                zoom: 11,
                mapId: '302b82db3f957964'
            })

            const marker = new google.maps.Marker({
            position: cordinates,
            map: map
            })
        }
        window.initMap = initMap

    script(async, defer, src=`https://maps.googleapis.com/maps/api/js?key=${process.env['GoogleMapApiKey']}&callback=initMap`)

    if process.env['DOMAIN'] === 'industry.poff.ee'

        if self.name
            section.grid_location
                .c_img_box
                    if self.profile_img
                        - var locPic = `${assetsDir}${self.profile_img.hash}${self.profile_img.ext}`
                    else
                        - var locPic ='/assets/img/static/hunt_square_placeholder.jpg'
                    img.person_img_square(src=locPic alt=self.name)
                    if self.profile_img
                        p.caption.caption_offset= self.profile_img.caption

                .c_title_box
                    .c_top_box
                    .name_box
                        .person_name= self.name
                    .accounts_box

                section.c_main_info_box
                    //- .str_info_grid_3
                    //-     .person_info_label
                    //-     .person_info_c.text_left
                    //-         | Info
                    .str_info_blokk_cred
                        if self.addr_coll
                            .str_info_grid_3
                                .person_info_label= self.label.userprofile.address
                                .person_info_value
                                    if self.addr_coll.street_name
                                        span.person_info_value= self.addr_coll.street_name
                                    if self.addr_coll.address_number
                                        span.person_info_value= ' ' + self.addr_coll.address_number
                                    if self.addr_coll.municipality
                                        span.person_info_value= ', ' + self.addr_coll.municipality.name
                                    if self.addr_coll.county
                                        span.person_info_value= ', ' + self.addr_coll.county.name
                                    if self.addr_coll.country
                                        span.person_info_value= ', ' + self.addr_coll.country.name
                        //- if self.description
                        //-     .str_info_grid_3
                        //-         .person_info_label= self.label.userprofile.description
                        //-         .person_info_value= self.description
                        if typeof self.description !== 'undefined'
                        - var description = self.description
                        if typeof description === 'string'
                            .str_info_grid_3
                                .person_info_label= self.label.userprofile.description
                                .person_info_value
                                    +format(description)

                        //- if self.tag_locations
                        //-     .str_info_grid_3
                        //-         .person_info_label= self.label.userprofile.tags
                        //-         .person_info_value= self.tag_locations.map(tag_location => tag_location.name).join(', ')



                        if self.dateOfBirth
                            .str_info_grid_3
                                .person_info_label= self.label.userprofile.birthday
                                .person_info_value
                                    +birthDateEET(self.dateOfBirth)
                        //- if self.country
                        //-     .str_info_grid_3
                        //-         .person_info_label= self.label.userprofile.country
                        //-         .person_info_value= self.country.name
                        if self.eMail
                            .str_info_grid_3
                                .person_info_label= self.label.userprofile.email
                                .person_info_value= self.eMail
                        if self.phoneNr
                            .str_info_grid_3
                                .person_info_label= self.label.userprofile.phone
                                .person_info_value= self.phoneNr

                        if typeof self.bio !== 'undefined'
                            - var bio = self.bio
                            if typeof bio === 'string'
                                .str_info_grid_3
                                    .person_info_label= self.label.userprofile.biography
                                    .person_info_value.font_h
                                        +format(bio)

                section.c_actor_info_box
                    //- .str_info_grid_3
                    //-     .person_info_label
                    //-     .person_info_c.text_left
                    //-         | Info
                    .str_info_blokk_cred
                        if self.tag_locations
                                .str_info_grid_3
                                    .person_info_label= self.label.userprofile.locationTags
                                    .person_info_value= self.tag_locations.map(tag_location => tag_location.name).join(', ')


            if thisLat && thisLng
                #map(style=`height:600px; width:100%`)
            else
                img.map(src='/assets/img/static/placeholder_hd_1.jpg' style=`height:400px; width:100%`)
