extends /_templates/layout.pug
include /_templates/mixins.pug

block content
    - var assetsDir = 'https://assets.poff.ee/img/'

    //- Siia saab siis panna ala self.addr... jne, st õiged lat lng, muutujatest
    - var thisLat = 59.401678066055325
    - var thisLng = 25.767196296945674

    script.
        function initMap(thisLat, thisLng) {
            var cordinates = {
                lat: #{thisLat},
                lng: #{thisLng}
            }
            console.log('#{thisLat}', thisLng)
            console.log({cordinates})
            const map = new google.maps.Map(document.getElementById("map"), {
                center: cordinates,
                zoom: 11,
                mapId: '302b82db3f957964'
            })

            const marker = new google.maps.Marker({
            position: cordinates,
            map: map
            })
        }
        window.initMap = initMap(thisLat, thisLng)

    script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0XJ2s7rWaTaF8dTv91uzORfXQItHPbgU&callback=initMap")


    if process.env['DOMAIN'] === 'industry.poff.ee'

        if self.name
            section.grid_creative
                section.c_img_box
                    if self.profile_img
                        - var personPic = `${assetsDir}${self.profile_img.hash}${self.profile_img.ext}`
                    else
                        - var personPic ='/assets/img/static/Hunt_Kriimsilm_2708d753de.jpg'
                    img.person_img_square(src=personPic alt=self.name)
                    if self.profile_img
                        p.caption.caption_offset= self.profile_img.caption

                    if self.addr_coll
                        #map(style=`height:400px; width:100%`)
                    else
                        img.map(src='/assets/img/static/placeholder_hd_1.jpg')

                section.c_title_box
                    .name_box
                        .person_name= self.name

                section.c_main_info_box
                //- .str_info_grid_3
                //-     .person_info_label
                //-     .person_info_c.text_left
                //-         | Personal info
                .str_info_blokk_cred
                    if self.gender
                        .str_info_grid_3
                            .person_info_label= self.label.userprofile.gender
                            .person_info_value= self.gender
                    if self.dateOfBirth
                        .str_info_grid_3
                            .person_info_label= self.label.userprofile.birthday
                            .person_info_value
                                +birthDateEET(self.dateOfBirth)
                    if self.country
                        .str_info_grid_3
                            .person_info_label= self.label.userprofile.country
                            .person_info_value= self.country.name
                    if self.eMail
                        .str_info_grid_3
                            .person_info_label= self.label.userprofile.email
                            .person_info_value= self.eMail
                    if self.phoneNr
                        .str_info_grid_3
                            .person_info_label= self.label.userprofile.phone
                            .person_info_value= self.phoneNr

                    if typeof self.bio !== 'undefined'
                        - var bio = self.bio
                        if typeof bio === 'string'
                            .str_info_grid_3
                                .person_info_label= self.label.userprofile.biography
                                .person_info_value.font_h
                                    +format(bio)
