extends /_templates/layout.pug
include /_templates/mixins.pug

block content
    - var assetsDir = 'https://assets.poff.ee/img/'
    - var audioDir = 'https://assets.poff.ee/img/'

    if self.name
        section.grid_org_creative.org_grid_main
            section.c_profile_img
                if self.profile_img
                    - var orgProfile = `${assetsDir}${self.profile_img.hash}${self.profile_img.ext}`
                else
                    - var orgProfile ='/assets/img/static/hunt_square_placeholder.jpg'

                img.org_img(src=orgProfile alt=self.name)

            section.c_title_box
                .name_box
                    .organisation_name= self.name

                section.accounts_box
                    if self.acc_efis
                        a.person_info_value(href= self.acc_efis target="_BLANK" title="EFIS account")
                            <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="1,5" fill="none" stroke-linecap="round" stroke-linejoin="round" class="feather">
                                <path class="st0" d="M10.5,16.5c1.5-0.8,3.3-0.3,4.2,1.1c0.2,0.3,0.3,0.6,0.3,0.9c-2,0.9-4.2,0.9-6,0C9.2,17.6,9.7,16.9,10.5,16.5z"/>
                                <path class="st0" d="M8.5,14c0.7,1.3,0.5,2.9-0.6,3.8c-0.8-0.6-1.5-1.3-2.1-2.3c-0.5-0.9-0.8-1.9-0.9-2.9C6.3,12.2,7.8,12.7,8.5,14z"/>
                                <path class="st0" d="M13.7,11c0.5,0.9,0.2,2.1-0.7,2.7c-0.9,0.5-2.1,0.2-2.7-0.7c-0.5-0.9-0.2-2.1,0.7-2.6C12,9.8,13.1,10.1,13.7,11z"/>
                                <path class="st0" d="M4.9,11.4c0.2-2,1.2-4,3-5.2c0.2,0.2,0.4,0.4,0.6,0.7c0.8,1.5,0.3,3.4-1.1,4.2C6.6,11.6,5.7,11.6,4.9,11.4z"/>
                                <path class="st0" d="M15,18.4c0.3,1.3-0.3,2.6-1.5,3.3c-1.5,0.8-3.4,0.3-4.2-1.1C8.9,20,8.8,19.2,9,18.5C10.8,19.3,13,19.4,15,18.4z"/>
                                <path class="st0" d="M4.3,5.8C5.5,5.1,7,5.3,7.9,6.2c-1.8,1.2-2.8,3.2-3,5.2c-0.7-0.2-1.3-0.7-1.7-1.4C2.3,8.5,2.8,6.6,4.3,5.8z"/>
                                <path class="st1" d="M13,13.7c0.9-0.5,1.2-1.7,0.7-2.7c-0.5-0.9-1.7-1.2-2.6-0.7c-0.9,0.5-1.2,1.7-0.7,2.6C10.9,13.9,12,14.2,13,13.7z M21.5,6.5c-3-5.3-9.8-7.1-15-4c-5.3,3-7.1,9.8-4,15s9.8,7.1,15,4C22.8,18.5,24.6,11.8,21.5,6.5zM16.1,17.8c1,0.9,2.4,1.1,3.6,0.4c1.5-0.8,2-2.7,1.1-4.2c-0.4-0.7-1-1.2-1.7-1.4c-0.8-0.3-1.7-0.2-2.5,0.3c-1.5,0.9-2,2.7-1.1,4.2C15.7,17.4,15.9,17.6,16.1,17.8z M9,18.5c0.2-0.8,0.7-1.5,1.5-2c1.5-0.8,3.3-0.3,4.2,1.1c0.2,0.3,0.3,0.6,0.3,0.9c0.3,1.3-0.3,2.6-1.5,3.3c-1.5,0.8-3.4,0.3-4.2-1.1C8.9,20,8.8,19.2,9,18.5z M4.9,11.4c0.8,0.3,1.7,0.2,2.5-0.3c1.5-0.8,2-2.7,1.1-4.2C8.3,6.6,8.1,6.4,7.9,6.2C7,5.3,5.5,5.1,4.3,5.8c-1.5,0.9-2,2.7-1.1,4.2C3.6,10.7,4.2,11.1,4.9,11.4zM4.9,12.6c-0.2,0.1-0.4,0.2-0.6,0.3c-1.5,0.9-2,2.7-1.1,4.2c0.8,1.5,2.7,2,4.2,1.1c0.2-0.1,0.4-0.2,0.5-0.4c1-0.9,1.3-2.5,0.6-3.8C7.8,12.7,6.3,12.2,4.9,12.6z M16.1,6.2c-1,1-1.3,2.5-0.6,3.8c0.7,1.3,2.2,1.8,3.6,1.4c0.2-0.1,0.4-0.2,0.6-0.3c1.5-0.8,2-2.7,1.1-4.2c-0.8-1.5-2.7-2-4.2-1.1C16.4,5.9,16.3,6,16.1,6.2z M9,5.5c-0.3-1.3,0.3-2.6,1.5-3.3c1.5-0.8,3.3-0.3,4.2,1.1C15.1,4,15.2,4.8,15,5.5c-0.2,0.8-0.7,1.5-1.5,2c-1.5,0.8-3.4,0.3-4.2-1.1C9.2,6.1,9.1,5.8,9,5.5z"/>
                                <path class="st0" d="M9,5.5c2-0.9,4.2-0.9,6,0c-0.2,0.8-0.7,1.5-1.5,2c-1.5,0.8-3.4,0.3-4.2-1.1C9.2,6.1,9.1,5.8,9,5.5z"/>
                                <path class="st0" d="M15.5,17.1c-0.8-1.5-0.3-3.3,1.1-4.2c0.8-0.4,1.7-0.5,2.5-0.3c-0.2,2-1.2,4-3,5.2C15.9,17.6,15.7,17.4,15.5,17.1z"/>
                                <path class="st0" d="M18.2,8.4c0.5,0.9,0.8,1.9,0.9,2.9c-1.3,0.4-2.9-0.1-3.6-1.4c-0.7-1.3-0.5-2.9,0.6-3.8C16.9,6.7,17.6,7.5,18.2,8.4z"/>
                                <path class="st0" d="M20.8,14c0.9,1.5,0.3,3.4-1.1,4.2c-1.2,0.7-2.6,0.5-3.6-0.4c1.8-1.2,2.8-3.2,3-5.2C19.8,12.9,20.4,13.3,20.8,14z"/>
                                <path class="st0" d="M5.8,15.6c0.5,0.9,1.3,1.7,2.1,2.3c-0.2,0.1-0.3,0.3-0.5,0.4c-1.5,0.8-3.3,0.3-4.2-1.1c-0.9-1.5-0.3-3.3,1.1-4.2c0.2-0.1,0.4-0.2,0.6-0.3C5,13.6,5.3,14.6,5.8,15.6z"/>
                                <path class="st0" d="M20.8,6.9c0.9,1.5,0.3,3.4-1.1,4.2c-0.2,0.1-0.4,0.2-0.6,0.3c-0.1-1-0.4-2-0.9-2.9c-0.5-0.9-1.3-1.7-2.1-2.3c0.2-0.1,0.3-0.3,0.5-0.4C18.1,4.9,20,5.4,20.8,6.9z"/>
                                <path class="st0" d="M15,5.5c-1.9-0.9-4-0.9-6,0c-0.3-1.3,0.3-2.6,1.5-3.3c1.5-0.8,3.3-0.3,4.2,1.1C15.1,4,15.2,4.8,15,5.5z"/>
                            </svg>

                    if self.acc_imdb
                        a.person_info_value(href= self.acc_imdb target="_BLANK" title="IMDB account")
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" stroke="none" stroke-width="0" stroke-linecap="round" stroke-linejoin="round" class="feather">
                                <g>
                                    <g>
                                        <g>
                                            <path id="g5jjnq26yS" d="M1,7.7h2.3v8.8H1V7.7z"/>
                                        </g>
                                        <g>
                                            <g>
                                                <path id="g5jjnq26yS_00000178910103224912196540000008905399311887261851_" class="st0" d="M1,7.7h2.3v8.8H1V7.7z"/>
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path id="i3Prh1JpXt" d="M7.6,11.7c-0.2-1.3-0.3-2.1-0.3-2.2C7.2,8.8,7.1,8.2,7,7.6c-0.2,0-1.2,0-3,0v8.8h2l0-5.8l0.8,5.8h1.4l0.8-5.9l0,5.9h2V7.6h-3L7.6,11.7z"/>
                                        </g>
                                        <g>
                                            <g>
                                                <path id="i3Prh1JpXt_00000019672061276087835140000007516017673381424263_" class="st0" d="M7.6,11.7c-0.2-1.3-0.3-2.1-0.3-2.2C7.2,8.8,7.1,8.2,7,7.6c-0.2,0-1.2,0-3,0v8.8h2l0-5.8l0.8,5.8h1.4l0.8-5.9l0,5.9h2V7.6h-3L7.6,11.7z"/>
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path id="a4ov9rRGQm" d="M14.8,9.4c0,0.1,0,0.4,0,0.8c0,0.3,0,3.1,0,3.4c0,0.6,0,0.9-0.1,1.1c-0.1,0.1-0.3,0.2-0.6,0.2c0-0.6,0-5.2,0-5.8c0.2,0,0.4,0,0.5,0.1C14.8,9.3,14.8,9.3,14.8,9.4z M15.9,16.3c0.3-0.1,0.5-0.2,0.7-0.3c0.2-0.1,0.3-0.4,0.4-0.6c0.1-0.3,0.1-0.8,0.1-1.6c0-0.3,0-2.8,0-3.1c0-0.8,0-1.4-0.1-1.7c-0.1-0.3-0.2-0.5-0.4-0.8c-0.2-0.2-0.5-0.4-0.9-0.5c-0.4-0.1-1-0.2-2.1-0.2c-0.1,0-0.7,0-1.7,0v8.8h2.8C15.3,16.4,15.7,16.3,15.9,16.3z"/>
                                        </g>
                                        <g>
                                            <g>
                                                <path id="a4ov9rRGQm_00000156584386858458344000000001649451872047019418_" class="st0" d="M14.8,9.4c0,0.1,0,0.4,0,0.8c0,0.3,0,3.1,0,3.4c0,0.6,0,0.9-0.1,1.1c-0.1,0.1-0.3,0.2-0.6,0.2c0-0.6,0-5.2,0-5.8c0.2,0,0.4,0,0.5,0.1C14.8,9.3,14.8,9.3,14.8,9.4z M15.9,16.3c0.3-0.1,0.5-0.2,0.7-0.3c0.2-0.1,0.3-0.4,0.4-0.6c0.1-0.3,0.1-0.8,0.1-1.6c0-0.3,0-2.8,0-3.1c0-0.8,0-1.4-0.1-1.7c-0.1-0.3-0.2-0.5-0.4-0.8c-0.2-0.2-0.5-0.4-0.9-0.5c-0.4-0.1-1-0.2-2.1-0.2c-0.1,0-0.7,0-1.7,0v8.8h2.8C15.3,16.4,15.7,16.3,15.9,16.3z"/>
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path id="fk968BpsX" d="M20.7,15c0,0.1-0.2,0.2-0.4,0.2c-0.1,0-0.2-0.1-0.3-0.2c0-0.1-0.1-0.4-0.1-0.7c0-0.2,0-2.1,0-2.3c0-0.4,0-0.6,0.1-0.7c0-0.1,0.1-0.1,0.3-0.1c0.1,0,0.3,0.1,0.4,0.2c0,0.1,0.1,0.4,0.1,0.7c0,0.1,0,0.9,0,2.2C20.8,14.7,20.8,14.9,20.7,15z M17.8,16.3h2.1C20,16,20,15.8,20,15.8c0.2,0.2,0.4,0.4,0.6,0.5c0.2,0.1,0.6,0.2,0.8,0.2c0.4,0,0.7-0.1,0.9-0.3c0.3-0.2,0.4-0.4,0.5-0.7c0.1-0.3,0.1-0.6,0.1-1.2c0-0.2,0-2.2,0-2.5c0-0.5,0-0.9,0-1c0-0.2-0.1-0.3-0.2-0.5c-0.1-0.2-0.3-0.3-0.5-0.4s-0.5-0.1-0.8-0.1c-0.3,0-0.6,0.1-0.8,0.2c-0.2,0.1-0.4,0.3-0.6,0.5c0-0.2,0-1.1,0-2.9h-2.2V16.3z"/>
                                        </g>
                                        <g>
                                            <g>
                                                <path id="fk968BpsX_00000039834499808731395540000016752761971114247351_" class="st0" d="M20.7,15c0,0.1-0.2,0.2-0.4,0.2c-0.1,0-0.2-0.1-0.3-0.2c0-0.1-0.1-0.4-0.1-0.7c0-0.2,0-2.1,0-2.3c0-0.4,0-0.6,0.1-0.7c0-0.1,0.1-0.1,0.3-0.1c0.1,0,0.3,0.1,0.4,0.2c0,0.1,0.1,0.4,0.1,0.7c0,0.1,0,0.9,0,2.2C20.8,14.7,20.8,14.9,20.7,15z M17.8,16.3h2.1C20,16,20,15.8,20,15.8c0.2,0.2,0.4,0.4,0.6,0.5c0.2,0.1,0.6,0.2,0.8,0.2c0.4,0,0.7-0.1,0.9-0.3c0.3-0.2,0.4-0.4,0.5-0.7c0.1-0.3,0.1-0.6,0.1-1.2c0-0.2,0-2.2,0-2.5c0-0.5,0-0.9,0-1c0-0.2-0.1-0.3-0.2-0.5c-0.1-0.2-0.3-0.3-0.5-0.4s-0.5-0.1-0.8-0.1c-0.3,0-0.6,0.1-0.8,0.2c-0.2,0.1-0.4,0.3-0.6,0.5c0-0.2,0-1.1,0-2.9h-2.2V16.3z"/>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>

                    if self.acc_other
                        a.person_info_value(href= self.acc_other target="_BLANK" title="Account")
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1,5" stroke-linecap="round" stroke-linejoin="round" class="feather"><path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                    if self.acc_instagram
                        a.person_info_value(href= self.acc_instagram target="_BLANK" title="Instagram account")
                            <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="1,5" fill="none" stroke-linecap="round" stroke-linejoin="round" class="feather"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>
                    if self.acc_fb
                        a.person_info_value(href= self.acc_fb target="_BLANK" title="Facebook account")
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1,5" stroke-linecap="round" stroke-linejoin="round" class="feather"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>
                    if self.homepageUrl
                        a.person_info_value(href= self.homepageUrl target="_BLANK" title="Webpage")
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1,5" stroke-linecap="round" stroke-linejoin="round" class="feather"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>

            section.c_img_box
                if self.logoColour
                    - var orgLogo = `${assetsDir}${self.logoColour.hash}${self.logoColour.ext}`
                else
                    - var orgLogo ='/assets/img/static/hunt_square_placeholder.jpg'

                img.org_img(src=orgLogo alt=self.name)

            section.org_info
                .org_info_header="Info"


            section.org_ongoing
                .org_info_header="Ongoing projects"


            section.org_skills
                .org_info_header.text_left="Skills"
                if self.skills
                    .org_info_value=self.skills


        <hr style="border-bottom: 2px solid #bbb">

        section.grid_org_creative.org_grid_description
            section.org_description
                .organisation_description= self.description

        <hr style="border-bottom: 2px solid #bbb">

        section.grid_org_creative.org_grid_featured
            section.org_featured
                .org_info_header="Featured"


        <hr style="border-bottom: 2px solid #bbb">

        section.grid_org_creative.org_grid_work
            section.org_awards
                .org_info_header="Awards"

            section.org_clients
                .org_info_header="Clients"

            section.org_media

            section.org_filmography
                .org_info_header="Filmography"


        <hr style="border-bottom: 2px solid #bbb">

        section.grid_org_creative.org_grid_footer
            section.org_gallery
                if self.images
                    each val, index in self.images
                        img.org_gallery_img(src=`${assetsDir}${val.hash}${val.ext}` alt=self.name)


            section.org_contact

