extends /_templates/layout.pug
include /_templates/mixins.pug

block content
    - var assetsDir = 'https://assets.poff.ee/img/'

    if self.firstNameLastName
        section.grid_ind_person
            section.f_dir_box
                .f_dir_bio_box
                    .dir_img
                        if self.picture
                            //- - var personPic = assetsDir + self.picture
                            - var personPic ='/assets/img/static/Hunt_Kriimsilm_2708d753de.jpg'
                        else
                            - var personPic ='/assets/img/static/Hunt_Kriimsilm_2708d753de.jpg'
                        //- img.person_img(src=personPic alt=self.firstNameLastName)
                        img.person_img_square(src= `${assetsDir}${self.picture.hash}${self.picture.ext}` alt=self.firstNameLastName)
                        p= self.picture.caption


                    .dir_bio.dark_1
                        .person_name= self.firstNameLastName
                        if typeof self.bio !== 'undefined'
                            - var about_md = self.bio
                            if typeof about_md === 'string'
                                p.dark_1
                                    +format(about_md)
                        if self.repr_org_name || self.repr_p_name || self.repr_email || self.repr_phone
                            details
                                summary= self.label.userprofile.repr
                                p= self.repr_org_name

                        //- p.dark_1= self.aboutText
            section.f_cred_box.bg_dark_3
                //- .premiere_type
                //-     if self.industry_person_types
                //-         p.premiere_type= self.industry_person_types.map(industry_person_type => industry_person_type.type).join(', ')
                .str_info_blokk_cred
                    if self.role_at_films
                        .str_info_grid_3
                            .str_info_label= self.label.userprofile.proRole
                            .str_info_value= self.role_at_films.map(role_at_film => role_at_film.roleName).join(', ')
                    if self.gender
                        .str_info_grid_3
                            .str_info_label= self.label.userprofile.gender
                            .str_info_value= self.gender
                    if self.dateOfBirth
                        .str_info_grid_3
                            .str_info_label= self.label.userprofile.birthday
                            .str_info_value
                                +birthDateEET(self.dateOfBirth)
                    if self.native_lang
                        .str_info_grid_3
                            .str_info_label= self.label.userprofile.nativeLang
                            .str_info_value= self.native_lang.name

                    //- if self.acc_efis
                    //-     .str_info_grid_3
                    //-         .str_info_label= self.label.userprofile.accEfis
                    //-         //- .str_info_value= self.label.industry.website
                    //-         a.str_info_value(href= self.acc_efis)= self.label.userprofile.accEfis
                    if self.acc_efis
                        .str_info_grid_3
                            .str_info_label= self.label.userprofile.accEfis
                            //- .str_info_value= self.label.industry.website
                            a.str_info_value(href= self.acc_efis)
                                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="svg_icon_footer"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>
                    if self.acc_imdb
                        .str_info_grid_3
                            .str_info_label= self.label.userprofile.accImdb
                            //- .str_info_value= self.label.industry.website
                            a.str_info_value(href= self.acc_imdb)
                                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="svg_icon_footer"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>
                    if self.acc_castupload
                        .str_info_grid_3
                            .str_info_label= self.label.userprofile.accCastupload
                            //- .str_info_value= self.label.industry.website
                            a.str_info_value(href= self.acc_castupload)
                                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="svg_icon_footer"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>
                    if self.acc_etalenta
                        .str_info_grid_3
                            .str_info_label= self.label.userprofile.accEtalenta
                            //- .str_info_value= self.label.industry.website
                            a.str_info_value(href= self.acc_etalenta)
                                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="svg_icon_footer"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>
                    if self.acc_other
                        .str_info_grid_3
                            .str_info_label= self.label.userprofile.accOther
                            //- .str_info_value= self.label.industry.website
                            a.str_info_value(href= self.acc_other)
                                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="svg_icon_footer"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>
                    if self.acc_instagram
                        .str_info_grid_3
                            .str_info_label= self.label.userprofile.accInstagram
                            //- .str_info_value= self.label.industry.website
                            a.str_info_value(href= self.acc_instagram)
                                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="svg_icon_footer"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>
                    if self.acc_fb
                        .str_info_grid_3
                            .str_info_label= self.label.userprofile.accFb
                            //- .str_info_value= self.label.industry.website
                            a.str_info_value(href= self.acc_fb)
                                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="svg_icon_footer"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>
                    if self.webpage_url
                        .str_info_grid_3
                            .str_info_label= self.label.userprofile.webpageUrl
                            //- .str_info_value= self.label.industry.website
                            a.str_info_value(href= self.acc_webpage_url)
                                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="svg_icon_footer"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>


                    if self.acting_age_from
                        .str_info_grid_3
                            .str_info_label= self.label.userprofile.actingAge
                            .str_info_value= self.acting_age_from + ' - ' + self.acting_age_to + ' ' + self.label.userprofile.years
                    //- if self.acting_age_to
                    //-     .str_info_grid_3
                    //-         .str_info_label= self.label.userprofile.actingAge
                    //-         .str_info_value= self.acting_age_to

                    if self.height_cm
                        .str_info_grid_3
                            .str_info_label= self.label.userprofile.heightCm
                            .str_info_value= self.height_cm + ' ' + self.label.userprofile.cm
                    if self.weight_kg
                        .str_info_grid_3
                            .str_info_label= self.label.userprofile.weightKg
                            .str_info_value= self.weight_kg + ' ' + self.label.userprofile.kg


            if self.filmographies
                - var filmographies = self.filmographies
                section.filmographies_box
                    .dir_bio.dark_1.padding_2
                        if filmographies.text
                            p.dark_1
                                +format(filmographies.text)


                    if filmographies.film
                        .grid_films
                            each film in filmographies.film
                                a.card_film(href = film.foreignUrl || '#')
                                    .container_frame_16_9
                                        if film.images && film.images.length > 0
                                            - var image = film.images[0]
                                            img.container_contents_16_9(src= `${assetsDir}${image.hash}${image.ext}`)
                                        else
                                            img.container_contents_16_9(src='/assets/img/static/placeholder_hd_1.jpg')
                                    if film.title
                                        .card_film_title
                                            h3.film_title_locale.dark_1= film.title
                                    .card_film_info
                                        if film.year
                                            .str_info_grid_3
                                                .str_info_label.dark_semi= self.label.film.year
                                                .str_info_value.dark_1= film.year
                                        //- if film.trailerUrl
                                        //-     .str_info_grid_3
                                        //-         .str_info_label.dark_semi= self.label.film.trailer
                                        //-         a.str_info_value.dark_1(href= film.trailerUrl)= self.label.film.trailer
                                        if film.synopsis
                                            p.dark_1
                                                +format(film.synopsis)




                                    //- if film.
                                    //- a(href=film.trailerUrl) Trailer


        if self.images
            //- KARUSELL Industry projekti piltidega
            section#carouselExampleIndicators.f_img_slider_box.100vh.bg_white.carousel.slide(data-bs-ride='carousel' data-bs-interval='6000')
                ol.carousel-indicators
                    if self.images && self.images.length >1
                        each val, index in self.images
                            li(data-bs-target='#carouselExampleIndicators' href='#carouselExampleIndicators' data-bs-slide-to=index class=`${index === 0 ? 'active' : ''}`)
                .carousel-inner.container_frame_16_9.bg_white
                    if self.images && self.images[0]
                        each val, index in self.images
                            if index == 0
                                .carousel-item.active.container_contents_16_9_person
                                    img.d-block.container_contents_16_9_person(src=`https://assets.poff.ee/img/${val.hash}${val.ext}` alt = self.title)
                            else
                                .carousel-item.container_contents_16_9_person
                                    img.d-block.container_contents_16_9_person(src=`https://assets.poff.ee/img/${val.hash}${val.ext}` alt = self.title)
                    else
                        .carousel-item.active.container_contents_16_9_person
                            img.d-block.container_contents_16_9_person(src='/assets/img/static/placeholder_hd_1.jpg' alt = self.title)

                if self.images && self.images.length >1
                    a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-bs-slide='prev')
                        // <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        svg.svg_icon_prev_next(viewBox='0 0 24 24' width='24' height='24' stroke='#333333' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
                            polyline(points='15 18 9 12 15 6')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-bs-slide='next')
                        // <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        svg.svg_icon_prev_next(viewBox='0 0 24 24' width='24' height='24' stroke='#333333' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
                            polyline(points='9 18 15 12 9 6')
                        span.sr-only Next
                        //- LÕPP! KARUSELL Industry projekti piltidega LÕPP

        if self.showreel
            section#trailer.f_trailer_box.bg_white
                .ratio.ratio-16x9.m-0.p-0
                    +video(self.showreel)
