extends /_templates/layout.pug
include /_templates/mixins.pug

block content
    - var assetsDir = 'https://assets.poff.ee/img/'

    if self.firstNameLastName
        section.grid_creative
            section.c_img_box
                if self.picture
                    //- - var personPic = assetsDir + self.picture
                    - var personPic = `${assetsDir}${self.picture.hash}${self.picture.ext}`
                else
                    - var personPic ='/assets/img/static/Hunt_Kriimsilm_2708d753de.jpg'
                //- img.person_img(src=personPic alt=self.firstNameLastName)
                img.person_img_square(src=personPic alt=self.firstNameLastName)
                p.caption= self.picture.caption

            section.c_title_box
                .name_box
                    if self.industry_person_types
                        .person_info_h= self.industry_person_types.map(industry_person_type => industry_person_type.type).join(', ')

                    .person_name= self.firstNameLastName

                    if self.role_at_films
                        .person_info_c= self.role_at_films.map(role_at_films => role_at_films.roleName).join(', ')



                section.accounts_box
                    //- .f_cred_box.bg_dark_3
                    //- .premiere_type
                    //-     if self.industry_person_types
                    //-         p.premiere_type= self.industry_person_types.map(industry_person_type => industry_person_type.type).join(', ')
                        .str_info_blokk_cred
                            if self.role_at_films
                                .str_info_grid_3
                                    .person_info_label= self.label.userprofile.proRole
                                    .person_info_value= self.role_at_films.map(role_at_film => role_at_film.roleName).join(', ')
                            if self.gender
                                .str_info_grid_3
                                    .person_info_label= self.label.userprofile.gender
                                    .person_info_value= self.gender
                            if self.dateOfBirth
                                .str_info_grid_3
                                    .person_info_label= self.label.userprofile.birthday
                                    .person_info_value
                                        +birthDateEET(self.dateOfBirth)
                            if self.native_lang
                                .str_info_grid_3
                                    .person_info_label= self.label.userprofile.nativeLang
                                    .person_info_value= self.native_lang.name

                        //- if self.acc_efis
                        //-     .str_info_grid_3
                        //-         .str_info_label= self.label.userprofile.accEfis
                        //-         //- .str_info_value= self.label.industry.website
                        //-         a.str_info_value(href= self.acc_efis)= self.label.userprofile.accEfis
                    if self.acc_efis
                            //- .str_info_grid_3
                            //-     .person_info_label= self.label.userprofile.accEfis
                            //- .str_info_value= self.label.industry.website
                            a(href= self.acc_efis target="_BLANK")
                                //- img.feather(data-src='/assets/img/static/efis_logo.svg' src='/assets/img/static/efis_logo.svg')
                                //- <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="svg_icon_person"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>
                                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="1,5" fill="none" stroke-linecap="round" stroke-linejoin="round" class="feather">
                                    <path class="st0" d="M10.5,16.5c1.5-0.8,3.3-0.3,4.2,1.1c0.2,0.3,0.3,0.6,0.3,0.9c-2,0.9-4.2,0.9-6,0C9.2,17.6,9.7,16.9,10.5,16.5z"/>
                                    <path class="st0" d="M8.5,14c0.7,1.3,0.5,2.9-0.6,3.8c-0.8-0.6-1.5-1.3-2.1-2.3c-0.5-0.9-0.8-1.9-0.9-2.9C6.3,12.2,7.8,12.7,8.5,14z"/>
                                    <path class="st0" d="M13.7,11c0.5,0.9,0.2,2.1-0.7,2.7c-0.9,0.5-2.1,0.2-2.7-0.7c-0.5-0.9-0.2-2.1,0.7-2.6C12,9.8,13.1,10.1,13.7,11z"/>
                                    <path class="st0" d="M4.9,11.4c0.2-2,1.2-4,3-5.2c0.2,0.2,0.4,0.4,0.6,0.7c0.8,1.5,0.3,3.4-1.1,4.2C6.6,11.6,5.7,11.6,4.9,11.4z"/>
                                    <path class="st0" d="M15,18.4c0.3,1.3-0.3,2.6-1.5,3.3c-1.5,0.8-3.4,0.3-4.2-1.1C8.9,20,8.8,19.2,9,18.5C10.8,19.3,13,19.4,15,18.4z"/>
                                    <path class="st0" d="M4.3,5.8C5.5,5.1,7,5.3,7.9,6.2c-1.8,1.2-2.8,3.2-3,5.2c-0.7-0.2-1.3-0.7-1.7-1.4C2.3,8.5,2.8,6.6,4.3,5.8z"/>
                                    <path class="st1" d="M13,13.7c0.9-0.5,1.2-1.7,0.7-2.7c-0.5-0.9-1.7-1.2-2.6-0.7c-0.9,0.5-1.2,1.7-0.7,2.6C10.9,13.9,12,14.2,13,13.7z M21.5,6.5c-3-5.3-9.8-7.1-15-4c-5.3,3-7.1,9.8-4,15s9.8,7.1,15,4C22.8,18.5,24.6,11.8,21.5,6.5zM16.1,17.8c1,0.9,2.4,1.1,3.6,0.4c1.5-0.8,2-2.7,1.1-4.2c-0.4-0.7-1-1.2-1.7-1.4c-0.8-0.3-1.7-0.2-2.5,0.3c-1.5,0.9-2,2.7-1.1,4.2C15.7,17.4,15.9,17.6,16.1,17.8z M9,18.5c0.2-0.8,0.7-1.5,1.5-2c1.5-0.8,3.3-0.3,4.2,1.1c0.2,0.3,0.3,0.6,0.3,0.9c0.3,1.3-0.3,2.6-1.5,3.3c-1.5,0.8-3.4,0.3-4.2-1.1C8.9,20,8.8,19.2,9,18.5z M4.9,11.4c0.8,0.3,1.7,0.2,2.5-0.3c1.5-0.8,2-2.7,1.1-4.2C8.3,6.6,8.1,6.4,7.9,6.2C7,5.3,5.5,5.1,4.3,5.8c-1.5,0.9-2,2.7-1.1,4.2C3.6,10.7,4.2,11.1,4.9,11.4zM4.9,12.6c-0.2,0.1-0.4,0.2-0.6,0.3c-1.5,0.9-2,2.7-1.1,4.2c0.8,1.5,2.7,2,4.2,1.1c0.2-0.1,0.4-0.2,0.5-0.4c1-0.9,1.3-2.5,0.6-3.8C7.8,12.7,6.3,12.2,4.9,12.6z M16.1,6.2c-1,1-1.3,2.5-0.6,3.8c0.7,1.3,2.2,1.8,3.6,1.4c0.2-0.1,0.4-0.2,0.6-0.3c1.5-0.8,2-2.7,1.1-4.2c-0.8-1.5-2.7-2-4.2-1.1C16.4,5.9,16.3,6,16.1,6.2z M9,5.5c-0.3-1.3,0.3-2.6,1.5-3.3c1.5-0.8,3.3-0.3,4.2,1.1C15.1,4,15.2,4.8,15,5.5c-0.2,0.8-0.7,1.5-1.5,2c-1.5,0.8-3.4,0.3-4.2-1.1C9.2,6.1,9.1,5.8,9,5.5z"/>
                                    <path class="st0" d="M9,5.5c2-0.9,4.2-0.9,6,0c-0.2,0.8-0.7,1.5-1.5,2c-1.5,0.8-3.4,0.3-4.2-1.1C9.2,6.1,9.1,5.8,9,5.5z"/>
                                    <path class="st0" d="M15.5,17.1c-0.8-1.5-0.3-3.3,1.1-4.2c0.8-0.4,1.7-0.5,2.5-0.3c-0.2,2-1.2,4-3,5.2C15.9,17.6,15.7,17.4,15.5,17.1z"/>
                                    <path class="st0" d="M18.2,8.4c0.5,0.9,0.8,1.9,0.9,2.9c-1.3,0.4-2.9-0.1-3.6-1.4c-0.7-1.3-0.5-2.9,0.6-3.8C16.9,6.7,17.6,7.5,18.2,8.4z"/>
                                    <path class="st0" d="M20.8,14c0.9,1.5,0.3,3.4-1.1,4.2c-1.2,0.7-2.6,0.5-3.6-0.4c1.8-1.2,2.8-3.2,3-5.2C19.8,12.9,20.4,13.3,20.8,14z"/>
                                    <path class="st0" d="M5.8,15.6c0.5,0.9,1.3,1.7,2.1,2.3c-0.2,0.1-0.3,0.3-0.5,0.4c-1.5,0.8-3.3,0.3-4.2-1.1c-0.9-1.5-0.3-3.3,1.1-4.2c0.2-0.1,0.4-0.2,0.6-0.3C5,13.6,5.3,14.6,5.8,15.6z"/>
                                    <path class="st0" d="M20.8,6.9c0.9,1.5,0.3,3.4-1.1,4.2c-0.2,0.1-0.4,0.2-0.6,0.3c-0.1-1-0.4-2-0.9-2.9c-0.5-0.9-1.3-1.7-2.1-2.3c0.2-0.1,0.3-0.3,0.5-0.4C18.1,4.9,20,5.4,20.8,6.9z"/>
                                    <path class="st0" d="M15,5.5c-1.9-0.9-4-0.9-6,0c-0.3-1.3,0.3-2.6,1.5-3.3c1.5-0.8,3.3-0.3,4.2,1.1C15.1,4,15.2,4.8,15,5.5z"/>
                                </svg>

                    if self.acc_imdb
                            //- .str_info_grid_3
                            //-     .person_info_label= self.label.userprofile.accImdb
                            //- .str_info_value= self.label.industry.website
                            a.person_info_value(href= self.acc_imdb target="_BLANK")
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" stroke="none" stroke-width="0" stroke-linecap="round" stroke-linejoin="round" class="feather">
                                    <g>
                                        <g>
                                            <g>
                                                <path id="g5jjnq26yS" d="M1,7.7h2.3v8.8H1V7.7z"/>
                                            </g>
                                            <g>
                                                <g>
                                                    <path id="g5jjnq26yS_00000178910103224912196540000008905399311887261851_" class="st0" d="M1,7.7h2.3v8.8H1V7.7z"/>
                                                </g>
                                            </g>
                                        </g>
                                        <g>
                                            <g>
                                                <path id="i3Prh1JpXt" d="M7.6,11.7c-0.2-1.3-0.3-2.1-0.3-2.2C7.2,8.8,7.1,8.2,7,7.6c-0.2,0-1.2,0-3,0v8.8h2l0-5.8l0.8,5.8h1.4l0.8-5.9l0,5.9h2V7.6h-3L7.6,11.7z"/>
                                            </g>
                                            <g>
                                                <g>
                                                    <path id="i3Prh1JpXt_00000019672061276087835140000007516017673381424263_" class="st0" d="M7.6,11.7c-0.2-1.3-0.3-2.1-0.3-2.2C7.2,8.8,7.1,8.2,7,7.6c-0.2,0-1.2,0-3,0v8.8h2l0-5.8l0.8,5.8h1.4l0.8-5.9l0,5.9h2V7.6h-3L7.6,11.7z"/>
                                                </g>
                                            </g>
                                        </g>
                                        <g>
                                            <g>
                                                <path id="a4ov9rRGQm" d="M14.8,9.4c0,0.1,0,0.4,0,0.8c0,0.3,0,3.1,0,3.4c0,0.6,0,0.9-0.1,1.1c-0.1,0.1-0.3,0.2-0.6,0.2c0-0.6,0-5.2,0-5.8c0.2,0,0.4,0,0.5,0.1C14.8,9.3,14.8,9.3,14.8,9.4z M15.9,16.3c0.3-0.1,0.5-0.2,0.7-0.3c0.2-0.1,0.3-0.4,0.4-0.6c0.1-0.3,0.1-0.8,0.1-1.6c0-0.3,0-2.8,0-3.1c0-0.8,0-1.4-0.1-1.7c-0.1-0.3-0.2-0.5-0.4-0.8c-0.2-0.2-0.5-0.4-0.9-0.5c-0.4-0.1-1-0.2-2.1-0.2c-0.1,0-0.7,0-1.7,0v8.8h2.8C15.3,16.4,15.7,16.3,15.9,16.3z"/>
                                            </g>
                                            <g>
                                                <g>
                                                    <path id="a4ov9rRGQm_00000156584386858458344000000001649451872047019418_" class="st0" d="M14.8,9.4c0,0.1,0,0.4,0,0.8c0,0.3,0,3.1,0,3.4c0,0.6,0,0.9-0.1,1.1c-0.1,0.1-0.3,0.2-0.6,0.2c0-0.6,0-5.2,0-5.8c0.2,0,0.4,0,0.5,0.1C14.8,9.3,14.8,9.3,14.8,9.4z M15.9,16.3c0.3-0.1,0.5-0.2,0.7-0.3c0.2-0.1,0.3-0.4,0.4-0.6c0.1-0.3,0.1-0.8,0.1-1.6c0-0.3,0-2.8,0-3.1c0-0.8,0-1.4-0.1-1.7c-0.1-0.3-0.2-0.5-0.4-0.8c-0.2-0.2-0.5-0.4-0.9-0.5c-0.4-0.1-1-0.2-2.1-0.2c-0.1,0-0.7,0-1.7,0v8.8h2.8C15.3,16.4,15.7,16.3,15.9,16.3z"/>
                                                </g>
                                            </g>
                                        </g>
                                        <g>
                                            <g>
                                                <path id="fk968BpsX" d="M20.7,15c0,0.1-0.2,0.2-0.4,0.2c-0.1,0-0.2-0.1-0.3-0.2c0-0.1-0.1-0.4-0.1-0.7c0-0.2,0-2.1,0-2.3c0-0.4,0-0.6,0.1-0.7c0-0.1,0.1-0.1,0.3-0.1c0.1,0,0.3,0.1,0.4,0.2c0,0.1,0.1,0.4,0.1,0.7c0,0.1,0,0.9,0,2.2C20.8,14.7,20.8,14.9,20.7,15z M17.8,16.3h2.1C20,16,20,15.8,20,15.8c0.2,0.2,0.4,0.4,0.6,0.5c0.2,0.1,0.6,0.2,0.8,0.2c0.4,0,0.7-0.1,0.9-0.3c0.3-0.2,0.4-0.4,0.5-0.7c0.1-0.3,0.1-0.6,0.1-1.2c0-0.2,0-2.2,0-2.5c0-0.5,0-0.9,0-1c0-0.2-0.1-0.3-0.2-0.5c-0.1-0.2-0.3-0.3-0.5-0.4s-0.5-0.1-0.8-0.1c-0.3,0-0.6,0.1-0.8,0.2c-0.2,0.1-0.4,0.3-0.6,0.5c0-0.2,0-1.1,0-2.9h-2.2V16.3z"/>
                                            </g>
                                            <g>
                                                <g>
                                                    <path id="fk968BpsX_00000039834499808731395540000016752761971114247351_" class="st0" d="M20.7,15c0,0.1-0.2,0.2-0.4,0.2c-0.1,0-0.2-0.1-0.3-0.2c0-0.1-0.1-0.4-0.1-0.7c0-0.2,0-2.1,0-2.3c0-0.4,0-0.6,0.1-0.7c0-0.1,0.1-0.1,0.3-0.1c0.1,0,0.3,0.1,0.4,0.2c0,0.1,0.1,0.4,0.1,0.7c0,0.1,0,0.9,0,2.2C20.8,14.7,20.8,14.9,20.7,15z M17.8,16.3h2.1C20,16,20,15.8,20,15.8c0.2,0.2,0.4,0.4,0.6,0.5c0.2,0.1,0.6,0.2,0.8,0.2c0.4,0,0.7-0.1,0.9-0.3c0.3-0.2,0.4-0.4,0.5-0.7c0.1-0.3,0.1-0.6,0.1-1.2c0-0.2,0-2.2,0-2.5c0-0.5,0-0.9,0-1c0-0.2-0.1-0.3-0.2-0.5c-0.1-0.2-0.3-0.3-0.5-0.4s-0.5-0.1-0.8-0.1c-0.3,0-0.6,0.1-0.8,0.2c-0.2,0.1-0.4,0.3-0.6,0.5c0-0.2,0-1.1,0-2.9h-2.2V16.3z"/>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>

                    if self.acc_castupload
                            //- .str_info_grid_3
                            //-     .person_info_label= self.label.userprofile.accCastupload
                            //- .str_info_value= self.label.industry.website
                            a.person_info_value(href= self.acc_castupload target="_BLANK")
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="0" style="enable-background:new 0 0 24 24;" xml:space="preserve" class="feather">
                                    <path d="M3.6,18.9c-0.1,0-0.1-0.1-0.2-0.2v-0.5c-0.2,0.1-0.3,0.1-0.5,0.1c-0.4,0.1-0.9,0-1.2-0.1C1.2,18,1,17.6,1,17.2c0-0.2,0-0.5,0.2-0.6c0.4-0.3,0.4-0.7,0.4-1.2c0-0.2-0.1-0.4-0.1-0.6s0-0.4,0.1-0.6c0-0.2,0.2-0.4,0.3-0.7c0-0.1,0.1-0.2,0.1-0.3c-0.3-0.5-0.5-1.1-0.7-1.7c-0.1-0.4-0.2-0.9-0.3-1.2C1,10,1,9.8,1,9.4s0.1-0.9,0.3-1.2c-0.1-0.3,0-0.4,0-0.5C1.2,7.5,1.2,7.4,1.2,7.3c0.3-0.2,0.6-0.4,0.9-0.6C2.4,6.5,2.6,6.3,2.8,6c0.4-0.3,1-0.6,1.4-0.9C4.5,5.1,4.7,5,5,5c0.3-0.1,0.7-0.2,1.1-0.3c0.4-0.1,1-0.2,1.4-0.3c0.2,0,0.5-0.1,0.7-0.1c0.5,0,1,0,1.5,0c0.3,0,0.6,0,1.1,0.1c0.4,0,0.7,0.1,1.1,0.2c0.6,0,1.2,0.2,1.8,0.4c0.4,0.2,0.9,0.3,1.3,0.6c0.5,0.3,1.1,0.6,1.6,1.1c0.1,0,0.1,0.1,0.2,0.1c0-0.1,0-0.2,0-0.3c-0.1-0.2-0.1-0.2,0-0.4c0.3,0,0.6,0.1,1,0.1c0.1,0,0.3,0.1,0.4,0.2c0.4,0.2,0.6,0.6,0.6,1.1c0,0.2,0,0.5-0.1,0.7c0,0.1,0,0.2,0,0.3s0,0.2,0,0.3v2.3c0,0.5,0.1,1,0.4,1.5c0,0,0,0.1,0.1,0.1c0.2,0,0.3-0.2,0.6-0.2c0.2,0.2,0.1,0.4,0.1,0.6c0,0.2,0,0.4,0,0.5c0.3,0.1,0.6,0.1,1-0.1c0.5-0.3,0.9-0.9,1-1.4c0.1-0.4,0.4-0.5,0.9-0.4h0.1C23,12,23,12.2,23,12.4c0,0.4-0.2,0.9-0.4,1.2c-0.3,0.6-0.6,1.2-1,1.7c-0.3,0.4-0.5,0.7-1,1.1c-0.2,0.2-0.4,0.5-0.4,0.9s-0.2,0.5-0.6,0.5c-0.1,0-0.2,0-0.2,0c-0.2,0-0.4,0.1-0.5,0.2c-0.3,0.2-0.6,0.2-1,0.2c-0.2,0-0.4-0.1-0.5-0.2c-0.1-0.2-0.2-0.3-0.3-0.5c-1-0.9-1.9-1.8-2.3-3.1c-0.2,0.2-0.2,0.4-0.2,0.5c-0.1,0.6,0.1,1.3,0.3,1.8c0.1,0.2,0.2,0.5,0.3,0.7s0.3,0.4,0.5,0.5s0.3,0.2,0.4,0.4c0,0.1,0,0.2,0,0.2c0,0.4-0.2,0.5-0.5,0.7c-0.4,0.2-0.9,0.4-1.4,0.4c-0.2,0-0.3,0-0.5,0c-0.3,0-0.5-0.2-0.5-0.4c0,0,0-0.1-0.1-0.2c-0.2,0-0.5-0.1-0.9-0.1s-0.9-0.1-1.2-0.3c-0.1-0.1-0.2-0.2-0.3-0.3c0-0.4,0.1-0.7,0.3-1.1c0-0.1,0.1-0.1,0.1-0.1c0.2-0.2,0.2-0.5,0.2-0.7c0-0.3,0-0.6,0-1c0-0.2-0.1-0.4-0.1-0.6c-0.1-0.2-0.2-0.4-0.5-0.5c-2,0.5-3.8,0.3-5.6-0.9c-0.1,0-0.2,0.1-0.2,0.1c-0.1,0.1-0.1,0.1-0.2,0.2c0.3,1.1,0.6,2.1,1,3.2c0.2,0,0.3,0.2,0.5,0.3c0.3,0.4-0.2,1.1-0.7,1.2c-0.3,0-0.7,0-1.2,0.1C4.1,19.1,3.8,19.1,3.6,18.9L3.6,18.9L3.6,18.9z"/>
                                </svg>

                    if self.acc_etalenta
                            //- .str_info_grid_3
                            //-     .person_info_label= self.label.userprofile.accEtalenta
                            //- .str_info_value= self.label.industry.website
                            a.person_info_value(href= self.acc_etalenta target="_BLANK")
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="0" style="enable-background:new 0 0 24 24;" xml:space="preserve" class="feather">
                                    <g>
                                        <path class="st0" d="M16.2,19.1c0.6-0.7,0.8-1.4,1-2c0.2-0.5,0.3-0.7,0.7-0.4c0.3,0.1,0.5,0.1,0.8,0.1c1.2,0,2.3,0.4,3.6,0.2c-0.2,0.8-0.6,1.3-0.9,1.8c-0.8,1.1-2,2.2-3,2.9c-0.6,0.4-1.2,0.7-1.9,1c-0.6,0.3-1.3,0.5-2,0.6c-1.1,0.2-2.2,0.4-3.4,0.2c-0.7-0.2-1.5-0.3-2.2-0.5c-1-0.3-1.9-0.8-2.8-1.3c-0.5-0.2-0.9-0.6-1.3-1c-1-0.9-2-1.8-2.6-3.1c-0.1-0.3-0.4-0.6-0.6-1c0.1-0.2,0.3-0.1,0.4-0.1c0.5,0,1.1,0.1,1.5-0.1c0.5-0.2,0.9-0.1,1.4-0.1s1,0,1.6,0C7,17.1,7,18.1,7.7,18.8c0-0.9,0-1.7,0-2.5c2.9,0,5.7,0,8.5,0c0.5,0.4,0.3,0.9,0.2,1.4c0,0.1-0.1,0.2-0.1,0.4C16.2,18.4,16.2,18.7,16.2,19.1z"/>
                                        <path class="st0" d="M16.2,14c0,0.4,0,0.8,0,1.2c-0.2,0.2-0.5,0.1-0.8,0.1c-1.2,0-2.3,0-3.5,0c-0.6,0-1.2,0.3-1.8,0.2s-1.3,0-1.9,0c-0.2,0-0.3,0-0.5,0c-0.3-0.7,0.2-1.3,0.2-2c1.5,0,3,0,4.5,0c1,0.4,2,0.2,3.1,0.2C15.8,13.7,16,13.8,16.2,14z"/>
                                        <path class="st0" d="M15.9,11.8c0,0.4,0,0.9,0,1.4c-1.2,0-2.3,0.1-3.4,0c-0.9-0.1-1.8,0-2.7-0.2c-0.7-0.1-1.3-0.1-2-0.2c0.1-0.4-0.2-0.9,0.3-1.2c0.5,0,1.1,0.2,1.6,0s1.1-0.2,1.5-0.1c0.5,0.1,1,0.1,1.4,0.2c0.5,0,1.1,0,1.6,0C14.9,11.4,15.4,11.5,15.9,11.8z"/>
                                        <path class="st0" d="M23.1,8.7c-0.3-0.8-0.4-1.7-1-2.3c-0.4-0.5-0.8-1.1-1.2-1.7c-0.8-1.2-2-2-3.2-2.7c-0.7-0.4-1.4-0.8-2.2-1c-0.7-0.2-1.4-0.2-2-0.5C13,0.4,10,0.5,9.4,0.7c-0.9,0.3-3,1.1-4,1.9c-1,0.9-2,1.8-2.8,2.9C2,6.3,1.6,7.2,1.2,8c-0.4,0.9-0.5,1.9-0.6,2.8c-0.2,1.8,0,3.5,0.7,5.1c1.7,0.2,3.4-0.1,5.1-0.2c0-0.7,0-1.3,0-2c-0.7,0-1.3-0.1-1.9,0c-0.3,0-0.5,0.2-0.7,0s-0.6-0.1-0.6-0.6c0.6-0.5,0.7-0.5,1.3-0.5s1.1,0,1.7,0c0.1-0.1,0.2-0.2,0.3-0.3c0.1-0.9,0.1-1.9,0-2.8c-0.3-0.6-0.4-1.4,0.2-2C7.2,7.3,7.6,7.6,7.9,8c0,0.9,0,1.9,0,2.8c0.2,0.3,0.4,0.4,0.7,0.3c0.1,0,0.2-0.2,0.3-0.2c1,0.1,2-0.2,3.1-0.2c0.8,0,1.6,0.3,2.5,0.2c0.5,0.4,1,0.1,1.6,0.2c0-1.1,0-2.2,0-3.1c0.2-0.3,0.4-0.5,0.5-0.6c0.3,0.1,0.5-0.1,0.7,0.1c0.4,0.7,0.4,0.7,0.4,1.2c0,1.1,0,2.2,0,3.2c0,0.2,0,0.4-0.1,0.6c-0.2,0.6-0.1,0.9,0.6,0.8c0.9-0.1,1.8,0.3,2.8,0.2c-0.1,0.1-0.1,0.1-0.1,0.1c-1,0-2.1,0-3.1,0c-0.5,0.6-0.2,1.1-0.3,1.6c1.9,0,3.8,0,5.6,0c0.2-0.7,0.4-1.4,0.4-2.1c0-0.6,0-1.3,0-1.9C23.5,10.4,23.4,9.6,23.1,8.7z M16.5,7c-0.5-0.3-1.2,0.1-1.7-0.4c-1.2,0.1-2.3-0.5-3.5-0.4c-0.9,0-1.8,0.2-2.6,0.5C8.3,6.9,7.9,6.7,7.6,7C7.3,7.2,7.1,7,6.5,6.5l0,0l0,0c0-0.2,0-0.4,0-0.7C7.2,5.3,8,5.1,8.9,5c0.4,0,0.8,0,1.2,0c1.3-0.1,2.5,0.4,3.7,0.6l0,0l0,0c0,0.1,0.1,0.1,0.1,0.1c0.2,0.2,0.6,0,0.9,0.2c0.3,0.2,0.7,0.2,1.1,0.3c0.3,0.1,0.7,0.2,1,0.2c0.2,0,0.4,0.2,0.6,0.3C17.3,7.2,16.8,7.1,16.5,7z"/>
                                    </g>
                                </svg>

                    if self.acc_other
                            //- .str_info_grid_3
                            //-     .person_info_label= self.label.userprofile.accOther
                            //- .str_info_value= self.label.industry.website
                            a.person_info_value(href= self.acc_other target="_BLANK")
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1,5" stroke-linecap="round" stroke-linejoin="round" class="feather"><path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                    if self.acc_instagram
                            //- .str_info_grid_3
                            //-     .person_info_label= self.label.userprofile.accInstagram
                            //- .str_info_value= self.label.industry.website
                            a.person_info_value(href= self.acc_instagram target="_BLANK")
                                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="1,5" fill="none" stroke-linecap="round" stroke-linejoin="round" class="feather"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>
                    if self.acc_fb
                            //- .str_info_grid_3
                            //-     .person_info_label= self.label.userprofile.accFb
                            //- .str_info_value= self.label.industry.website
                            a.person_info_value(href= self.acc_fb target="_BLANK")
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1,5" stroke-linecap="round" stroke-linejoin="round" class="feather"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>
                    if self.webpage_url
                            //- .str_info_grid_3
                            //-     .person_info_label= self.label.userprofile.webpageUrl
                            //- .str_info_value= self.label.industry.website
                            a.person_info_value(href= self.webpage_url target="_BLANK")
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1,5" stroke-linecap="round" stroke-linejoin="round" class="feather"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>

                //- .f_cred_box
                //-     if self.acting_age_from
                //-         .str_info_grid_3
                //-             .person_info_label= self.label.userprofile.actingAge
                //-             .person_info_value= self.acting_age_from + ' - ' + self.acting_age_to + ' ' + self.label.userprofile.years
                //-     //- if self.acting_age_to
                //-     //-     .str_info_grid_3
                //-     //-         .str_info_label= self.label.userprofile.actingAge
                //-     //-         .str_info_value= self.acting_age_to

                //-     if self.height_cm
                //-         .str_info_grid_3
                //-             .person_info_label= self.label.userprofile.heightCm
                //-             .person_info_value= self.height_cm + ' ' + self.label.userprofile.cm
                //-     if self.weight_kg
                //-         .str_info_grid_3
                //-             .person_info_label= self.label.userprofile.weightKg
                //-             .person_info_value= self.weight_kg + ' ' + self.label.userprofile.kg


            //- section.c_repr_box
            //-     if self.repr_org_name || self.repr_p_name || self.repr_email || self.repr_phone
            //-         details
            //-             summary= self.label.userprofile.repr
            //-             .details_content
            //-                 if self.repr_org_name
            //-                     a(href=self.repr_org_url target="_BLANK")
            //-                         p= self.repr_org_name
            //-                 if self.repr_p_name
            //-                     p= self.repr_p_name
            //-                 if self.repr_email
            //-                     p= self.repr_email
            //-                 if self.repr_phone
            //-                     p= self.repr_phone

            section.c_main_info_box
                .str_info_grid_3
                    .person_info_label
                    .person_info_c.text_left
                        | Personal info
                .str_info_blokk_cred
                        if self.gender
                            .str_info_grid_3
                                .person_info_label= self.label.userprofile.gender
                                .person_info_value= self.gender
                        if self.dateOfBirth
                            .str_info_grid_3
                                .person_info_label= self.label.userprofile.birthday
                                .person_info_value
                                    +birthDateEET(self.dateOfBirth)
                        if self.country
                            .str_info_grid_3
                                .person_info_label= self.label.userprofile.country
                                .person_info_value= self.country.name
                        if self.eMail
                            .str_info_grid_3
                                .person_info_label= self.label.userprofile.email
                                .person_info_value= self.eMail
                        if self.phoneNr
                            .str_info_grid_3
                                .person_info_label= self.label.userprofile.phone
                                .person_info_value= self.phoneNr

                        if typeof self.bio !== 'undefined'
                            - var bio = self.bio
                            if typeof bio === 'string'
                                .str_info_grid_3
                                    .person_info_label= self.label.userprofile.biography
                                    .person_info_value.font_h
                                        +format(bio)

                        //- p.dark_1= self.aboutText



            section.c_actor_info_box
                        .str_info_grid_3
                            .person_info_label
                            .person_info_c.text_left
                                | Professional info
                        if self.role_at_films
                            .str_info_grid_3
                                .person_info_label= self.label.userprofile.proRole
                                .person_info_value= self.role_at_films.map(role_at_film => role_at_film.roleName).join(', ')
                        if self.native_lang
                            .str_info_grid_3
                                .person_info_label= self.label.userprofile.nativeLang
                                .person_info_value= self.native_lang.name
                        if self.other_lang
                            .str_info_grid_3
                                .person_info_label= self.label.userprofile.otherLang
                                .person_info_value= self.other_lang.map(other_lang => other_lang.name).join(', ')
                                    //- .person_info_value= self.other_lang.map(other_lang => other_lang.name).join(', ')
                        if self.eye_colour
                            .str_info_grid_3
                                .person_info_label= self.label.userprofile.eyeColour
                                .person_info_value= self.eye_colour.name
                        if self.hair_colour
                            .str_info_grid_3
                                .person_info_label= self.label.userprofile.hairColour
                                .person_info_value= self.hair_colour.name
                        //- if self.shoe_size
                        //-     .str_info_grid_3
                        //-         .person_info_label= self.label.userprofile.shoeSize
                        //-         .person_info_value= self.shoe_size.name
                        if self.stature
                            .str_info_grid_3
                                .person_info_label= self.label.userprofile.stature
                                .person_info_value= self.stature.name
                        if self.pitch_of_voice
                            .str_info_grid_3
                                .person_info_label= self.label.userprofile.pitchOfVoice
                                .person_info_value= self.pitch_of_voice.name

                        if typeof self.skills !== 'undefined'
                            - var skills = self.skills
                            if typeof skills === 'string'
                                .str_info_grid_3
                                    .person_info_label= self.label.userprofile.skills
                                    .person_info_value.font_h
                                        +format(skills)

                        if self.repr_org_name || self.repr_p_name || self.repr_email || self.repr_phone
                            .str_info_grid_3
                                .person_info_label
                                details
                                    summary= self.label.userprofile.repr
                                    .details_content
                                        if self.repr_org_name
                                            a(href=self.repr_org_url target="_BLANK")
                                                .person_info_value= self.repr_org_name
                                        if self.repr_p_name
                                            .person_info_value= self.repr_p_name
                                        if self.repr_email
                                            .person_info_value= self.repr_email
                                        if self.repr_phone
                                            .person_info_value= self.repr_phone

            section.c_filmography_box

                if self.filmographies
                    - var educationFilmographies = self.filmographies.filter(filmography => filmography.type_of_work && filmography.type_of_work.id === 7)
                    //- - var eduFilmographyTypeName = educationFilmographies.filmography.type_of_work[0].name
                    if educationFilmographies.length
                        filmography_sec
                            .str_info_grid_3
                                .person_info_label
                                .person_info_c.text_left
                                    | Professional education
                            each filmography in educationFilmographies
                                //- .filmography_item
                                .str_info_grid_3
                                    .person_info_label
                                        if filmography.year_from
                                            span.person_info_label= filmography.year_from
                                            span.person_info_label= ' - '
                                        if filmography.year_to
                                            span.person_info_label= filmography.year_to
                                    //- if filmography.org_name
                                    .person_info_value
                                        if filmography.org_url
                                            a.person_info_value.bold(href= filmography.org_url target="_BLANK")= filmography.org_name
                                            if filmography.org_department
                                                span.person_info_value= ', ' + filmography.org_department
                                            if filmography.degree
                                                .person_info_value= filmography.degree
                                        else
                                            .person_info_value.bold= filmography.org_name
                                                if filmography.org_department
                                                    span.person_info_value= ', ' + filmography.org_department
                                                if filmography.degree
                                                    .person_info_value= filmography.degree

                    - var filmFilmographies = self.filmographies.filter(filmography => filmography.type_of_work && filmography.type_of_work.id === 1)
                    if filmFilmographies.length
                        filmography_sec
                            .str_info_grid_3
                                .person_info_label
                                .person_info_c.text_left
                                    | Film
                            each filmography in filmFilmographies
                                .str_info_grid_3
                                    .person_info_label
                                        if filmography.year_from
                                            span.person_info_label= filmography.year_from
                                            span.person_info_label= ' - '
                                        if filmography.year_to
                                            span.person_info_label= filmography.year_to
                                    //- if filmography.org_name
                                    .person_info_value
                                        if filmography.work_url
                                            a.person_info_value.bold(href= filmography.work_url target="_BLANK")= filmography.work_name
                                            if filmography.actor_role
                                                .person_info_value= filmography.actor_role
                                        else
                                            .person_info_value.bold= filmography.work_name
                                            if filmography.actor_role
                                                span.str_info_value.dark_3.light_300= 'as '
                                                span.person_info_value= filmography.actor_role

                    - var televisionFilmographies = self.filmographies.filter(filmography => filmography.type_of_work && filmography.type_of_work.id === 2)
                    if televisionFilmographies.length
                        filmography_sec
                            .str_info_grid_3
                                .person_info_label
                                .person_info_c.text_left
                                    | Television
                            each filmography in televisionFilmographies
                                .str_info_grid_3
                                    .person_info_label
                                        if filmography.year_from
                                            span.person_info_label= filmography.year_from
                                            span.person_info_label= ' - '
                                        if filmography.year_to
                                            span.person_info_label= filmography.year_to
                                    //- if filmography.org_name
                                    .person_info_value
                                        if filmography.work_url
                                            a.person_info_value.bold(href= filmography.work_url target="_BLANK")= filmography.work_name
                                            if filmography.actor_role
                                                .person_info_value= filmography.actor_role
                                        else
                                            .person_info_value.bold= filmography.work_name
                                            if filmography.actor_role
                                                span.str_info_value.dark_3.light_300= 'as '
                                                span.person_info_value= filmography.actor_role

                    - var theatreFilmographies = self.filmographies.filter(filmography => filmography.type_of_work && filmography.type_of_work.id === 3)
                    if theatreFilmographies.length
                        filmography_sec
                            .str_info_grid_3
                                .person_info_label
                                .person_info_c.text_left
                                    | Theatre
                            each filmography in theatreFilmographies
                                .str_info_grid_3
                                    .person_info_label
                                        if filmography.year_from
                                            span.person_info_label= filmography.year_from
                                            span.person_info_label= ' - '
                                        if filmography.year_to
                                            span.person_info_label= filmography.year_to
                                    //- if filmography.org_name
                                    .person_info_value
                                        if filmography.work_url
                                            a.person_info_value.bold(href= filmography.work_url target="_BLANK")= filmography.work_name
                                            if filmography.actor_role
                                                .person_info_value= filmography.actor_role
                                        else
                                            .person_info_value.bold= filmography.work_name
                                            if filmography.actor_role
                                                span.str_info_value.dark_3.light_300= 'as '
                                                span.person_info_value= filmography.actor_role

                    - var radioPlayFilmographies = self.filmographies.filter(filmography => filmography.type_of_work && filmography.type_of_work.id === 8)
                    if radioPlayFilmographies.length
                        filmography_sec
                            .str_info_grid_3
                                .person_info_label
                                .person_info_c.text_left
                                    | Radio play
                            each filmography in radioPlayFilmographies
                                .str_info_grid_3
                                    .person_info_label
                                        if filmography.year_from
                                            span.person_info_label= filmography.year_from
                                            span.person_info_label= ' - '
                                        if filmography.year_to
                                            span.person_info_label= filmography.year_to
                                    //- if filmography.org_name
                                    .person_info_value
                                        if filmography.work_url
                                            a.person_info_value.bold(href= filmography.work_url target="_BLANK")= filmography.work_name
                                            if filmography.actor_role
                                                .person_info_value= filmography.actor_role
                                        else
                                            .person_info_value.bold= filmography.work_name
                                            if filmography.actor_role
                                                span.str_info_value.dark_3.light_300= 'as '
                                                span.person_info_value= filmography.actor_role

                    - var audioFilmographies = self.filmographies.filter(filmography => filmography.type_of_work && filmography.type_of_work.id === 5)
                    if audioFilmographies.length
                        filmography_sec
                            .str_info_grid_3
                                .person_info_label
                                .person_info_c.text_left
                                    | Audio
                            each filmography in audioFilmographies
                                .str_info_grid_3
                                    .person_info_label
                                        if filmography.year_from
                                            span.person_info_label= filmography.year_from
                                            span.person_info_label= ' - '
                                        if filmography.year_to
                                            span.person_info_label= filmography.year_to
                                    //- if filmography.org_name
                                    .person_info_value
                                        if filmography.work_url
                                            a.person_info_value.bold(href= filmography.work_url target="_BLANK")= filmography.work_name
                                            if filmography.actor_role
                                                .person_info_value= filmography.actor_role
                                        else
                                            .person_info_value.bold= filmography.work_name
                                            if filmography.actor_role
                                                span.str_info_value.dark_3.light_300= 'as '
                                                span.person_info_value= filmography.actor_role

                    - var commercialFilmographies = self.filmographies.filter(filmography => filmography.type_of_work && filmography.type_of_work.id === 4)
                    if commercialFilmographies.length
                        filmography_sec
                            .str_info_grid_3
                                .person_info_label
                                .person_info_c.text_left
                                    | Commercial
                            each filmography in commercialFilmographies
                                .str_info_grid_3
                                    .person_info_label
                                        if filmography.year_from
                                            span.person_info_label= filmography.year_from
                                            span.person_info_label= ' - '
                                        if filmography.year_to
                                            span.person_info_label= filmography.year_to
                                    //- if filmography.org_name
                                    .person_info_value
                                        if filmography.work_url
                                            a.person_info_value.bold(href= filmography.work_url target="_BLANK")= filmography.work_name
                                            if filmography.actor_role
                                                .person_info_value= filmography.actor_role
                                        else
                                            .person_info_value.bold= filmography.work_name
                                            if filmography.actor_role
                                                span.str_info_value.dark_3.light_300= 'as '
                                                span.person_info_value= filmography.actor_role

                    - var otherFilmographies = self.filmographies.filter(filmography => filmography.type_of_work && filmography.type_of_work.id === 6)
                    if otherFilmographies.length
                        filmography_sec
                            .str_info_grid_3
                                .person_info_label
                                .person_info_c.text_left
                                    | Other
                            each filmography in otherFilmographies
                                .str_info_grid_3
                                    .person_info_label
                                        if filmography.year_from
                                            span.person_info_label= filmography.year_from
                                            span.person_info_label= ' - '
                                        if filmography.year_to
                                            span.person_info_label= filmography.year_to
                                    //- if filmography.org_name
                                    .person_info_value
                                        if filmography.work_url
                                            a.person_info_value.bold(href= filmography.work_url target="_BLANK")= filmography.work_name
                                            if filmography.actor_role
                                                .person_info_value= filmography.actor_role
                                        else
                                            .person_info_value.bold= filmography.work_name
                                            if filmography.actor_role
                                                span.str_info_value.dark_3.light_300= 'as '
                                                span.person_info_value= filmography.actor_role

                            //- if filmography.year_from
                            //-     .person_info_value= filmography.year_from
                            //- if filmography.year_to
                            //-     .person_info_value= filmography.year_to
                            //- if filmography.actor_role
                            //-     .person_info_value= filmography.actor_role
                            //- if filmography.work_name
                            //-     .person_info_value= filmography.work_name
                            //- if filmography.work_url
                            //-     .person_info_value= filmography.work_url
                            //- if filmography.role_at_films
                            //-     .person_info_value= filmography.role_at_films.map(roleAtFilm => roleAtFilm.roleName).join(', ')

                //- if self.filmographies
                //-     - var filmographies = self.filmographies
                //-     section.filmographies_box
                //-         .dir_bio.dark_1.padding_2
                //-             if filmographies.text
                //-                 p.dark_1
                //-                     +format(filmographies.text)


                        if filmographies.film
                            .grid_films
                                each film in filmographies.film
                                    a.card_film(href = film.foreignUrl || '#')
                                        .container_frame_16_9
                                            if film.images && film.images.length > 0
                                                - var image = film.images[0]
                                                img.container_contents_16_9(src= `${assetsDir}${image.hash}${image.ext}`)
                                            else
                                                img.container_contents_16_9(src='/assets/img/static/placeholder_hd_1.jpg')
                                        if film.title
                                            .card_film_title
                                                h3.film_title_locale.dark_1= film.title
                                        .card_film_info
                                            if film.year
                                                .str_info_grid_3
                                                    .str_info_label.dark_semi= self.label.film.year
                                                    .person_info_value= film.year
                                            //- if film.trailerUrl
                                            //-     .str_info_grid_3
                                            //-         .str_info_label.dark_semi= self.label.film.trailer
                                            //-         a.person_info_value(href= film.trailerUrl)= self.label.film.trailer
                                            if film.synopsis
                                                p.dark_1
                                                    +format(film.synopsis)




                                        //- if film.
                                        //- a(href=film.trailerUrl) Trailer


        if self.images
            //- KARUSELL Industry projekti piltidega
            section#carouselExampleIndicators.f_img_slider_box.bg_white.carousel.slide(data-bs-ride='carousel' data-bs-interval='6000' keyboard="true")
                ol.carousel-indicators
                    if self.images && self.images.length >1
                        each val, index in self.images
                            li(data-bs-target='#carouselExampleIndicators' href='#carouselExampleIndicators' data-bs-slide-to=index class=`${index === 0 ? 'active' : ''}`)
                .carousel-inner.container_frame_16_9.bg_white
                    if self.images && self.images[0]
                        each val, index in self.images
                            if index == 0
                                .carousel-item.active.container_contents_16_9_person
                                    img.d-block.container_contents_16_9_person(src=`https://assets.poff.ee/img/${val.hash}${val.ext}` alt = self.title)
                                    //- .photographer= self.picture.caption
                            else
                                .carousel-item.container_contents_16_9_person
                                    img.d-block.container_contents_16_9_person(src=`https://assets.poff.ee/img/${val.hash}${val.ext}` alt = self.title)
                                    //- .photographer= self.picture.caption
                    else
                        .carousel-item.active.container_contents_16_9_person
                            img.d-block.container_contents_16_9_person(src='/assets/img/static/placeholder_hd_1.jpg' alt = self.title)
                            //- .photographer= self.picture.caption

                if self.images && self.images.length >1
                    a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-bs-slide='prev')
                        // <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1,5" stroke-linecap="round" stroke-linejoin="round" class="svg_icon_prev_next"><circle cx="12" cy="12" r="10"></circle><polyline points="12 8 8 12 12 16"></polyline><line x1="16" y1="12" x2="8" y2="12"></line></svg>
                        //- svg.svg_icon_prev_next(viewBox='0 0 24 24' width='24' height='24' stroke='#333333' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
                        //-     polyline(points='15 18 9 12 15 6')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-bs-slide='next')
                        // <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1,5" stroke-linecap="round" stroke-linejoin="round" class="svg_icon_prev_next"><circle cx="12" cy="12" r="10"></circle><polyline points="12 16 16 12 12 8"></polyline><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                        //- svg.svg_icon_prev_next(viewBox='0 0 24 24' width='24' height='24' stroke='#333333' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
                        //-     polyline(points='9 18 15 12 9 6')
                        span.sr-only Next
                        //- LPP! KARUSELL Industry projekti piltidega LPP

            //- section.c_showreel_box
        if self.showreel
            section#trailer.f_trailer_box.bg_white
                .ratio.ratio-16x9.m-0.p-0
                    +video(self.showreel)
