extends /_templates/layout.pug
include /_templates/mixins.pug

block content
    div(shopSection=true)

    main.grid_product

        .product_img_box
            if self.images
                if self.images.image
                    img.shop_item_img(alt= self.name ? self.name : '' data-src=`https://assets.poff.ee/img/${self.images.image.hash}${self.images.image.ext}`  src=`https://assets.poff.ee/img/${self.images.image.hash}${self.images.image.ext}`)
                else if self.images.imageDefault
                    img.shop_item_img(alt= self.name ? self.name : '' data-src=`https://assets.poff.ee/img/${self.images.imageDefault.hash}${self.images.imageDefault.ext}`  src=`https://assets.poff.ee/img/${self.images.imageDefault.hash}${self.images.imageDefault.ext}`)
                else
                    img.container_contents_16_9(src='/assets/img/static/placeholder_hd_1.jpg')
                    img.shop_item_img(src='/assets/img/static/placeholder_hd_1.jpg')

        .product_title_box
            //- if self.festival_edition && self.festival_edition.name
            //-     h1.dark_1= self.festival_edition.name
            //-     br
            if self.name && typeof self.name !== 'object'
                h1.product_title_detailed= self.name

        section.f_synopsis_box
            .str_info_meta_gi
                .str_info_meta_item
            if self.description && typeof self.description !== 'undefined'
                - var description_md = self.description
                .synopsis_gi
                    if typeof description_md === 'string'
                        p.dark_1
                            +format(description_md)

        section.f_cred_box
            if self.priceAtPeriod && self.priceAtPeriod[0] && self.priceAtPeriod[0].price
                h4(id='productPrice')
                    //- +euro(self.priceAtPeriod[0].price)
            div.payment(id='productPagePriceBox' productId=self.id style='display: none;')
                button#buybutton.btn.btn-primary(onclick = `GetPaymentLinks(${self.category})` style='display: none;')= self.label.userprofile.pass
                button#directToLoginButton.btn.btn-primary(onclick='directToLogin(), saveUrl()')= self.label.userprofile.passHelp
                button#directToaddPicture.btn.btn-primary(onclick='directToUserProfile(), saveUrl()')= self.label.userprofile.profilePicHelp
                button#directToFillProfile.btn.btn-primary(onclick='directToUserProfile(), saveUrl()')= self.label.userprofile.profileAddInfoHelp
                div#paymentLinks
                br
                div
                    ul#feedback
                br
                div#termsContainer
                    input(id='termsCheckbox' type='checkbox' name='terms' value='agree')
                    label.agree_terms_label(for='termsCheckbox') !{self.label.userprofile.acceptConditions}
                br
                button#paybutton.btn.btn-primary(onclick=`BuyProduct("${self.codePrefix}")`)= self.label.userprofile.payment
                br
    style.
        #buybutton {display: none}
        #directToaddPicture {display:none}
        #directToFillProfile {display:none}
        #paybutton {display: none}
        [type=radio]{
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
        }
        [type=radio] + img {
            cursor: pointer;
        }
        [type=radio]:checked + img {
            outline: 4px solid #fd7e14;
        }

        #feedback {
            color: white;
            display: inline-block;
            text-align: left;
            padding-left: 20px;
        }

        #termsCheckbox {
            width: 20px;
            height: 20px;
            appearance: checkbox;
        }

        #termsContainer {
            display: none;
        }
