extends /_templates/layout.pug
include /_templates/mixins.pug



block content

    //- Programmi pildid
    main.grid_film
        - var images = []
        if self.images && self.images[0]
            each image in self.images
                if image.hash && image.ext
                    - images.push(`${image.hash}${image.ext}`)

        section#carouselExampleIndicators.f_img_slider_box.carousel.slide(data-bs-ride='carousel' data-bs-interval='6000')
            ol.carousel-indicators
                if images.length
                    each val, index in images
                        li(data-bs-target='#carouselExampleIndicators' href='#carouselExampleIndicators' data-bs-slide-to=index class=`${index === 0 ? 'active' : ''}`)
            .carousel-inner.container_frame_16_9
                if images
                    if images.length
                        each val, index in images
                            if index == 0
                                .carousel-item.active.container_contents_16_9
                                    img.d-block.container_contents_16_9(src=`https://assets.poff.ee/img/${val}` alt = self.filmTitle)
                            else
                                .carousel-item.container_contents_16_9
                                    img.d-block.container_contents_16_9(src=`https://assets.poff.ee/img/${val}` alt = self.filmTitle)
                    else
                        .carousel-item.active.container_contents_16_9
                            img.d-block.container_contents_16_9(src='/assets/img/static/placeholder_hd_1.jpg' alt = self.filmTitle)
                else
                    .carousel-item.active.container_contents_16_9
                        img.d-block.container_contents_16_9(src='/assets/img/static/placeholder_hd_1.jpg' alt = self.filmTitle)

            a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-bs-slide='prev')
                // <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                svg.svg_icon_prev_next(viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
                    polyline(points='15 18 9 12 15 6')
                span.sr-only Previous
            a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-bs-slide='next')
                // <span class="carousel-control-next-icon" aria-hidden="true"></span>
                svg.svg_icon_prev_next(viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
                    polyline(points='9 18 15 12 9 6')
                span.sr-only Next

        section.f_title_box
            //- Programmi nimi
            if self.name && typeof self.name !== 'object'
                h1.film_title_detailed= self.name

        if self.description && typeof self.description !== 'object'
            - var description_md = self.description
            section.f_synopsis_box
                .str_info_meta_gi
                .synopsis_gi
                    if typeof description_md === 'string'
                        +format(description_md)

        section.f_cred_box.bg_white

            //- Programmi presentedBy tekst
            if self.presentedBy && self.presentedBy.presentedByText
                p.dark_1.text_center= self.presentedBy.presentedByText + ':'

            if self.presentedBy && self.presentedBy.organisations && self.presentedBy.organisations[0]

                each presenter in self.presentedBy.organisations

                    //- Artikli kontroll algus, vajab veel artikli kättesaamist ja täiendamist, et olemasolul suunata artiklile!
                    if presenter.poffi_article
                        - let articleFromYAML = self.data.articles.filter( (a) => { return presenter.poffi_article.id === a.id })
                        - let article = articleFromYAML[0]
                        if article.article_types && article.article_types[0]

                            if article.publish && article.title && article.title.length > 1
                                - var currentTime = new Date()
                                if typeof(article.publishFrom) === 'undefined'
                                    - var publishFrom= new Date(article.created_at)
                                else
                                    - var publishFrom= new Date(article.publishFrom)

                                if article.publishUntil
                                    - var publishUntil = new Date(article.publishUntil)

                                if (currentTime > publishFrom)

                                    if (!publishUntil || (publishUntil && (publishUntil > currentTime)))


                                        - articlePublished = true
                                        - articleSlug = article.slug
                                        each artType in article.article_types
                                            - artTypes.push(artType.name.toLowerCase())
                                            if artType.name.toLowerCase() === defaultTypeIfExists[0]
                                                - artTypeForPath = artType.slug.toLowerCase()
                                                - break
                                            else
                                                - artTypeForPath = artType.slug.toLowerCase()
                    //- Artikli kontroll lõpp

                    //- Programmi esitleja nimi
                    if presenter.name
                        p.dark_1.text_center= presenter.name

                    //- KUI ARTIKKEL KEELES OLEMAS JA PUBLISHED JA PEALKIRJAGA JNE
                    if typeof articlePublished !== 'undefined' && articlePublished === true
                        .presenter_logo_item_container
                            a(href= `/${lang_path}${artTypeForPath}/${articleSlug}`).presenter_logo_item
                                if presenter.logoColour
                                    img.presenter_logo_item(alt=presenter.name data-src=`https://assets.poff.ee/img/${presenter.logoColour.hash}${presenter.logoColour.ext}`  src=`https://assets.poff.ee/img/${presenter.logoColour.hash}${presenter.logoColour.ext}`)
                                else if presenter.logoBlack
                                    img.presenter_logo_item(alt=presenter.name data-src=`https://assets.poff.ee/img/${presenter.logoBlack.hash}${presenter.logoBlack.ext}`  src=`https://assets.poff.ee/img/${presenter.logoBlack.hash}${presenter.logoBlack.ext}`)
                                else if presenter.logoWhite
                                    img.presenter_logo_item(alt=presenter.name data-src=`https://assets.poff.ee/img/${presenter.logoWhite.hash}${presenter.logoWhite.ext}`  src=`https://assets.poff.ee/img/${presenter.logoWhite.hash}${presenter.logoWhite.ext}`)
                    //- KUI ARTIKLIT POLE VÕI POLE SEE PUBLISHED, AGA ON CUSTOM URL
                    else if presenter.homepageUrl
                        .presenter_logo_item_container
                            a(href= presenter.homepageUrl).presenter_logo_item
                                if presenter.logoColour
                                    img.presenter_logo_item(alt=presenter.name data-src=`https://assets.poff.ee/img/${presenter.logoColour.hash}${presenter.logoColour.ext}`  src=`https://assets.poff.ee/img/${presenter.logoColour.hash}${presenter.logoColour.ext}`)
                                else if presenter.logoBlack
                                    img.presenter_logo_item(alt=presenter.name data-src=`https://assets.poff.ee/img/${presenter.logoBlack.hash}${presenter.logoBlack.ext}`  src=`https://assets.poff.ee/img/${presenter.logoBlack.hash}${presenter.logoBlack.ext}`)
                                else if presenter.logoWhite
                                    img.presenter_logo_item(alt=presenter.name data-src=`https://assets.poff.ee/img/${presenter.logoWhite.hash}${presenter.logoWhite.ext}`  src=`https://assets.poff.ee/img/${presenter.logoWhite.hash}${presenter.logoWhite.ext}`)
                    //- LOGO ILMA LINGITA
                    else
                            if presenter.logoColour
                                .presenter_logo_item_container
                                    img.presenter_logo_item(alt=presenter.name data-src=`https://assets.poff.ee/img/${presenter.logoColour.hash}${presenter.logoColour.ext}`  src=`https://assets.poff.ee/img/${presenter.logoColour.hash}${presenter.logoColour.ext}`)
                            else if presenter.logoBlack
                                .presenter_logo_item_container
                                    img.presenter_logo_item(alt=presenter.name data-src=`https://assets.poff.ee/img/${presenter.logoBlack.hash}${presenter.logoBlack.ext}`  src=`https://assets.poff.ee/img/${presenter.logoBlack.hash}${presenter.logoBlack.ext}`)
                            else if presenter.logoWhite
                                .presenter_logo_item_container
                                    img.presenter_logo_itemx(alt=presenter.name data-src=`https://assets.poff.ee/img/${presenter.logoWhite.hash}${presenter.logoWhite.ext}`  src=`https://assets.poff.ee/img/${presenter.logoWhite.hash}${presenter.logoWhite.ext}`)

        section.f_runtime_box.bg_white

    if self.data.cassettes.length
        main.grid_films
            //- each cassette in self.data.cassettes
            each cassette in self.data.cassettes.sort(function(a, b){ if(a.title && b.title) { return ('' + a.title).localeCompare(b.title, self.locale); } else { return 0; } })
                - var showFilms = false
                if cassette.tags && cassette.tags.programmes && cassette.tags.programmes[0]
                    each programme in cassette.tags.programmes
                        if self.id === programme.id
                            - showFilms = true

                    if cassette.films && cassette.films[0] && showFilms

                        a.card_film(href= `/${lang_path}film/${cassette.slug}`)
                            .container_frame_16_9
                                if cassette.films && cassette.films.length > 1
                                    if cassette.cassetteCarouselPicsCassette && cassette.cassetteCarouselPicsCassette[0]
                                        img.container_contents_16_9(src= cassette.cassetteCarouselPicsCassette[0] alt= cassette.title)
                                    else if cassette.cassetteCarouselPicsFilms && cassette.cassetteCarouselPicsFilms[0]
                                        img.container_contents_16_9(src= cassette.cassetteCarouselPicsFilms[0] alt= cassette.title)
                                else if cassette.films && cassette.films.length === 1 && cassette.cassetteCarouselPicsFilms
                                    img.container_contents_16_9(src= cassette.cassetteCarouselPicsFilms[0] alt= cassette.title)
                                else
                                    img.container_contents_16_9(src='/assets/img/static/placeholder_hd_1.jpg' alt= cassette.title)

                            .card_film_title
                                if cassette.films.length > 1
                                    if cassette.title
                                        h3.film_title_locale.dark_1= cassette.title
                                else
                                    if cassette.films.length === 1
                                        h3.film_title_locale.dark_1= cassette.films[0].title

                            .card_film_info
                                each p, locale in self.otherLocalePaths
                                    if cassette.films.length > 1
                                        if cassette[`title_${locale}`]
                                            .str_info_grid_3
                                                .str_info_label.dark_semi= self.label.film[`title_${locale}`]
                                                .str_info_value.dark_1.thin_300= cassette[`title_${locale}`]

                                    else if cassette.films.length === 1
                                        if cassette.films[0][`title_${locale}`]
                                            .str_info_grid_3
                                                .str_info_label.dark_semi= self.label.film[`title_${locale}`]
                                                .str_info_value.dark_1.thin_300= cassette.films[0][`title_${locale}`]

                                - var filmsDirectors = []
                                each film in cassette.films
                                    if film.credentials && film.credentials.rolePersonsByRole && film.credentials.rolePersonsByRole.director  && film.credentials.rolePersonsByRole.director.length
                                        each director in film.credentials.rolePersonsByRole.director
                                            - filmsDirectors.push(director)
                                if filmsDirectors.length
                                    - var uniqueDirectors = [...new Set(filmsDirectors)];
                                    .str_info_grid_3
                                        .str_info_label.dark_semi= self.label.film.director
                                        .str_info_value.dark_1.thin_300= uniqueDirectors.join(', ')

                                - var filmsCountries = []
                                each film in cassette.films
                                    if film.orderedCountries && film.orderedCountries.length
                                        each country in film.orderedCountries
                                            if country.country && country.country.name
                                                - filmsCountries.push(country.country.name)
                                if filmsCountries.length
                                    - var uniqueCountries = [...new Set(filmsCountries)];
                                    .str_info_grid_3
                                        .str_info_label.dark_semi= self.label.film.countries
                                        .str_info_value.dark_1.thin_300= uniqueCountries.join(', ')
