extends /_templates/layout.pug

block content


//-     - var allFestivalEditions = []
//-     if self.data.courses
//-         main.grid_films
//-             each cassette in self.data.courses.sort(function(a, b){ if(a.title && b.title) { return ('' + a.title).localeCompare(b.title, self.locale); } else { return 0; } })
//-                 if cassette.festival_editions
//-                     each edition in cassette.festival_editions
//-                         - allFestivalEditions.push(edition.name)
//-                 a.card_film(id= cassette.id href= `/${lang_path}film/${cassette.slug}`)
//-                     .container_frame_16_9
//-                         //- each media in cassette.media
//-                             //- - console.log(cassette.media)
//-                             if cassette.media['posters']
//-                                 //- -console.log(cassette.media['posters'][0]['name'])
//-                             //-     if self.data.pictures.filmslugs[cassette.path].posters
//-                             //-         img.container_contents_16_9(src=`https://assets.poff.ee/img/${self.data.pictures.filmslugs[cassette.path].poster}` alt = film[`filmTitle_${self.locale}`])
//-                             //-     else
//-                             //-         img.container_contents_16_9(src='/assets/img/global/placeholder_hd_1.jpg' alt = film[`filmTitle_${self.locale}`])
//-                             //- else
//-                             //-     img.container_contents_16_9(src='/assets/img/global/placeholder_hd_1.jpg' alt = film[`filmTitle_${self.locale}`])


//-                         if cassette.films && cassette.films.length > 1
//-                             if cassette.cassetteCarouselPicsCassette && cassette.cassetteCarouselPicsCassette[0]
//-                                 img.container_contents_16_9(src= cassette.cassetteCarouselPicsCassette[0] alt= cassette.title)
//-                             else if cassette.cassetteCarouselPicsFilms && cassette.cassetteCarouselPicsFilms[0]
//-                                 img.container_contents_16_9(src= cassette.cassetteCarouselPicsFilms[0] alt= cassette.title)
//-                             else
//-                                 img.container_contents_16_9(src='/assets/img/static/placeholder_hd_1.jpg' alt= cassette.title)
//-                         else if cassette.films && cassette.films.length === 1 && cassette.cassetteCarouselPicsFilms
//-                             img.container_contents_16_9(src= cassette.cassetteCarouselPicsFilms[0] alt= cassette.title)
//-                         else
//-                             img.container_contents_16_9(src='/assets/img/static/placeholder_hd_1.jpg' alt= cassette.title)
//-                     .card_film_title
//-                         h3.film_title_locale.dark_1= cassette.title
//-                             p(id= cassette.id+'nupp' style={color: 'red', display:'none'})
//-                     .card_film_info
//-                         .str_info_grid_3
//-                             if cassette.films && cassette.films.length
//-                                 - var filmsProgrammes = []
//-                                 each film in cassette.films
//-                                     if film.tags && film.tags.programmes && film.tags.programmes.length
//-                                         each programme in film.tags.programmes
//-                                             if programme.name
//-                                                 - filmsProgrammes.push(programme.name)
//-                                 if filmsProgrammes.length
//-                                     - var uniqueProgrammes = [...new Set(filmsProgrammes)];
//-                                     .str_info_label.dark_semi= self.label.film.programme
//-                                     .str_info_value.dark_1.thin_300= uniqueProgrammes.join(', ')

//-                         //- if cassette.films && cassette.films.length
//-                         //-     - var filmsDirectors = []
//-                         //-     each film in cassette.films
//-                         //-         if film.credentials.director
//-                         //-             .str_info_grid_3
//-                         //-                 .str_info_label= self.label.film.director
//-                         //-                 .str_info_value= film.credentials.director.join(', ')
//-                         //-         if film.credentials.cast
//-                         //-             .str_info_grid_3
//-                         //-                 .str_info_label= self.label.film.cast
//-                         //-                 .str_info_value= film.credentials.cast.join(', ')




//-             //- - var uniqueFestivalEditions = [...new Set(allFestivalEditions)]
//-             //- - console.log(uniqueFestivalEditions)
