extends /_templates/layout.pug
include /_templates/mixins.pug

    block content
        //- PRAEGU FOOTERI STIILID


        //- .grid_footer_row

        if self.data.supporters && self.data.supporters.supporters
            //- if self.data.supporters.title
            //-     section.grid_articles
            //-     h1.section_headline.margin_header= self.data.supporters.title
            //- if self.data.supporters.intro
            //-     section.grid_article
            //-         section
            //-         section.article_contents.dark_1
            //-             p.dark_1= self.data.supporters.intro
            - var sortedSupportersCat = self.data.supporters.supporters.sort(function(a, b){ return a.order-b.order })
            section.supporters
                each section in sortedSupportersCat
                    row
                        if section.name && (typeof(section.name) !== 'object')
                            //- SEKTSIOONI NIMI
                            h1.section_headline_supporter= section.name
                        if section.supporter
                            .supporter_logos
                                each supporter in section.supporter
                                    - let artTypes = []
                                    - let artTypeForPath = ''
                                    - let defaultTypeIfExists = ['sponsor_story']
                                    - let articleSlug = ''
                                    - let articlePublished = false
                                    //- KOGU KONTROLL ARTIKLI KOHTA KUI SEE ON LINGITUD TOETAJALE
                                    if supporter.poffi_article
                                        - let articleFromYAML = self.data.articles.filter( (a) => { return supporter.poffi_article.id === a.id })
                                        - let article = articleFromYAML[0]
                                        if article.article_types && article.article_types[0]

                                            if article.publish && article.title && article.title.length > 1
                                                - var currentTime = new Date()
                                                if typeof(article.publishFrom) === 'undefined'
                                                    - var publishFrom= new Date(article.created_at)
                                                else
                                                    - var publishFrom= new Date(article.publishFrom)

                                                if article.publishUntil
                                                    - var publishUntil = new Date(article.publishUntil)

                                                if (currentTime > publishFrom)

                                                    if (!publishUntil || (publishUntil && (publishUntil > currentTime)))

                                                        //- p= `${article.title} - ${article.publish} - ${article.publishFrom} - ${article.publishUntil} - ${heroPlusTrioNews} - ${article.id} - ${article.article_types[0].name} - (${publishUntil} > ${currentTime}) - (${(!publishUntil || (publishUntil && (publishUntil > currentTime)))})`
                                                        - articlePublished = true
                                                        - articleSlug = article.slug
                                                        each artType in article.article_types
                                                            - artTypes.push(artType.name.toLowerCase())
                                                            if artType.name.toLowerCase() === defaultTypeIfExists[0]
                                                                - artTypeForPath = artType.slug.toLowerCase()
                                                                - break
                                                            else
                                                                - artTypeForPath = artType.slug.toLowerCase()

                                    //- SIIN SAMUTI FOOTERI STIILID HETKEL
                                    //- KUI ARTIKKEL KEELES OLEMAS JA PUBLISHED JA PEALKIRJAGA JNE
                                    if articlePublished === true
                                        a(href= `/${lang_path}${artTypeForPath}/${articleSlug}`).supporter_logo_item_container
                                            if supporter.logoColour
                                                img.supporter_logo_item(alt=supporter.customUrl data-src=`https://assets.poff.ee/img/${supporter.logoColour.hash}${supporter.logoColour.ext}`  src=`https://assets.poff.ee/img/${supporter.logoColour.hash}${supporter.logoColour.ext}`)
                                            else if supporter.logoBlack
                                                img.supporter_logo_item(alt=supporter.customUrl data-src=`https://assets.poff.ee/img/${supporter.logoBlack.hash}${supporter.logoBlack.ext}`  src=`https://assets.poff.ee/img/${supporter.logoBlack.hash}${supporter.logoBlack.ext}`)
                                            else if supporter.logoWhite
                                                img.supporter_logo_item(alt=supporter.customUrl data-src=`https://assets.poff.ee/img/${supporter.logoWhite.hash}${supporter.logoWhite.ext}`  src=`https://assets.poff.ee/img/${supporter.logoWhite.hash}${supporter.logoWhite.ext}`)
                                    //- KUI ARTIKLIT POLE VÕI POLE SEE PUBLISHED, AGA ON CUSTOM URL
                                    else if supporter.customUrl
                                        a(href= supporter.customUrl).supporter_logo_item_container
                                            if supporter.logoColour
                                                img.supporter_logo_item(alt=supporter.customUrl data-src=`https://assets.poff.ee/img/${supporter.logoColour.hash}${supporter.logoColour.ext}`  src=`https://assets.poff.ee/img/${supporter.logoColour.hash}${supporter.logoColour.ext}`)
                                            else if supporter.logoBlack
                                                img.supporter_logo_item(alt=supporter.customUrl data-src=`https://assets.poff.ee/img/${supporter.logoBlack.hash}${supporter.logoBlack.ext}`  src=`https://assets.poff.ee/img/${supporter.logoBlack.hash}${supporter.logoBlack.ext}`)
                                            else if supporter.logoWhite
                                                img.supporter_logo_item(alt=supporter.customUrl data-src=`https://assets.poff.ee/img/${supporter.logoWhite.hash}${supporter.logoWhite.ext}`  src=`https://assets.poff.ee/img/${supporter.logoWhite.hash}${supporter.logoWhite.ext}`)
                                    //- LOGO ILMA LINGITA
                                    else
                                        .supporter_logo_item_container
                                            if supporter.logoColour
                                                img.supporter_logo_item(alt=supporter.customUrl data-src=`https://assets.poff.ee/img/${supporter.logoColour.hash}${supporter.logoColour.ext}`  src=`https://assets.poff.ee/img/${supporter.logoColour.hash}${supporter.logoColour.ext}`)
                                            else if supporter.logoBlack
                                                img.supporter_logo_item(alt=supporter.customUrl data-src=`https://assets.poff.ee/img/${supporter.logoBlack.hash}${supporter.logoBlack.ext}`  src=`https://assets.poff.ee/img/${supporter.logoBlack.hash}${supporter.logoBlack.ext}`)
                                            else if supporter.logoWhite
                                                img.supporter_logo_item(alt=supporter.customUrl data-src=`https://assets.poff.ee/img/${supporter.logoWhite.hash}${supporter.logoWhite.ext}`  src=`https://assets.poff.ee/img/${supporter.logoWhite.hash}${supporter.logoWhite.ext}`)
